.planning-card-line {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 0 2.1rem;
  border-radius: 0.5rem;
  background-color: var(--color-bg);

  &:hover {
    background-color: var(--color-gray-15);

    .col-comment.authorized {
      .add-comment {
        opacity: 1;
      }
    }
  }

  & > li {
    flex-grow: 0;
    min-width: 4rem;
    min-height: 5rem;
    display: flex;
    align-items: center;

    &.selectable {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .planning-chip {
    padding: 0.3rem 0.6rem;
    border-radius: 1.5rem;
    background-color: var(--color-gray-15);
    position: relative;
    border: 1px solid var(--color-bg);

    .planning-chip-plus {
      position: absolute;
      right: -1.2rem;
      top: -0.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 0.9rem;
      color: var(--color-info);
      background-color: var(--color-bg);

      .material-symbols-outlined {
        font-size: 1.8rem;
      }
    }

    &:hover {
      cursor: default;

      .planning-detail {
        display: flex;
      }
    }

    .planning-detail {
      position: absolute;
      left: 2.5rem;
      padding: 1.5rem 2rem;
      display: none;
      flex-direction: column;
      row-gap: 0.8rem;
      background-color: var(--color-bg);
      border: 1px solid var(--color-gray-30);
      border-radius: 0.5rem;

      li {
        white-space: nowrap;
      }
      z-index: 4;
    }
  }

  &.not-planned {
    .planning-chip {
      padding: 0.2rem 0.6rem;
      color: var(--color-text);
      border-color: var(--color-gray-50);
      background-color: var(--color-bg);
    }
  }

  .col-job {
    &:hover {
      cursor: pointer;
    }
  }

  .job-status.enabled {
    &:hover {
      cursor: pointer;
    }
  }

  &.not-planned {
    color: var(--color-gray-60);
  }

  .col-operation {
    white-space: nowrap;
    text-align: center;
    justify-content: center;
  }

  .col-user {
    white-space: nowrap;
    text-align: center;
    justify-content: center;
  }

  .col-temps {
    white-space: nowrap;
    text-align: center;
    justify-content: center;
  }

  .col-depart {
    text-align: center;
    justify-content: center;
  }

  .col-comment {
    white-space: pre-line;
    min-height: 2rem;

    &.display-add-comment {
      .btn {
        border-radius: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    .add-comment {
      opacity: 0;
    }

    &.authorized {
      .comment {
        width: 100%;
        height: 100%;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .col-files,
  .col-done {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col-sync {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      .hover-error-info {
        display: block;
      }
    }

    .hover-error-info {
      display: none;
      position: absolute;
      padding: 0.8rem;
      white-space: nowrap;
      width: fit-content;
      right: 3rem;
      color: white;
      background-color: var(--color-error);
      border-radius: 0.5rem;
    }
  }
}
