<ul class="planning-card-line" [class.not-planned]="!card.isPlanned">
  <li
    class="col-planning selectable"
    [style.flex]="columns[0].flex"
    (click)="onViewJob()"
  >
    <div class="planning-chip">
      {{ isDayView ? card.ordering : (card.startDate | date: "dd/MM") }}

      @if (displayMergedCard) {
        <div class="planning-chip-plus">
          <span class="material-symbols-outlined">add_circle</span>

          <ul class="planning-detail">
            @for (day of card.days; track day.ordering) {
              <li>{{ day.date | date: "dd/MM" }} - {{ day.time | mpTime }}</li>
            }
          </ul>
        </div>
      }
    </div>
  </li>

  <li
    class="col-job selectable"
    [style.flex]="columns[1].flex"
    (click)="onViewJob()"
  >
    <span [ngClass]="jobNumberColorClass">
      {{ card.jobInfo.number }}
    </span>
  </li>

  <li
    class="col-client selectable"
    [style.flex]="columns[2].flex"
    (click)="onViewJob()"
  >
    <span>{{ card.jobInfo.company }}</span>
  </li>

  <li class="col-statut" [style.flex]="columns[3].flex">
    <job-status
      [statusNumber]="card.jobInfo.statusNumber"
      [isPlanned]="card.isPlanned"
      (click)="onChangeStatus()"
      class="toggle-button job-status"
      [class.enabled]="canUpdateStatus"
    />
  </li>

  <li
    class="col-fab selectable"
    [style.flex]="columns[4].flex"
    (click)="onViewJob()"
  >
    <div class="fab-list">
      <job-devices
        [devices]="card.jobInfo.machines"
        [isPlanned]="card.isPlanned"
      />
    </div>
  </li>

  <li
    class="col-files selectable"
    [style.flex]="columns[5].flex"
    (click)="onViewJob()"
  >
    <job-files-check [statusIndex]="card.jobInfo.filesCheckStatusIndex" />
  </li>

  <li class="col-operation" [style.flex]="columns[6].flex">
    {{ card.operation | mpListItem }}
  </li>

  <li
    class="col-user selectable"
    [style.flex]="columns[7].flex"
    (click)="onViewJob()"
  >
    @if (card.employee && !card.operationUserInfo) {
      <span class="chip chip-sm">
        {{ card.employee | mpEmployee: "short" }}
      </span>
    }

    @if (card.operationUserInfo) {
      <span
        class="chip chip-sm"
        [class.chip-info]="!card.operationUserInfo.active"
        [class.chip-success]="card.operationUserInfo.active"
      >
        {{ card.operationUserInfo!.employee | mpEmployee: "short" }}
      </span>
    }
  </li>

  <li
    class="col-temps selectable"
    [style.flex]="columns[8].flex"
    (click)="onViewJob()"
  >
    {{ card.operationTime | planningTime }}
  </li>

  <li
    class="col-depart selectable"
    [style.flex]="columns[9].flex"
    (click)="onViewJob()"
  >
    <span>
      {{ card.jobInfo.sendingDate | date: "dd/MM" }}
    </span>
  </li>

  <li
    class="col-comment"
    [style.flex]="columns[10].flex"
    [class.authorized]="canChangeComment"
    [class.display-add-comment]="displayAddCommentButton"
  >
    @if (card.jobInfo.comment) {
      <span class="color-info comment" (click)="onEditComment()">
        {{ card.jobInfo.comment.comment }}
      </span>
    }

    @if (displayAddCommentButton) {
      <button class="add-comment btn btn-sm" (click)="onEditComment()">
        Ajouter un commentaire
      </button>
    }
  </li>

  <li
    class="col-done selectable"
    [style.flex]="columns[11].flex"
    (click)="onViewJob()"
  >
    @if (card.completed) {
      <span class="material-symbols-outlined color-success">check_circle</span>
    }
  </li>

  <li class="col-sync" [style.flex]="columns[12].flex">
    <span
      class="xl:d-none chip chip-sm"
      [class.chip-success]="card.jobInfo.sync.status === 'success'"
      [class.chip-error]="card.jobInfo.sync.status === 'error'"
    >
      {{ card.jobInfo.sync.status }}
    </span>

    @if (card.jobInfo.sync.errorMessage) {
      <span class="color-error xl:d-none ml-0-5">
        {{ card.jobInfo.sync.errorMessage }}
      </span>
    }

    @if (card.jobInfo.sync.status === "error") {
      <span class="dot d-none xl:d-block dot-error dot-animated"></span>
    }

    @if (card.jobInfo.sync.errorMessage) {
      <div class="hover-error-info">
        {{ card.jobInfo.sync.errorMessage }}
      </div>
    }
  </li>
</ul>
