<div class="modal-basic">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="heading">Job n°{{ line.jobNumber }}</h2>
    <h3 class="subHeading">Commentaire expéditions</h3>

    <div class="main">
      <label class="label" for="comment">Commentaire</label>
      <textarea
        id="comment"
        class="textarea mt-0-2"
        formControlName="comment"
      ></textarea>
    </div>

    <div class="actions">
      <app-cancel-button modalClose />

      <app-save-button />
    </div>
  </form>
</div>
