<div class="d-flex justify-content-end">
  @if (canManageUsers) {
    <button class="btn" (click)="onAddUser()">Ajouter un utilisateur</button>
  }
</div>

<app-message type="error" [message]="error" class="mt-2" />

<h1 class="mt-2 ml-1">Utilisateurs</h1>

<form [formGroup]="form">
  <app-search
    class="mt-2"
    formControlName="search"
    placeholder="Rechercher un utilisateur..."
    size="large"
  />
</form>

<ul class="list mt-3">
  @for (user of list; track user._id) {
    <li
      class="list-item flex selectable fixed"
      [routerLink]="['..', user._id, 'view']"
    >
      <p>{{ user.completeName | titlecase }}</p>

      <div class="pictos">
        @if (user.isAdmin) {
          <span class="material-symbols-outlined">shield_person</span>
        }

        <span
          class="dot"
          [class.dot-error]="!user.isActive"
          [class.dot-success]="user.isActive"
        ></span>
      </div>
    </li>
  }
</ul>
