<div class="modal-basic">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="heading">Ajouter un statut à la règle</h2>

    <div class="main">
      <app-message type="error" [message]="error" />

      <label class="label required" for="status">Statut</label>
      <app-select
        [items]="statuses$"
        class="select"
        id="status"
        formControlName="status"
        [searchbar]="true"
      />
    </div>

    <div class="actions">
      <app-cancel-button modalClose />
      <app-save-button />
    </div>
  </form>
</div>
