<div class="container" (click)="onViewJob()">
  <div class="heading">
    <div>
      @if (line.sync.status === "error") {
        <span class="dot dot-error dot-animated mr-0-5"></span>
      }
    </div>

    <div>
      <job-status [statusNumber]="line.statusNumber" class="job-status" />
    </div>
  </div>

  <h3 [ngClass]="jobNumberColorClass">
    {{ line.number }}
  </h3>

  <h4 class="fw-400">{{ line.company }}</h4>

  <h5 class="fw-300">{{ line.description }}</h5>

  <div class="mt-2">
    <job-devices [devices]="line.devices" />
  </div>

  <div class="d-flex align-items-center mt-2">
    <span class="material-symbols-outlined mr-0-2">local_shipping</span>

    {{ line.deliveryDate | date: "dd/MM/YYYY" }}
  </div>
</div>
