.container {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: var(--color-gray-12);
  border-radius: 1rem;

  &:hover {
    cursor: pointer;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h3 {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
}
