<div class="modal-basic modal-large">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="heading">Ajouter une résa matière</h2>

    <div class="main">
      <app-message type="error" [message]="error" class="my-2" />

      <label class="label required" for="choice">
        Comment voulez-vous sélectionner la matière
      </label>

      <app-select
        id="choice"
        class="select"
        [items]="choice"
        formControlName="choice"
        placeholder="Type de matière"
      />

      @if (choiceValue) {
        <p class="mt-2"></p>

        @switch (choiceValue) {
          @case (1) {
            <label class="label required" for="paperGenericName">
              Matière générique
            </label>

            <app-select
              id="paperGenericName"
              class="select"
              [items]="paperGenericNames$"
              [searchbar]="true"
              formControlName="paperGenericName"
            />
          }

          @case (2) {
            <label class="label required" for="paperName">
              Matière avec format personnalisé
            </label>

            <app-select
              id="paperName"
              class="select"
              [items]="paperNames$"
              [searchbar]="true"
              formControlName="paperName"
            />
          }

          @case (3) {
            <label class="label required" for="paper">
              Matière et format précis
            </label>

            <app-select
              id="paper"
              class="select"
              [items]="papers$"
              [searchbar]="true"
              formControlName="paper"
            />
          }
        }

        @if (choiceValue && choiceValue !== 3) {
          <div class="size">
            <div>
              <label class="label required" for="width">Largeur</label>
              <input
                id="width"
                type="number"
                class="input"
                formControlName="width"
                [placeholder]="width ? width : ''"
              />
            </div>

            <div>
              <label class="label required" for="height">Hauteur</label>
              <input
                id="height"
                type="number"
                class="input"
                formControlName="height"
                [placeholder]="height ? height : ''"
              />
            </div>
          </div>

          <div class="d-flex align-items-center mt-2">
            <app-switch formControlName="imperativeFormat" class="mr-0-3" />
            Format impératif
          </div>
        }

        <label class="label required" for="quantity">Quantité</label>
        <input
          type="number"
          id="quantity"
          class="input"
          formControlName="quantity"
        />

        <label class="label required" for="printSides">Faces imprimées</label>
        <app-select
          id="printSides"
          class="select"
          [items]="printSides"
          formControlName="printSides"
        ></app-select>

        <label class="label required" for="destination">Destination</label>
        <app-select
          id="destination"
          class="select"
          [items]="destinations"
          placeholder="A quel service est destinéée la résa"
          formControlName="destination"
        ></app-select>

        <label class="label" for="comment">Commentaire</label>
        <textarea
          id="comment"
          class="textarea"
          placeholder="A l'attention du service résa"
          formControlName="comment"
        >
        </textarea>
      }
    </div>

    <div class="actions">
      <app-cancel-button modalClose />
      <app-save-button />
    </div>
  </form>
</div>
