@use "../../../../../../../../../styles/media";

.form {
  width: 100%;
  min-width: 32rem;
  max-width: 58rem;
  padding: 2rem;

  .size {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @include media.sm {
      flex-direction: row;
      column-gap: 1rem;
    }

    div {
      flex: 1;
      display: flex;
      flex-direction: column;

      input {
        margin-top: 0.3rem;
      }
    }
  }
}
