@if (paper) {
  <div>
    <h3 class="mt-3">Informations supplémentaires</h3>

    <dl class="definition mt-1">
      <dt>Face imprimée</dt>
      <dd>{{ paper.displayPrintSide }}</dd>
    </dl>

    <h3 class="mt-3">Format</h3>

    <dl class="definition mt-1">
      <dt>{{ paper.widthLabel }}</dt>
      <dd>{{ paper.width }}</dd>
    </dl>

    <dl class="definition">
      <dt>{{ paper.heightLabel }}</dt>
      <dd>{{ paper.height }}</dd>
    </dl>

    <dl class="definition">
      <dt>Epaisseur</dt>
      <dd>{{ paper.thickness }}</dd>
    </dl>
  </div>
}
