<h3 class="mt-3 mb-1">Historique des mutations</h3>

@if (mutations && mutations.length) {
  <div class="list-container no-scrollbar">
    @for (mutation of mutations; track mutation) {
      <stock-product-mutation-history-item
        [mutation]="mutation"
        [productStockUnit]="productStockUnit"
        [productPackStockUnits]="packStockUnits"
      />
    }

    <div class="effect"></div>
  </div>
} @else if (displayEmptyMessage) {
  <p *ngIf="displayEmptyMessage" class="message">
    Aucune mutation sur ce produit depuis 1 an.
  </p>
} @else if (error) {
  <div class="message-container">
    <p class="message message-error">{{ error }}</p>
  </div>
} @else if (isLoading) {
  <div class="message-container">
    <app-spinner size="md"></app-spinner>
  </div>
}
