.list-container {
  max-height: 60rem;
  overflow-y: auto;
  position: relative;
  border-top: 1px solid var(--color-gray-20);

  .effect {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 10rem;
    background: linear-gradient(rgba(0, 0, 0, 0), var(--color-bg));
  }
}

.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
}
