.container {
  max-width: var(--job-view-main-max-width);
  margin: auto;
  padding: 2rem 1rem 20rem 1rem;

  .delivery {
    font-size: 4rem;
  }

  .heading {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    padding: 1.5rem;
    font-size: 1.7rem;
    color: var(--color-primary);

    .material-symbols-outlined {
      font-size: 3rem;
    }
  }
}
