@if (job && user) {
  <div class="container">
    <div class="d-flex justify-content-end align-items-center">
      @if (isNotPlanned) {
        <span class="chip chip-outline mr-1">Non planifié</span>
      }

      <app-toggle-btn
        label="Mes opérations"
        (toggle)="toggleFilterOnMyOperations()"
        [checked]="filterOnMyOperations"
      />
    </div>

    @for (groupData of planningData; track groupData.group) {
      <h2 class="heading">
        <span class="material-symbols-outlined mr-0-5">package_2</span>
        {{ groupData.group | mpListItem }}
      </h2>

      @for (card of groupData.cards; track card.id) {
        <job-planning-card
          [card]="card"
          [user]="user"
          [worksheets]="getCardWorksheets(card.operation)"
          [canAddWorksheet]="canAddWorksheet(card.operation)"
          [canStopWorksheet]="canStopWorksheet(card.operation)"
          (toggleWorksheet)="onToggleWorksheet($event)"
          (addWorksheet)="onAddWorksheet(card.operation)"
          (stopWorksheet)="onStopWorksheet(card.operation)"
          [worksheetsExpanded]="worksheetsExpanded"
        />
      }
    }
  </div>
}
