@if (columns) {
  <ul class="data-table-heading">
    @for (column of columns; let index = $index; track column) {
      @if (!column.hide) {
        <li
          [ngClass]="column.class"
          (click)="onSortData(index)"
          [class.sortable]="column.sortable"
        >
          @if (column.label) {
            <span>{{ column.label }}</span>
          }

          @if (column.icon) {
            <span class="material-icons">{{ column.icon }}</span>
          }

          @if (displaySortSymbol(index)) {
            <span class="material-icons">{{ headingColumnSortIcon }}</span>
          }
        </li>
      }
    }
  </ul>
}
