@use "../../../../styles/media";

.data-table-heading {
  display: none;
  top: calc(var(--app-navbar-height) + 8rem);
  border-radius: 1rem;
  background-color: var(--color-gray-12);
  position: sticky;
  padding: 0.5rem;

  & > li {
    padding: 1.5rem 0.5rem;
    display: flex;

    align-items: center;

    &.sortable {
      &:hover {
        cursor: pointer;
      }
    }

    .material-icons {
      font-size: 1.7rem;
      width: 1.7rem;
      height: 1.7rem;
    }
  }

  @include media.xl {
    display: flex;
  }
}
