@if (product) {
  <div class="container">
    <div class="mt-2">
      <button class="icon-button" routerLink="..">
        <span class="material-symbols-outlined">chevron_left</span>
      </button>
    </div>

    <h3 class="mt-2 fw-300">{{ product.category }}</h3>

    <h2>{{ product.completeName }}</h2>

    <div class="actions">
      @if (displayCancelButton) {
        <button
          class="btn btn-error toggle-button"
          (click)="onCancelLastMutation()"
        >
          {{ lastMutationLabel }}
        </button>
      }

      @if (displayDecreaseButton) {
        <button class="btn btn-error" (click)="onDecreaseStock()">
          Déstocker
        </button>
      }

      @if (displayManageStockButton) {
        <button class="btn btn-info" (click)="onUpdateStock()">
          Modifier le stock
        </button>
      }
    </div>

    <h3 class="mt-3">Description</h3>

    <dl class="definition mt-1">
      <dt>Code</dt>
      <dd>{{ product.code }}</dd>
    </dl>

    <dl class="definition">
      <dt>Couleur</dt>
      <dd>{{ product.color }}</dd>
    </dl>

    <dl class="definition">
      <dt>Unité de stockage</dt>
      <dd>{{ product.displayStockUnit }}</dd>
    </dl>

    <dl class="definition">
      <dt>Prix de l'unité</dt>
      <dd>{{ product.unitPrice }}</dd>
    </dl>

    <dl class="definition">
      <dt>Fabricant</dt>
      <dd>{{ product.supplier }}</dd>
    </dl>

    <h3 class="mt-3 d-flex align-items-center justify-content-between">
      Nom générique

      @if (displayUpdateGenericNameButton) {
        <button
          class="btn btn-sm btn-info toggle-button"
          (click)="onUpdateGenericName()"
        >
          Modifier
        </button>
      }
    </h3>

    <dl class="definition mt-1">
      <dt>Nom</dt>
      <dd>
        {{ product.genericName ? product.genericName.name : "Non défini" }}
      </dd>
    </dl>
  </div>
}
