@use "../../../../../../styles/media";

.container {
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 0.5rem;
    margin-top: 1rem;

    .btn {
      flex: 1;

      @include media.sm {
        flex: unset;
      }
    }
  }
}
