@if (rule) {
  <div class="container" [class.expanded]="expanded">
    <h3>
      <job-status [statusNumber]="rule.fromStatusNumber" class="mr-1" />

      <span class="title" (click)="onToggle()">
        {{ typeLabel }}
      </span>

      @if (rule.operations.length) {
        <span class="material-symbols-outlined" (click)="onToggle()">
          {{ expanded ? "expand_less" : "expand_more" }}
        </span>
      }

      <span class="material-symbols-outlined action" (click)="onEdit()">
        edit
      </span>

      <span
        class="material-symbols-outlined action toggle-button"
        (click)="onRemove()"
      >
        delete
      </span>
    </h3>

    <div class="data">
      <div class="list-title">
        <span class="flex-fill">Statuts de destination</span>
        <span
          class="material-symbols-outlined action toggle-button"
          (click)="onAddStatus()"
        >
          add
        </span>
      </div>

      @if (rule.toStatuses.length) {
        <ul class="list">
          @for (status of rule.toStatuses; track status._id) {
            <li class="list-item">
              {{ status.statusText }}

              <span
                class="material-symbols-outlined action toggle-button"
                (click)="onRemoveStatus(status._id)"
              >
                delete
              </span>
            </li>
          }
        </ul>
      }

      <div class="list-title">
        <span class="flex-fill">Opérations</span>
        <span
          class="material-symbols-outlined action"
          (click)="onAddOperation()"
          >add</span
        >
      </div>

      @if (rule.operations.length) {
        <ul class="list">
          @for (operation of rule.operations; track operation._id) {
            <li class="list-item">
              {{ operation.operation }}

              <span
                class="material-symbols-outlined action"
                (click)="onRemoveOperation(operation._id)"
              >
                delete
              </span>
            </li>
          }
        </ul>
      }

      <div class="can-cancel">
        Annulation possible par l'utilisateur
        <span
          class="chip chip-sm ml-0-5"
          [class.chip-success]="rule.canCancel"
          [class.chip-error]="!rule.canCancel"
        >
          {{ rule.canCancel ? "Oui" : "Non" }}
        </span>
      </div>
    </div>
  </div>
}
