.container {
  height: 4rem;
  overflow-y: hidden;
  margin: 1rem 0;

  &.expanded {
    height: 100%;
    //margin: 2rem 0;

    h3 {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  h3 {
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: var(--color-gray-12);
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;

    .title {
      flex: 1;
      line-height: 4rem;

      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      background-color: var(--color-gray-15);
    }
  }

  .data {
    padding: 0 1rem 1rem 1rem;
    border: 1px solid var(--color-gray-30);

    .list-title {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      background-color: var(--color-gray-12);
      border-radius: 0.5rem;
      margin-top: 1rem;
      color: var(--color-info);
    }

    .list {
      .list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        padding: 0.3rem 1rem;
      }
    }

    .can-cancel {
      padding: 1rem 1rem 0 1rem;
      margin-top: 1rem;
      border-top: 1px solid var(--color-gray-30);
    }
  }

  .action {
    transition: color 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      color: var(--color-primary);
    }
  }
}
