<div class="d-flex justify-content-end">
  <button class="btn" (click)="onAddRole()" *ngIf="canManageRoles">
    Ajouter un rôle
  </button>
</div>

<p class="message message-error mt-2" *ngIf="error">{{ error }}</p>

<h1 class="mt-2 ml-1">Rôles utilisateur</h1>

<form [formGroup]="form">
  <app-search
    class="mt-2"
    formControlName="search"
    placeholder="Rechercher un rôle..."
    size="large"
  ></app-search>
</form>

<ul class="list mt-3">
  <li
    *ngFor="let role of list"
    class="list-item selectable"
    [routerLink]="['..', role._id, 'view']"
  >
    <P>{{ role.label }}</P>
    <p *ngIf="role.description" class="color-gray-50">{{ role.description }}</p>
  </li>
</ul>
