<div class="modal-basic">
  @if (uploadProgress) {
    <div class="upload-container">
      @if (uploadProgress < 100) {
        <div class="spinner-container">
          <div class="spinner">
            <app-spinner size="lg"></app-spinner>
          </div>

          <span class="progress">{{ uploadProgress }}%</span>
        </div>
      } @else {
        <span class="material-symbols-outlined color-success upload-success">
          check
        </span>
      }
    </div>
  } @else {
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <h3 class="heading">Ajouter un document</h3>

      <div class="main">
        <app-message type="error" [message]="error" class="mb-2" />

        @if (action !== "update") {
          <label for="name" class="label required">Nom</label>
          <input class="input" type="text" formControlName="name" id="name" />
        }

        @if (action !== "updateInfo") {
          <input
            #file
            type="file"
            accept="image/jpg, image/jpeg, application/pdf"
            class="d-none"
            (change)="onFileChange()"
          />
          <button
            type="button"
            class="btn d-flex align-items-center justify-content-center mt-2"
            (click)="file.click()"
          >
            <span class="material-symbols-outlined">cloud_upload</span>
            Sélectionner le fichier
          </button>

          <p class="text-center mt-1">
            {{ fileName || "Aucun fichier sélectionné" }}
          </p>
        }
      </div>

      <div class="actions">
        <app-cancel-button modalClose />
        <app-save-button />
      </div>
    </form>
  }
</div>
