.modal-basic {
  min-width: 50rem;

  .upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40rem;

    .spinner-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8rem;
      height: 8rem;

      .spinner {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .upload-success {
    font-size: 6rem;
  }
}
