<div class="container" *ngIf="job">
  <ng-container *ngIf="job.mp.info.expeditions">
    <h3 class="color-info">Remarque</h3>
    <p class="message mt-1 mb-3">{{ job.mp.info.expeditions }}</p>
  </ng-container>

  <div *ngIf="job.deliveryAddresses && job.deliveryAddresses.length">
    <h3 class="color-info">Adresses</h3>

    <job-delivery-address [address]="address" *ngFor="let address of job.deliveryAddresses"></job-delivery-address>
  </div>
</div>
