<ul class="planning-card-line">
  <li class="col-job" [style.flex]="columns[0].flex">
    <button
      class="d-flex flex-fill"
      (click)="onViewJob()"
      [ngClass]="jobNumberColorClass"
    >
      {{ line.jobNumber }}
    </button>
  </li>

  <li
    [style.flex]="columns[1].flex"
    [class.centered]="columns[1].textAlign === 'center'"
  >
    {{ line.company }}
  </li>

  <li
    [style.flex]="columns[2].flex"
    [class.centered]="columns[2].textAlign === 'center'"
    [class.enabled]="canUpdateStatus"
    class="job-status"
    (click)="onChangeStatus()"
  >
    <job-status [statusNumber]="line.jobStatusNumber" />
  </li>

  <li
    [style.flex]="columns[3].flex"
    [class.centered]="columns[3].textAlign === 'center'"
  >
    <job-devices [devices]="line.devices" />

    @if (line.hasSubcontractingProduction) {
      <span class="chip chip-sm chip-info ml-0-2">ST</span>
    }
  </li>

  <li
    [style.flex]="columns[4].flex"
    [class.centered]="columns[4].textAlign === 'center'"
  >
    {{ line.printingSurface | number: "1.0-1" }}
  </li>

  <li
    [style.flex]="columns[5].flex"
    [class.centered]="columns[5].textAlign === 'center'"
  >
    {{ line.manufacturedPiecesCount }}
  </li>

  <li
    [style.flex]="columns[6].flex"
    [class.centered]="columns[6].textAlign === 'center'"
  >
    @if (line.hasSheetProduction) {
      <span class="dot dot-primary d-none xl:d-block"></span>
    }
  </li>

  <li
    [style.flex]="columns[7].flex"
    [class.centered]="columns[7].textAlign === 'center'"
  >
    @if (line.deliveryServiceFinishs.length > 0) {
      <span class="dot dot-primary d-none xl:d-block"></span>
    }
  </li>

  <li
    [style.flex]="columns[8].flex"
    [class.centered]="columns[8].textAlign === 'center'"
  >
    @if (line.deliverySendingDates.length > 1) {
      <span class="dot dot-error dot-animated d-none xl:d-block"></span>
    }
  </li>

  <li
    [style.flex]="columns[9].flex"
    [class.centered]="columns[9].textAlign === 'center'"
  >
    {{ line.addressZipCodes | appDisplayList }}
  </li>

  <li
    [style.flex]="columns[10].flex"
    [class.centered]="columns[10].textAlign === 'center'"
  >
    {{ line.deliveryMethods | appDisplayList }}
  </li>

  <li
    class="col-comment"
    [style.flex]="columns[11].flex"
    [class.centered]="columns[11].textAlign === 'center'"
    [class.authorized]="canUpdateComment"
    [class.display-add-comment]="displayAddCommentButton"
  >
    <button
      *ngIf="line.comment"
      class="color-info comment"
      (click)="onEditComment()"
    >
      {{ line.comment }}
    </button>

    @if (displayAddCommentButton) {
      <button class="add-comment btn btn-sm" (click)="onEditComment()">
        Ajouter un commentaire
      </button>
    }
  </li>

  <li class="col-sync" [style.flex]="columns[12].flex">
    @if (line.sync.errorMessage) {
      <span class="color-error xl:d-none ml-0-5">
        {{ line.sync.errorMessage }}
      </span>
    }

    @if (line.sync.status === "error") {
      <span class="dot d-none xl:d-block dot-error dot-animated"></span>
    }

    @if (line.sync.errorMessage) {
      <div class="hover-error-info">
        {{ line.sync.errorMessage }}
      </div>
    }
  </li>
</ul>
