.planning-card-line {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 0 2.1rem;
  border-radius: 0.5rem;
  background-color: var(--color-bg);

  &:hover {
    background-color: var(--color-gray-15);

    .col-comment.authorized {
      .add-comment {
        opacity: 1;
      }
    }
  }

  & > li {
    flex-grow: 0;
    min-width: 4rem;
    min-height: 5rem;
    display: flex;
    align-items: center;

    &.centered {
      justify-content: center;
    }
  }

  .col-job {
    &:hover {
      cursor: pointer;
    }
  }

  .job-status {
    &.enabled {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .col-comment {
    white-space: pre-line;
    min-height: 2rem;

    &.display-add-comment {
      display: flex;
      align-items: center;

      .btn {
        border-radius: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    .add-comment {
      opacity: 0;
    }

    &.authorized {
      .comment {
        width: 100%;
        height: 100%;
        text-align: left;
      }
    }
  }

  .col-sync {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      .hover-error-info {
        display: block;
      }
    }

    .hover-error-info {
      display: none;
      position: absolute;
      padding: 0.8rem;
      white-space: nowrap;
      width: fit-content;
      right: 3rem;
      color: white;
      background-color: var(--color-error);
      border-radius: 0.5rem;
    }
  }
}
