<div class="container" [class.expanded]="expanded">
  <h3>
    <div class="title" (click)="onToggle()">
      <span class="ml-1">
        {{ view.planningGroup | mpListItem }}
      </span>

      <span class="chip chip-info ml-1">{{ view.name }}</span>
    </div>

    <span class="material-symbols-outlined toggle" (click)="onToggle()">
      {{ expanded ? "expand_less" : "expand_more" }}
    </span>

    @if (canManagePlanningViews) {
      <span class="material-symbols-outlined action" (click)="onEdit()">
        edit
      </span>

      <span
        class="material-symbols-outlined action toggle-button"
        (click)="onRemove()"
      >
        delete
      </span>
    }
  </h3>

  <div class="data">
    <div class="list-title">
      <span class="flex-fill">Machines</span>

      @if (canManagePlanningViews) {
        <span
          class="material-symbols-outlined action"
          (click)="onAddMachineId()"
        >
          add
        </span>
      }
    </div>

    @if (view.machineIds.length) {
      <ul class="list">
        @for (machineId of view.machineIds; track machineId) {
          <li class="list-item">
            {{ getMachineName(machineId) }}

            @if (canManagePlanningViews) {
              <span
                class="material-symbols-outlined action"
                (click)="onRemoveMachineId(machineId)"
              >
                delete
              </span>
            }
          </li>
        }
      </ul>
    }
  </div>
</div>
