<hr class="mt-2" />

<h3 class="mt-2">Synchronisation des articles</h3>

<p class="message mt-1">
  Permet de resynchroniser la base des articles avec MultiPress
</p>

<div class="mt-2 d-flex align-items-center">
  @if (canSyncAllProducts) {
    <button class="btn btn-primary" (click)="onSyncArticles()">
      Synchroniser les articles
    </button>
  }

  @if (error) {
    <span class="material-symbols-outlined color-error ml-0-5">error</span>
  }

  @if (success) {
    <span class="material-symbols-outlined color-success ml-0-5">done</span>
  }

  @if (isLoading) {
    <app-spinner size="xs" class="ml-0-5"></app-spinner>
  }
</div>

<app-message type="error" [message]="error" />
