.comments {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .initials-container {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    color: var(--color-text);
    background-color: var(--color-gray-30);

    &:last-child {
      background-color: var(--color-info);
    }

    .initials {
      font-weight: 200;
    }
  }
}
