@if (displayComments) {
  <div class="comments">
    @for (comment of comments; track comment._id) {
      <div class="initials-container">
        <span class="initials">{{ comment.userInitials }}</span>
      </div>
    }

    <span class="comment">{{ lastComment }}</span>
  </div>
}
