@use "../../../../../../styles/media";

.logs-level {
  margin-top: 2rem;
  display: flex;
  align-items: center;

  .chip {
    &:hover {
      cursor: pointer;
    }
  }
}

.logs {
  margin-top: 2rem;
  max-height: 40rem;
  overflow-y: auto;
  position: relative;

  ul {
    li {
      display: flex;
      flex-direction: column;

      @include media.lg {
        flex-direction: row;
        align-items: center;
      }

      row-gap: 0.2rem;
      padding: 0.6rem 0;

      .level {
        width: 5rem;
      }

      .date {
        width: 17rem;
        font-weight: 500;
      }

      .comment {
        flex: 1;
      }
    }
  }

  .end-gradient {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 10rem;
    background: linear-gradient(rgba(0, 0, 0, 0), var(--color-bg));
  }
}
