<hr class="mt-2" />

<h3 class="mt-3">Logs de synchronisation des jobs</h3>

<div class="logs-level">
  Niveau de log minimum
  <span
    class="chip chip-info ml-1"
    [class.chip-outline]="logLevel !== LogLevelEnum.log"
    (click)="setLevel(LogLevelEnum.log)"
  >
    log
  </span>

  <span
    class="chip chip-warning ml-0-5"
    [class.chip-outline]="logLevel !== LogLevelEnum.warn"
    (click)="setLevel(LogLevelEnum.warn)"
  >
    warn
  </span>

  <span
    class="chip chip-error ml-0-5"
    [class.chip-outline]="logLevel !== LogLevelEnum.error"
    (click)="setLevel(LogLevelEnum.error)"
  >
    error
  </span>
</div>

<form [formGroup]="form" class="mt-2">
  <app-search
    formControlName="search"
    placeholder="Rechercher dans un log"
    size="large"
  ></app-search>
</form>

<div class="logs no-scrollbar">
  <ul>
    <li
      *ngFor="let log of filteredLogs$ | async"
      [ngClass]="{
        'color-info': log.level === LogLevelEnum.log,
        'color-warning': log.level === LogLevelEnum.warn,
        'color-error': log.level === LogLevelEnum.error
      }"
    >
      <div class="level">
        <span
          class="chip chip-sm"
          [ngClass]="{
            'chip-info': log.level === LogLevelEnum.log,
            'chip-warning': log.level === LogLevelEnum.warn,
            'chip-error': log.level === LogLevelEnum.error
          }"
          >{{ log.level }}</span
        >
      </div>

      <div class="date">
        <span> [{{ log.createdAt | date: "dd/MM/YYYY - h:mm:ss" }}] </span>
      </div>

      <div class="comment">
        {{ log.message }}
      </div>
    </li>
  </ul>

  <div class="end-gradient"></div>
</div>
