<div
  class="app-select"
  [class.opened]="opened"
  [class.app-select-lg]="size === 'large'"
  (clickOutside)="onClickOutside()"
>
  <p
    class="select-elem"
    (click)="onToggle()"
    [class.is-selected]="selected"
    [class.placeholder]="isPlaceholder"
    [class.disabled]="isDisabled"
  >
    {{ displayValue }}

    @if (displayClearValue) {
      <span
        class="material-icons clear-icon toggle-button"
        (click)="onClearValue()"
      >
        close
      </span>
    }
  </p>

  <ul class="app-select-list" #listElem>
    @if (searchbar) {
      <li class="app-select-searchbar">
        <input
          type="text"
          class="app-select-searchbar-input"
          #searchInput
          placeholder="Recherche..."
          [(ngModel)]="search"
          (keyup)="onSearch()"
        />

        @if (displaySearchClearIcon) {
          <span
            class="material-icons search-clear-icon"
            (click)="clearSearch($event)"
          >
            clear
          </span>
        } @else {
          <span class="material-icons search-icon">search</span>
        }
      </li>
    }

    @for (item of filteredList; track item.value) {
      <li
        class="app-select-list-item"
        [class.selected]="selectedItem?.value === item.value"
        (click)="updateValue(item)"
      >
        {{ item.label }}

        @if (selectedItem?.value === item.value) {
          <span class="material-icons color-primary"> check </span>
        }
      </li>
    }
  </ul>
</div>
