.app-select {
  position: relative;

  .select-elem {
    position: relative;
    padding: 0.6rem 1rem;
    height: 3rem;

    border-radius: 0.5rem;
    border: 1px solid var(--color-gray-40);
    outline: 1px solid rgba(0, 0, 0, 0);

    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: var(--font-weigth-base);
    color: var(--color-text);

    transition:
      outline-color ease-in-out 0.2s,
      outline-width ease-in-out 0.2s,
      border-color ease-in-out 0.2s;

    &.disabled {
      &:hover {
        cursor: default;
      }
    }

    &.is-selected {
      outline-width: 0.3rem;
    }

    &.placeholder {
      color: var(--color-gray-40);
    }

    &:hover:not(.disabled) {
      cursor: pointer;
    }

    .clear-icon {
      position: absolute;
      right: 0.8rem;
      top: 0.6rem;
      font-size: 1.6rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .app-select-list {
    position: absolute;
    display: none;
    top: 3.1rem;
    width: 100%;
    background-color: var(--color-bg);
    border-radius: 0.5rem;
    border: 1px solid var(--color-gray-50);
    padding: 0 0.5rem 0.5rem 0.5rem;
    max-height: 26rem;
    overflow-y: auto;
    transition: height 0.3s ease-in-out;
    z-index: 2;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .app-select-list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;
      border-radius: 0.3rem;
      transition: background-color 0.1s ease-in-out;

      &:first-child {
        margin-top: 0.5rem;
      }

      &:hover {
        cursor: pointer;
      }

      &.selected {
      }

      .material-icons {
        font-size: 1.5rem;
      }
    }

    .app-select-searchbar {
      position: sticky;
      top: 0;
      margin-bottom: 0.5rem;

      .app-select-searchbar-input {
        width: 100%;
        padding: 0.7rem 0.5rem;
        border: none;
        border-top: 0.5rem solid var(--color-bg);
        border-radius: 0.3rem;
        outline: none;
        color: var(--color-text);
        font-family: var(--font-family);
      }

      .material-icons {
        color: var(--color-gray-30);
        position: absolute;
      }

      .search-icon {
        font-size: 2rem;
        top: 0.9rem;
        right: 0.5rem;
      }

      .search-clear-icon {
        font-size: 1.6rem;
        top: 1.1rem;
        right: 0.5rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-lg {
    .select-elem {
      height: 3.9rem;
      padding: 1rem;

      .clear-icon {
        top: 1rem;
      }
    }

    .app-select-list {
      top: 4rem;
    }
  }

  &.opened {
    .app-select-list {
      display: block;
      animation-duration: 0.1s;
      animation-name: sideIn;
    }
  }
}

@keyframes sideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// ------ Theme ------

.light,
.dark {
  .select.ng-touched.ng-invalid .select-elem,
  form.ng-invalid.ng-submitted .select.ng-invalid .select-elem {
    border-color: var(--color-error-50);
    color: var(--color-error);

    &.placeholder {
      color: var(--color-error-70);
    }

    &:hover:not(.disabled) {
      border-color: var(--color-error-70);
    }

    &.is-selected {
      border-color: var(--color-error);
      outline-color: var(--color-error-40);
    }
  }
}

// ------ Dark theme ------

.dark .select .app-select {
  .select-elem {
    &:hover:not(.disabled) {
      border-color: var(--color-gray-70);
    }

    &.is-selected {
      border-color: var(--color-gray-90);
      outline-color: var(--color-gray-30);
    }
  }

  .app-select-list {
    .app-select-list-item {
      &.selected,
      &:hover {
        background-color: var(--color-gray-15);
      }
    }

    .app-select-searchbar {
      .app-select-searchbar-input {
        background-color: var(--color-gray-10);
        font-weight: 200;

        &::placeholder {
          color: var(--color-gray-40);
        }
      }
    }
  }
}

// ------ Light theme ------

.light .select .app-select {
  .select-elem {
    &:hover:not(.disabled) {
      border-color: var(--color-gray-80);
    }

    &.is-selected {
      border-color: var(--color-gray);
      outline-color: var(--color-gray-20);
    }
  }

  .app-select-list {
    .app-select-list-item {
      &.selected,
      &:hover {
        background-color: var(--color-gray-10);
      }
    }

    .app-select-searchbar {
      .app-select-searchbar-input {
        background-color: var(--color-gray-5);

        &::placeholder {
          color: var(--color-gray-30);
        }
      }
    }
  }
}
