.container {
  position: relative;

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4rem;
    height: 3.2rem;
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.1s ease-in;

    &:hover {
      background-color: var(--color-gray-20);
    }

    &:active {
      background-color: var(--color-gray-40);
    }

    .material-icons {
      font-size: 2rem;
    }
  }

  .menu {
    display: none;
    position: absolute;
    padding: 1rem 0;
    border-radius: 0.5rem;
    background-color: var(--color-gray-20);
    z-index: 100;

    &.left {
      right: 0;
    }

    &.right {
      left: 0;
    }

    &.top {
      bottom: 0;
    }

    &.bottom {
      top: 0;
    }

    &.expanded {
      display: block;
    }

    .item {
      display: flex;
      align-items: center;
      height: 3.2rem;
      padding: 0.3rem 1rem;
      background-color: var(--color-gray-20);
      transition: background-color 0.2s ease-in-out;

      &:hover:not(.disabled) {
        cursor: pointer;
        background-color: var(--color-gray-30);
      }

      &.info {
        color: var(--color-info);
      }

      &.success {
        color: var(--color-success);
      }

      &.warning {
        color: var(--color-warning);
      }

      &.error {
        color: var(--color-error);
      }

      &.disabled {
        color: var(--color-gray-50);
        cursor: default;
      }

      .icon {
        width: 2.5rem;
        margin-top: 0.3rem;

        .material-symbols-outlined {
          font-size: 1.8rem;
        }
      }

      .label {
        margin-right: 1rem;
        white-space: nowrap;
      }
    }
  }
}
