<div class="container">
  <button class="menu-btn toggle-button" (click)="toggle()">
    <span class="material-icons">more_vert</span>
  </button>

  <ul
    [class.expanded]="expanded"
    [ngClass]="[xDir, yDir, 'menu']"
    (mouseleave)="close()"
  >
    @for (item of items; track item.title) {
      <li
        class="item toggle-button"
        (click)="triggerMenu(item)"
        [ngClass]="['item', item.style ? item.style : '']"
        [class.disabled]="item.disabled"
      >
        <div class="icon">
          @if (item.icon) {
            <span class="material-symbols-outlined">
              {{ item.icon }}
            </span>
          }
        </div>

        <div class="label">
          {{ item.label }}
        </div>
      </li>
    }
  </ul>
</div>
