<div class="container" (clickOutside)="onClose()">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 class="mb-2">Filtres</h1>

    <app-message type="error" [message]="error" class="mt-2" />

    <label class="label required" for="mode">Mode d'affichage</label>
    <app-select
      id="mode"
      class="select"
      [items]="modes"
      formControlName="mode"
    />

    <label class="label required" for="period">Période d'affichage</label>
    <app-select
      id="period"
      class="select"
      [items]="periods"
      formControlName="period"
    />

    <label class="label" for="view">Vue de planning</label>
    <app-select
      id="view"
      class="select"
      [items]="views$"
      formControlName="view"
    />

    <div class="mt-3 d-flex align-items-center">
      <app-switch formControlName="hideNotPlanned" />
      <span class="ml-1"> Masquer les jobs non planifiés </span>
    </div>

    <div class="mt-1 d-flex align-items-center">
      <app-switch formControlName="hideTreated" />
      <span class="ml-1"> Masquer les opérations terminée </span>
    </div>

    <div class="mt-1 d-flex align-items-center">
      <app-switch formControlName="mergeJobOperationCards" />
      <span class="ml-1"> Fusionner les cartes multi-dates </span>
    </div>

    <div class="mt-3 d-flex align-items-center">
      <app-switch formControlName="saveAsDefault" />
      <span class="ml-1"> Enregistrer par défaut </span>
    </div>

    <div class="mt-4">
      <app-cancel-button (click)="onClose()" />

      <app-save-button label="Valider" class="ml-0-5" />
    </div>
  </form>
</div>
