<div class="spinner" [ngClass]="size">
  @switch (size) {
    @case ("md") {
      <svg class="spinner-svg" viewBox="0 0 50 50">
        <circle
          class="path"
          cx="25"
          cy="25"
          r="20"
          fill="none"
          stroke-width="3"
        ></circle>
      </svg>
    }

    @case ("lg") {
      <svg class="spinner-svg" viewBox="0 0 50 50">
        <circle
          class="path"
          cx="25"
          cy="25"
          r="20"
          fill="none"
          stroke-width="2"
        ></circle>
      </svg>
    }

    @case ("xl") {
      <svg class="spinner-svg" viewBox="0 0 50 50">
        <circle
          class="path"
          cx="25"
          cy="25"
          r="20"
          fill="none"
          stroke-width="1"
        ></circle>
      </svg>
    }

    @default {
      <svg class="spinner-svg" viewBox="0 0 50 50">
        <circle
          class="path"
          cx="25"
          cy="25"
          r="20"
          fill="none"
          stroke-width="4"
        ></circle>
      </svg>
    }
  }
</div>
