@use "../../../styles/media";

.container {
  border-top: 1px solid var(--color-gray-30);

  @include media.xl {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
  }

  .module-main {
    height: var(--app-content-min-height);
    overflow-y: auto;

    admin-heading {
      position: sticky;
      top: 0;
      z-index: 4;
    }

    @include media.xl {
      flex: 1;
    }
  }
}
