<div class="container">
  <stock-nav [expanded]="expanded$ | async" />

  <div class="module-main no-scrollbar">
    <app-feature-nav-heading [module]="module" />

    <router-outlet />
  </div>
</div>
