<div class="container" (clickOutside)="closeModal()">
  <form
    class="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    *ngIf="!processing"
  >
    <p class="message message-error mb-2" *ngIf="error">{{ error }}</p>

    <h2 class="text-center">Fiche de travail</h2>
    <p class="text-center mt-2 mb-1">
      Etes-vous sûre de vouloir supprimer cette fiche de travail ?
    </p>

    <ng-container *ngIf="displayStatus">
      <label class="label required" for="statusNumber">
        Passer le statut du job à
      </label>

      <app-select
        [items]="statuses$"
        class="select"
        id="statusNumber"
        formControlName="statusNumber"
      ></app-select>
    </ng-container>

    <div class="d-flex align-items-center mt-3" *ngIf="displayDontChangeStatus">
      <app-switch formControlName="dontChangeStatus"></app-switch>
      <label class="label label-float ml-0-5">
        Ne pas modifier le statut du job
      </label>
    </div>

    <div class="mt-3 d-flex">
      <button class="btn flex-50" type="button" (click)="closeModal()">
        Annuler
      </button>

      <button class="btn btn-error ml-1 flex-50" type="submit">
        Supprimer
      </button>
    </div>
  </form>

  <app-spinner size="lg" *ngIf="processing"></app-spinner>
</div>
