<div class="modal-basic">
  <h2 class="heading">Ajouter un statut</h2>
  <h3 class="subHeading subHeading-info">{{ view.name }}</h3>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="main">
      <app-message type="error" class="mb-2" [message]="error" />

      <label class="label required">Machine</label>
      <app-select
        class="select"
        [items]="machines$"
        formControlName="machineId"
      />
    </div>

    <div class="actions">
      <app-cancel-button modalClose />

      <app-save-button label="Ajouter" />
    </div>
  </form>
</div>
