<div class="container">
  @switch (statusIndex) {
    @case (1) {
      <span class="material-symbols-outlined color-gray-30">help</span>
    }

    @case (2) {
      <span class="material-symbols-outlined color-success">verified</span>
    }

    @case (3) {
      <span class="material-symbols-outlined color-error">error</span>
    }
  }
</div>
