.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  z-index: 200;

  display: flex;
  justify-content: center;

  &.full-screen {
    padding: 0;
  }

  &.top {
    align-items: flex-start;
  }

  &.center {
    align-items: center;
  }
}

.light .modal-container {
  background-color: color-mix(in srgb, var(--color-gray) 50%, transparent);
}

.dark .modal-container {
  background-color: color-mix(in srgb, var(--color-bg) 60%, transparent);
}
