.module-nav {
  height: calc(var(--app-content-min-height) - 5rem);
  overflow-y: auto;
  background-color: var(--color-gray-5);
  padding: 0 1rem 10rem 1rem;

  &.with-worksheet {
    height: calc(var(--app-content-min-height) - 5rem);
  }

  .nav-item {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .chip-sm {
      font-size: 1.1rem;
      min-width: 2rem;
    }
  }
}
