@if (job) {
  <div
    class="module-nav no-scrollbar"
    [class.expanded]="expanded"
    [class.with-worksheet]="displayWorksheets"
    (clickOutside)="onHide()"
  >
    <h3 class="nav-heading">Informations</h3>

    <p
      class="nav-item"
      routerLink="infos"
      routerLinkActive="active"
      (click)="onHide()"
    >
      Infos générales
    </p>

    <p
      class="nav-item"
      routerLink="history"
      routerLinkActive="active"
      (click)="onHide()"
    >
      Historique des changements de statut
    </p>

    @if (remarksCount > 0) {
      <p
        class="nav-item"
        routerLink="remarks"
        routerLinkActive="active"
        (click)="onHide()"
      >
        Remarques
        <span class="chip chip-sm chip-info">{{ remarksCount }}</span>
      </p>
    } @else {
      <p class="nav-item disabled">Remarques</p>
    }

    @if (job.operations?.length) {
      <p
        class="nav-item"
        routerLink="operations"
        routerLinkActive="active"
        (click)="onHide()"
      >
        Opérations
        <span class="chip chip-sm chip-info">{{ job.operations?.length }}</span>
      </p>
    } @else {
      <p class="nav-item disabled">Opérations</p>
    }

    <h3 class="nav-heading">Créa & conception</h3>

    <p
      class="nav-item"
      routerLink="graphic-design-note"
      routerLinkActive="active"
      [class.color-gray-50]="!job.prePress.graphicDesignNote"
      (click)="onHide()"
    >
      Infos création graphique

      @if (job.prePress.graphicDesignNote) {
        <span class="chip chip-sm chip-info">1</span>
      }
    </p>

    <p
      class="nav-item"
      routerLink="design-note"
      routerLinkActive="active"
      [class.color-gray-50]="!job.prePress.designNote"
      (click)="onHide()"
    >
      Infos conception

      @if (job.prePress.designNote) {
        <span class="chip chip-sm chip-info">1</span>
      }
    </p>

    <h3 class="nav-heading">Pré-Presse</h3>

    <p
      class="nav-item"
      routerLink="files-check"
      routerLinkActive="active"
      [class.color-gray-50]="
        job.prePress.filesCheckStatusIndex === 1 && !job.prePress.filesCheck
      "
      (click)="onHide()"
    >
      Vérif fichiers
      <job-files-check [statusIndex]="job.prePress.filesCheckStatusIndex" />
    </p>

    <p
      class="nav-item"
      routerLink="pre-press-note"
      routerLinkActive="active"
      [class.color-gray-50]="!job.prePress.note && !job.mp.info.prePress"
      (click)="onHide()"
    >
      Infos

      @if (job.prePress.note || job.mp.info.prePress) {
        <span class="chip chip-sm chip-info">
          {{ !job.prePress.note || !job.mp.info.prePress ? 1 : 2 }}
        </span>
      }
    </p>

    <p
      class="nav-item"
      routerLink="stock-reservations/list"
      routerLinkActive="active"
      [class.color-gray-50]="!job.stockReservations?.length"
      (click)="onHide()"
    >
      Réservations matières

      @if (job.stockReservations?.length) {
        <span class="chip chip-sm chip-info">
          {{ job.stockReservations?.length }}
        </span>
      }
    </p>

    <h3 class="nav-heading">Production</h3>

    @if (job.subJobs?.length) {
      <p
        class="nav-item"
        routerLink="sub-jobs"
        routerLinkActive="active"
        (click)="onHide()"
      >
        Sous-jobs
        <span class="chip chip-sm chip-info">{{ job.subJobs?.length }}</span>
      </p>
    } @else {
      <p class="nav-item disabled">Sous-jobs</p>
    }

    @if (job.subcontractors?.length) {
      <p
        class="nav-item"
        routerLink="subcontractors"
        routerLinkActive="active"
        (click)="onHide()"
      >
        Sous-traitance
        <span class="chip chip-sm chip-info">
          {{ job.subcontractors?.length }}
        </span>
      </p>
    } @else {
      <p class="nav-item disabled">Sous-traitance</p>
    }

    @if (job.planningData.length) {
      <p
        class="nav-item"
        routerLink="planning"
        routerLinkActive="active"
        (click)="onHide()"
      >
        Planning

        @if (isPlanned) {
          <span class="chip chip-sm chip-info">
            {{ job.planningData.length }}
          </span>
        } @else {
          <span class="chip chip-sm chip-outline">Non planifié</span>
        }
      </p>
    } @else {
      <p class="nav-item disabled">Planning</p>
    }

    <h3 class="nav-heading">Livraison</h3>

    @if (job.deliveryAddresses && job.deliveryAddresses.length) {
      <p
        class="nav-item"
        routerLink="delivery-addresses"
        routerLinkActive="active"
        (click)="onHide()"
      >
        Adresses de livraison

        <span class="chip chip-sm chip-info">
          {{ job.deliveryAddresses.length }}
        </span>
      </p>
    } @else if (!job.deliveryAddresses?.length) {
      <p class="nav-item disabled">Adresses de livraison</p>
    }
  </div>
}
