@if (job) {
  <div class="container">
    <div class="left">
      <button
        class="icon-button border-none"
        (click)="onToggleNav()"
        [routerLink]="from"
      >
        <span class="material-symbols-outlined">chevron_left</span>
      </button>

      <h2>
        <span class="fw-300 ml-0-5 d-none lg:d-inline-block">
          {{ job.mp.company }}
        </span>

        @if (job.mp.description) {
          <span class="fw-300 ml-0-5 color-gray-50 d-none xxxl:d-inline-block">
            ({{ job.mp.description }})
          </span>
        }
      </h2>
    </div>

    <div class="center">
      @if (job.sync.status === "error") {
        <div class="sync">
          <span class="dot dot-error dot-animated"></span>

          @if (job.sync.errorMessage) {
            <div class="hover-error-info">
              {{ job.sync.errorMessage }}
            </div>
          }
        </div>
      }

      <h1>{{ job.mp.number }}</h1>

      @if (displayMailIcon) {
        <button (click)="getMailSubject()">
          <span class="material-symbols-outlined mail-subject">
            {{ copyCheck ? "check" : "mail" }}
          </span>
        </button>
      }
    </div>

    <div class="right">
      <job-status
        [statusNumber]="job.mp.statusNumber"
        (click)="onUpdateStatus()"
        class="job-status toggle-button"
        [class.enabled]="canUpdateStatus"
      />

      <button
        class="icon-button icon-button-sm border-none ml-0-5"
        (click)="onReSyncJob()"
      >
        <span class="material-symbols-outlined">sync</span>
      </button>
    </div>
  </div>
}
