@use "../../../../../../styles/media";

.container {
  padding: 0 1rem;
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-gray-10);
  border-top: 1px solid var(--color-gray-30);
  border-bottom: 1px solid var(--color-gray-30);
  height: 5rem;
  position: sticky;
  top: var(--app-navbar-height);
  z-index: 10;

  @include media.xl {
    display: flex;
  }

  .left {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    white-space: nowrap;

    h2 {
      font-size: 1.4rem;
      display: flex;
    }

    @include media.xl {
      flex: 1;
    }
  }

  .center {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    .sync {
      position: relative;
      width: 1rem;

      .hover-error-info {
        display: none;
        position: absolute;
        bottom: -0.7rem;
        left: 2rem;
        padding: 0.8rem;
        color: white;
        border-radius: 0.5rem;
        background-color: var(--color-error);
        white-space: nowrap;
      }

      &:hover {
        cursor: pointer;

        .hover-error-info {
          display: block;
        }
      }
    }

    h1 {
      font-size: 1.8rem;
      color: var(--color-primary);
    }

    .mail-subject {
      display: none;

      @include media.md {
        display: inline-block;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include media.xl {
      flex: 1;
    }

    .job-status.enabled {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
