<div class="print-container">
  <div class="container" (click)="onClick()" (clickOutside)="onClick()">
    <header>
      <img
        src="../../../../../../assets/images/atc-optima-dark.svg"
        alt="ATC Groupe"
        class="branding"
      />

      <div class="center">
        <span class="material-symbols-outlined planning-icon">package_2</span>

        <h1>
          Planning d'expédition du
          <span class="planning-date">
            {{ date | date: "EEEE dd MMMM y" }}
          </span>
        </h1>

        <span class="printing-date">
          (imprimé le {{ today | date: "EEEE dd MMMM y" }})
        </span>
      </div>

      <span class="jobsCount">{{ data.length }} JOBS</span>
    </header>

    <table>
      <thead>
        <tr>
          <th>OK</th>
          <th>JOB</th>
          <th>C. PROJET</th>
          <th>CLIENT</th>
          <th>STATUT</th>
          <th>FABRICATION</th>
          <th>M2</th>
          <th>EX</th>
          <th>PLK</th>
          <th>D+</th>
          <th>FINITIONS</th>
          <th>CP</th>
          <th>METHODES</th>
          <th>COMMENTAIRE</th>
        </tr>
      </thead>

      <tbody>
        @for (line of data; track line._id; let odd = $odd) {
          <tr [class.odd]="odd">
            <td class="ok"></td>

            <td class="number">{{ line.jobNumber }}</td>

            <td class="jobManager">{{ line.jobManager }}</td>

            <td class="customer">{{ line.company }}</td>

            <td class="status">{{ getStatusLabel(line.jobStatusNumber) }}</td>

            <td class="prod-types">
              {{ line.devices | appDisplayList }}
              @if (line.hasSubcontractingProduction) {
                , ST
              }
            </td>

            <td class="printingSurface">
              {{ line.printingSurface | number: "1.0-1" }}
            </td>

            <td class="manufacturedPiecesCount">
              {{ line.manufacturedPiecesCount }}
            </td>

            <td class="dot-cell">
              @if (line.hasSheetProduction) {
                <span class="dot dot-sm dot-gray-dark"></span>
              }
            </td>

            <td class="dot-cell">
              @if (line.deliverySendingDates.length > 1) {
                <span class="dot dot-sm dot-error"></span>
              }
            </td>

            <td class="finishs">
              @for (finish of line.deliveryServiceFinishs; track finish) {
                <span>{{ finish }}</span>
              }
            </td>

            <td>{{ line.addressZipCodes | appDisplayList }}</td>

            <td>{{ line.deliveryMethods | appDisplayList }}</td>

            <td class="comment">{{ line.comment }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
