.print-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .container {
    width: 420mm;
    height: 297mm;
    background-color: white;
    margin: 0;
    padding: 5mm 8mm;
    color: #444;
    overflow-y: hidden;
    z-index: 1000;

    header {
      height: 15mm;
      border: 1px solid #666;
      border-bottom: 0;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: black;
      color: white;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      .branding {
        height: 8mm;
      }

      .center {
        display: flex;
        align-items: center;

        .planning-icon {
          font-size: 3.5rem;
        }

        h1 {
          font-weight: 300;
          font-size: 1.8rem;
          margin-left: 0.5rem;

          .planning-date {
            font-weight: bold;
          }
        }

        .printing-date {
          flex: 1 1 auto;
          font-style: italic;
          font-weight: 300;
          font-size: 1.4rem;
          margin-left: 1rem;
        }
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 1rem;

      tr {
        &.odd {
          td {
            background-color: #efefef;
          }
        }

        th {
          height: 8mm;
          border: 1px solid #666;
        }

        td {
          height: 5mm;
          line-height: 4mm;
          padding: 0 0.3rem;
          border: 1px solid #666;
          font-weight: 400;
          overflow: hidden;

          &.center {
            text-align: center;
          }

          &.ok {
            width: 20px;
          }

          &.number {
            width: 52px;
            font-weight: 700;
          }

          &.jobManager {
            white-space: nowrap;
            width: 85px;
          }

          &.customer {
            width: 180px;
            white-space: nowrap;
          }

          &.status {
            width: 140px;
          }

          &.prod-types {
            max-width: 80px;
          }

          &.printingSurface {
            width: 40px;
          }

          &.manufacturedPiecesCount {
            width: 40px;
          }

          &.subJobsCount {
            width: 30px;
          }

          &.dot-cell {
            text-align: center;
            width: 30px;
          }

          &.finishs {
            max-width: 75px;
          }

          &.comment {
            width: 240px;
            white-space: pre-line;
          }
        }
      }
    }
  }
}
