<div class="modal-basic modal-large">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="heading">
      Ajouter une règle de changement de statut pour le job
    </h2>

    <div class="main">
      <app-message type="error" [message]="error" />

      <label class="label required" for="type">Action de déclenchement</label>
      <app-select
        [items]="types"
        class="select"
        id="type"
        formControlName="type"
      />

      <p class="text-italic fw-300 color-info mt-0-5">
        Action qui déclenchera le changement de statut éventuel
      </p>

      <label class="label required" for="status">Statut du job</label>
      <app-select
        [items]="statuses$"
        class="select"
        id="status"
        formControlName="status"
        [searchbar]="true"
      />

      <p class="text-italic fw-300 color-info mt-0-5">
        Statut qui déclenchera l'application de la règle
      </p>

      <div class="d-flex align-items-center mt-2">
        <app-switch id="canCancel" formControlName="canCancel"></app-switch>
        <label class="label-float ml-1" for="canCancel">Peut être annulé</label>
      </div>

      <p class="text-italic fw-300 color-info mt-0-5">
        Activer cette option si l'on souhaite que l'utilisateur puisse annuler
        le changement de statut
      </p>
    </div>

    <div class="actions">
      <app-cancel-button modalClose />
      <app-save-button />
    </div>
  </form>
</div>
