<div class="container" [class.not-planned]="!card.isPlanned">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      @if (card.completed) {
        <span class="material-symbols-outlined color-success">
          check_circle
        </span>
      }
    </div>

    <job-status
      class="job-status"
      [statusNumber]="card.jobInfo.statusNumber"
      [isPlanned]="card.isPlanned"
      (click)="onChangeStatus()"
      [class.enabled]="canUpdateStatus"
      size="small"
    />
  </div>

  <div class="heading" (click)="onViewJob()">
    <h2 [ngClass]="jobNumberColorClass">
      {{ card.jobInfo.number }}
    </h2>
    <h3>{{ card.jobInfo.company }}</h3>
    <h4 class="mb-1">{{ card.jobInfo.description }}</h4>

    <job-devices
      class="mt-2"
      [devices]="card.jobInfo.machines"
      [isPlanned]="card.isPlanned"
    />
  </div>

  <div class="planning">
    <span class="material-symbols-outlined mr-0-5">event</span>

    @if (!isDayView && card.days.length === 1) {
      {{ card.startDate | date: "EEEE dd/MM" | titlecase }}
    }

    @if (displayMergedCard) {
      <ul class="multi-dates">
        @for (day of card.days; track day.ordering) {
          <li [class.color-info]="isSameDate(day.date)">
            {{ day.date | date: "EEEE dd/MM" | titlecase }}
            <span class="material-symbols-outlined">timer</span>
            {{ day.time | mpTime }}
          </li>
        }
      </ul>
    } @else {
      <span class="material-symbols-outlined timer">timer</span>
      {{ card.calculatedTime | mpTime }}
    }

    @if (card.employee && !card.operationUserInfo) {
      <span class="chip chip-sm ml-1">
        {{ card.employee | mpEmployee: "short" }}
      </span>
    }

    @if (card.operationUserInfo) {
      <span
        class="chip chip-sm ml-1"
        [class.chip-info]="!card.operationUserInfo.active"
        [class.chip-success]="card.operationUserInfo.active"
      >
        {{ card.operationUserInfo!.employee | mpEmployee: "short" }}
      </span>
    }
  </div>

  <div class="info">
    <span class="material-symbols-outlined">picture_as_pdf</span>
    <job-files-check [statusIndex]="card.jobInfo.filesCheckStatusIndex" />
  </div>

  <div class="info">
    <span class="material-symbols-outlined">touch_app</span>

    {{ card.operation | mpListItem }}
  </div>

  <div class="info">
    <span class="material-symbols-outlined">local_shipping</span>

    {{ card.jobInfo.sendingDate | date: "EEEE dd/MM" | titlecase }}
  </div>

  @if (card.operationTime) {
    <div class="info">
      <span class="material-symbols-outlined">timer</span>

      {{ card.operationTime | planningTime }}
    </div>
  }

  @if (card.jobInfo.comment) {
    <p
      class="comment"
      [class.enabled]="canChangeComment"
      (click)="onEditComment()"
    >
      {{ card.jobInfo.comment.comment }}
    </p>
  }

  @if (displayAddCommentButton) {
    <button
      class="icon-button icon-button-sm comment-button border-none"
      (click)="onEditComment()"
    >
      <span class="material-symbols-outlined">comment</span>
    </button>
  }
</div>
