.container {
  padding: 1rem;
  background-color: var(--color-gray-12);
  border-radius: 1rem;
  position: relative;

  &.not-planned {
    background-color: var(--color-bg);
    border: 1px solid var(--color-gray-40);
  }

  .job-status.enabled:hover {
    cursor: pointer;
  }

  .heading {
    &:hover {
      cursor: pointer;
    }
  }

  h2 {
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-top: 1rem;
  }

  h3 {
    margin-top: 0.4rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .planning {
    margin: 1.5rem 0;
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-gray-30);
    border-bottom: 1px solid var(--color-gray-30);

    .timer {
      margin-left: 0.5rem;
      font-size: 2rem;
    }

    .multi-dates {
      padding: 0 0.5rem;

      li {
        padding: 0.2rem;
        display: flex;
        align-items: center;

        .material-symbols-outlined {
          margin-left: 0.5rem;
          font-size: 1.8rem;
        }
      }
    }
  }

  .info {
    display: flex;
    align-items: center;
    height: 2.4rem;

    .material-symbols-outlined {
      color: var(--color-gray-50);
      font-size: 1.8rem;
      margin-right: 1rem;
    }
  }

  .comment {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-gray-10);
    white-space: pre-line;
    color: var(--color-info);

    &.enabled {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .comment-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    padding: 0.1rem 0.5rem;
    transition: opacity 0.2s ease-in-out;
  }
}
