.container {
  padding: 2rem;
  margin: 3rem 0;
  background-color: var(--color-gray-10);
  border-radius: 1rem;

  h2 {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 0.3rem;

    .material-icons {
      font-size: 2rem;
      margin-right: 0.5rem;
    }
  }

  .definition {
    &:hover {
      background-color: unset;
    }
  }

  .dates {
    ul {
      li {
        display: flex;
        align-items: center;

        &:first-child {
          height: 1.6rem;
        }

        &:nth-child(2) {
          margin-top: 0.4rem;
        }

        &:not(:first-child) {
          padding: 0.4rem 0;
          border-top: 1px solid var(--color-gray-20);
        }

        .date {
          width: 12rem;
        }

        .material-symbols-outlined {
          font-size: 1.8rem;
        }
      }
    }
  }

  .user {
    height: 1.6rem;
    display: flex;
    align-items: center;
  }

  .worksheets {
    margin-top: 3rem;
  }
}
