<div class="container">
  <h2>
    @if (card.completed) {
      <span class="material-icons color-success">task_alt</span>
    }

    @if (isProcessing) {
      <span class="material-icons color-success">play_arrow</span>
    }

    @if (isPaused) {
      <span class="material-icons color-warning">pause</span>
    }

    {{ card.operation | mpListItem }}
  </h2>

  <dl class="definition mt-1">
    <dt>Planification</dt>
    <dd class="dates">
      <ul>
        @for (day of card.days; track day) {
          <li>
            <span class="date">
              {{ day.date | date: "EEEE dd/MM" | titlecase }}
            </span>

            <span class="material-symbols-outlined ml-1">timer</span>
            {{ day.time | mpTime }}
          </li>
        }
      </ul>
    </dd>
  </dl>

  <dl class="definition">
    <dt>Machine</dt>
    <dd>{{ card.machineName }}</dd>
  </dl>

  @if (card.material) {
    <dl class="definition">
      <dt>Matière</dt>
      <dd>{{ card.material }}</dd>
    </dl>
  }

  @if (card.quality) {
    <dl class="definition">
      <dt>Qualité</dt>
      <dd>{{ card.quality | mpListItem }}</dd>
    </dl>
  }

  @if (card.information) {
    <dl class="definition">
      <dt>Information</dt>
      <dd class="color-info">{{ card.information }}</dd>
    </dl>
  }

  @if (cardUser) {
    <dl class="definition">
      <dt>Utilisateur</dt>
      <dd class="user">
        @if (card.operationUserInfo) {
          <span
            class="chip chip-sm"
            [class.chip-info]="!card.operationUserInfo.active"
            [class.chip-success]="card.operationUserInfo.active"
          >
            {{ cardUser }}
          </span>
        }

        @if (card.employee && !card.operationUserInfo) {
          <span class="chip chip-sm">
            {{ card.employee }}
          </span>
        }
      </dd>
    </dl>
  }

  @if (card.operationTime) {
    <dl class="definition">
      <dt>Temps de travail</dt>
      <dd>{{ card.operationTime | mpTime }}</dd>
    </dl>
  }

  @if (worksheets?.length) {
    <div class="worksheets">
      <h4 class="fw-200 d-flex align-items-center mb-2">
        <span class="material-symbols-outlined color-gray-50 mr-0-5">
          inventory
        </span>
        Fiches de travail
      </h4>

      @for (worksheet of worksheets; track worksheet.id) {
        <job-worksheet
          [worksheet]="worksheet"
          [worksheets]="worksheets"
          [expanded]="worksheetsExpanded[worksheet.id]"
          [user]="user"
          (toggle)="onToggleWorksheet(worksheet.id)"
        />
      }
    </div>
  }

  @if (canAddWorksheet || canStopWorksheet) {
    <div class="actions mt-3">
      @if (canAddWorksheet) {
        <button class="btn btn-sm btn-success" (click)="onAddWorksheet()">
          Démarrer
        </button>
      }

      @if (canStopWorksheet) {
        <button class="btn btn-sm btn-error" (click)="onStopWorksheet()">
          Arrêter
        </button>
      }
    </div>
  }
</div>
