<div class="container">
  @if (displayLoader) {
    <app-spinner size="xl" />
  } @else if (displayEmptyPlanningMessage) {
    <app-empty-message text="Aucun départ prévu pour ce jour..." />
  } @else if (displayEmptySearchMessage) {
    <app-empty-message text="Aucun résultat pour cette recherche..." />
  } @else if (displayErrorMessage) {
    <p class="message message-error">
      {{ fetchError }}
    </p>
  }
</div>
