@if (paper) {
  @if (columns) {
    <ul
      class="line-container"
      [routerLink]="[paper.id]"
      [class.warning]="paper.isAtStockAlert"
      [class.danger]="paper.isUnderStockAlert"
    >
      <li
        [style.flex]="columns[0].flex"
        [style.text-align]="columns[0].textAlign"
      >
        {{ paper.category }}
      </li>

      <li
        [style.flex]="columns[1].flex"
        [style.text-align]="columns[1].textAlign"
      >
        {{ paper.name }}
      </li>

      <li
        [style.flex]="columns[2].flex"
        [style.text-align]="columns[2].textAlign"
      >
        <ng-container *ngIf="paper.genericName">{{
          paper.genericName.name
        }}</ng-container>
      </li>

      <li
        [style.flex]="columns[3].flex"
        [style.text-align]="columns[3].textAlign"
      >
        {{ paper.width }}
      </li>

      <li
        [style.flex]="columns[4].flex"
        [style.text-align]="columns[4].textAlign"
      >
        {{ paper.height }}
      </li>

      <li
        [style.flex]="columns[5].flex"
        [style.text-align]="columns[5].textAlign"
      >
        {{ paper.freeStock }}
      </li>

      <li
        [style.flex]="columns[6].flex"
        [style.text-align]="columns[6].textAlign"
        class="file"
      >
        @if (paper.files && paper.files.length) {
          <span class="material-symbols-outlined">picture_as_pdf</span>
        }
      </li>
    </ul>
  }

  <div
    class="card-container"
    [class.warning]="paper.isAtStockAlert"
    [class.danger]="paper.isUnderStockAlert"
    [routerLink]="[paper.id]"
  >
    <div class="left">
      <h4>{{ paper.category }}</h4>
      <h3 class="fw-300">{{ paper.name }}</h3>
      <p class="mt-1">
        {{ paper.displaySize }}
      </p>
    </div>

    <div class="right">
      <div class="d-flex align-items-center">
        <span [ngClass]="['chip', 'chip-sm', chipStockClass]">
          {{ paper.displayFreeStock }}
        </span>

        @if (paper.files && paper.files.length) {
          <span class="material-symbols-outlined ml-0-5"> picture_as_pdf </span>
        }
      </div>
    </div>
  </div>
}
