<hr class="mt-2" />

<h3 class="mt-2">Synchronisation d'un job</h3>

<form class="form" [formGroup]="syncOneForm" (ngSubmit)="syncOne()">
  <app-message type="error" [message]="syncOneError" />

  <div class="sync-job-form-line">
    <label class="label label-float required" for="mpNumber"
      >Numéro du job</label
    >
    <input
      type="number"
      id="mpNumber"
      class="input"
      formControlName="mpNumber"
    />

    @if (syncOneActive) {
      <app-spinner size="sm"></app-spinner>
    } @else {
      <button class="btn btn-primary">Synchroniser</button>
    }
  </div>
</form>

<hr class="mt-2" />

<h3 class="mt-3">Synchroniser tous les jobs actifs</h3>

@if (!syncAllError && !syncAllResult) {
  <p class="mt-1 message">
    Attention: cette opération est relativement longue (plusieurs minutes) et
    gourmande en ressource. Il faut éviter de la déclencher trop souvent
  </p>
}

<app-message type="error" [message]="syncAllError" />

@if (syncAllResult) {
  <p class="message message-outline mt-1" [ngClass]="syncAllMessageClass">
    {{ syncAllResult.jobsSyncCount }} jobs ont été synchronisés en
    {{ syncAllResult.syncTime }}
  </p>
}

@if (!syncAllActive && canSyncAllJobs) {
  <button class="btn btn-primary mt-1" (click)="syncAllActiveJobs()">
    Synchroniser tous les jobs actifs
  </button>
}

@if (syncAllActive) {
  <div class="d-flex align-items-center mt-1">
    Synchronisation des jobs en cours. Veuillez patienter...
    <app-spinner size="md" class="ml-1"></app-spinner>
  </div>
}

<hr class="mt-2" />

<h3 class="mt-3">Délai de re-synchronisation des jobs</h3>

<p class="message mt-1">
  Ce paramètre est utilisé dans le planning d'expédition pour forcer une
  re-synchronisation des jobs affichés. La raison de cette action est que
  MultiPress n'émet pas de notification de modification d'un job lorsqu'une
  addresse de livraison est modifiée.
</p>

<form class="form" [formGroup]="reSyncForm" (ngSubmit)="saveSyncInterval()">
  <app-message class="mt-1" type="error" [message]="syncIntervalError" />

  <div class="sync-job-form-line">
    <label class="label label-float required" for="sync-interval"
      >Délai de re-synchronisation</label
    >
    <input
      type="number"
      id="sync-interval"
      class="input"
      formControlName="syncInterval"
    />
    <span>secondes</span>
    <app-save-button class="ml-1" />
  </div>
</form>
