@use "../../../../../../styles/media";

.sync-job-form-line {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include media.md {
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
  }
}
