<div class="search-input" [ngClass]="class" [class]="size">
  <input
    type="text"
    class="input"
    [class.input-lg]="size === 'large'"
    [placeholder]="placeholder"
    [(ngModel)]="innerValue"
    (keyup)="updateValue()"
    #input
  />

  @if (innerValue) {
    <span class="material-icons close" (click)="clearValue()">close</span>
  } @else {
    <span class="material-icons search">search</span>
  }
</div>
