.search-input {
  position: relative;

  .input {
    width: 100%;
  }

  .material-icons {
    position: absolute;
    right: 0.7rem;
    top: 0.7rem;
    font-size: 1.6rem;
    color: var(--color-gray-30);

    &.close {
      &:hover {
        cursor: default;
      }
    }
  }

  &.large {
    .material-icons {
      top: 1.1rem;
      right: 1rem;
    }
  }
}
