.container {
  .list {
    .list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .actions {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        .action-btn {
          transition: color 0.2s ease-in-out;

          &:hover {
            cursor: pointer;
            color: var(--color-primary);
          }
        }
      }

      &:hover {
        .actions {
          opacity: 1;
        }
      }
    }
  }

  .message {
    line-height: 1.8rem;
  }
}
