@if (rules) {
  <div class="container">
    <h2 class="mt-2 color-primary">Changement de statut du job</h2>

    <div class="message mt-2">
      <h3 class="color-info">Explications</h3>
      <p class="mt-1">
        Lorsqu'une fiche d'enregistrement de temps est ajoutée sur le job, le
        système évalue les règles automatiques de changement de statut du job
        définies ci-dessous. Si certaines conditions sont remplies, le statut du
        job changera soit automatiquement soit, si plusieurs statuts sont
        possibles, un choix sera proposé à l'utilisateur.
      </p>

      <h3 class="mt-2 color-info">Pré-requis</h3>
      <p class="mt-1">
        Pour qu'une règle soit évaluée, le statut actuel du job doit
        correspondre à celui défini dans la règle, et il doit y avoir au minimum
        une opération définie dans cette règle.
      </p>

      <h3 class="mt-2 color-info">Déclencheur</h3>
      <p class="mt-1">
        Il existe plusieurs déclencheurs possible. L'évaluation des règles se
        fera à chaque fois qu'un utilisateur ajoute, modifie ou supprime une
        fiche d'enregistrement de temps sur une des opérations définies dans la
        règle.
      </p>
    </div>

    <h3 class="d-flex justify-content-between mb-1 mt-3">
      Liste des statuts paramétrés
      <button class="btn btn-sm" (click)="onAddRule()">Ajouter</button>
    </h3>

    @for (rule of rules; track rule._id) {
      <admin-job-status-change-rule
        [rule]="rule"
        [expanded]="expandedRuleIds[rule._id]"
        (remove)="onRemoveRule($event)"
        (edit)="onEditRule($event)"
        (addStatus)="onAddRuleStatus($event)"
        (removeStatus)="onRemoveRuleStatus($event)"
        (addOperation)="onAddRuleOperation($event)"
        (removeOperation)="onRemoveRuleOperation($event)"
        (toggle)="onToggleRule($event)"
      />
    }
  </div>
}
