@use "../../../../../styles/media";

.machine-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  position: sticky;
  top: calc(var(--app-navbar-height) + 14rem);
  color: var(--color-primary);
  background-color: var(--color-bg);
  border: 1px solid var(--color-gray-20);
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 2;

  .material-symbols-outlined {
    font-size: 2.6rem;
    margin-right: 0.2rem;
  }

  @include media.lg {
    top: calc(var(--app-navbar-height) + 8rem);
    margin-bottom: 2rem;
  }

  @include media.xxl {
    margin-top: 2rem;
    top: calc(var(--app-navbar-height) + 14rem);
  }
}
