<div class="container">
  <h2>Note</h2>

  <form [formGroup]="form">
    <div class="saving-info">
      @if (isLoading) {
        <app-spinner size="xs" />
      }

      @if (!error && !isLoading) {
        <span class="material-symbols-outlined color-success">done</span>
      }

      @if (error) {
        <div class="error">
          <span class="material-symbols-outlined color-error">error</span>
          {{ error }}
        </div>
      }
    </div>

    <app-text-editor formControlName="designNote" />
  </form>
</div>
