<div class="modal-basic" (clickOutside)="onClose()">
  <h2 class="heading">Formats matière</h2>
  <h3 class="subHeading subHeading-info">{{ paperName }}</h3>

  <div class="main">
    <app-message type="error" [message]="error" />

    <ul>
      @for (paper of papers; track paper.id) {
        <li>
          {{ paper.displaySize }}
          <span class="color-gray-50 ml-0-5">
            [ {{ paper.displayFreeStock }} en stock ]
          </span>
        </li>
      }
    </ul>
  </div>

  <div class="actions">
    <button class="btn" (click)="onClose()">Fermer</button>
  </div>
</div>
