<div class="modal-basic">
  @if (processing) {
    <div class="d-flex align-items-center justify-content-center">
      <app-spinner size="lg" />
    </div>
  } @else {
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2 class="heading">Job n°{{ jobInfo.number }}</h2>
      <h3 class="subHeading">Planning {{ planningGroup | mpListItem }}</h3>

      <div class="main">
        <app-message type="error" [message]="error" />

        <label class="label" for="comment">Commentaire</label>
        <textarea
          id="comment"
          class="textarea mt-0-2"
          formControlName="comment"
          #comment
        ></textarea>
      </div>

      <div class="actions">
        <app-cancel-button modalClose />
        <app-save-button />
      </div>
    </form>
  }
</div>
