.container {
  max-width: var(--job-view-main-max-width);
  margin: auto;
  padding: 3rem 1rem 20rem 1rem;

  h3 {
    span {
      font-size: 1.4rem;
    }
  }

  .definition {
    dt {
      max-width: 18rem;
    }
  }
}
