@if (job) {
  <div class="container">
    <h3 class="mb-1 d-flex align-items-center justify-content-between">
      Historique
      <span class="fw-500 color-gray-50">
        {{ job.mp.statusHistory.length }} modifications
      </span>
    </h3>

    @for (
      status of job.mp.statusHistory;
      track status.status;
      let index = $index
    ) {
      <dl class="definition">
        <dt>
          <span class="chip chip-sm chip-info mr-0-5">{{ index + 1 }}</span>
          <span>{{ status.date }} {{ status.time }}</span>
        </dt>
        <dd>
          <span class="chip chip-sm">{{ status.status }}</span>
          {{ status.reason }}
        </dd>
      </dl>
    }
  </div>
}
