<div class="modal-basic">
  <h2 class="heading">{{ title }}</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <div class="main">
      <label class="label required" for="label">Nom</label>
      <input type="text" class="input" id="label" formControlName="label" />

      <label class="label required" for="description">Description</label>
      <textarea
        class="textarea"
        id="description"
        formControlName="description"
      ></textarea>
    </div>

    <app-message type="error" class="mt-2" [message]="error" />

    <div class="actions">
      <app-cancel-button modalClose />

      <app-save-button />
    </div>
  </form>
</div>
