<div class="container">
  <exp-heading
    [date]="date"
    [searchValue]="searchValue"
    (setPrevDate)="onSelectPrevDate()"
    (setNextDate)="onSelectNextDate()"
    (resetDate)="onResetDate()"
    (startSearch)="onStartSearch()"
    (search)="onSearch($event)"
    (clearSearch)="onClearSearch()"
    (printPlanning)="onPrintPlanning()"
  />

  @if (displayData) {
    <div class="data-heading">
      <app-data-heading
        *appShow="'xl'"
        [columns]="columns"
        [sortColumn]="sortColumn$ | async"
        (sort)="onSort($event)"
      />
    </div>

    <ng-container *appShow="'xl'">
      @for (line of data; track line._id) {
        <exp-planning-card-line
          [line]="line"
          [canUpdateStatus]="canUpdateStatus"
          [canUpdateComment]="canUpdateComment"
          [columns]="columns"
          (editComment)="onUpdateComment(line)"
          (changeStatus)="onUpdateJobStatus(line)"
          (viewJob)="onViewJob(line.jobNumber)"
        />
      }
    </ng-container>

    <ng-container *appHide="'xl'">
      @for (line of data; track line._id) {
        <exp-planning-card
          [line]="line"
          [canUpdateStatus]="canUpdateStatus"
          [canUpdateComment]="canUpdateComment"
          [columns]="columns"
          (editComment)="onUpdateComment(line)"
          (changeStatus)="onUpdateJobStatus(line)"
          (viewJob)="onViewJob(line.jobNumber)"
        />
      }
    </ng-container>
  }

  @if (displayMessage) {
    <exp-message
      [isLoading]="isLoading"
      [fetchError]="fetchError"
      [linesCount]="linesCount"
      [searchValue]="searchValue"
    />
  }
</div>
