@use "../../../../styles/media";

.container {
  width: 100%;
  max-width: 210rem;
  margin: 0 auto;
  padding: 0 1rem 20rem 1rem;

  .data-heading {
    position: sticky;
    top: calc(var(--app-navbar-height) + 8rem);
  }
}
