<div class="container">
  <h1>Synchronisation des données MultiPress</h1>

  <h2 class="mt-2 color-primary">Jobs</h2>
  <admin-jobs-sync />
  <admin-jobs-sync-logs></admin-jobs-sync-logs>

  <h2 class="mt-4 color-primary">Stock</h2>
  <admin-stock-sync />
</div>
