@if (subJob) {
  <div class="container">
    <h2>
      Checklist

      <button (click)="copyChecklist()">
        <span class="material-symbols-outlined">
          {{ copyCheck ? "check" : "content_copy" }}
        </span>
      </button>
    </h2>

    <dl>
      <dt>Ref prod ATC</dt>
      <dd>{{ subJob.reference }}</dd>
    </dl>

    <dl>
      <dt>Format</dt>
      <dd>{{ subJob.mp.checklist.format }}</dd>
    </dl>

    <dl>
      <dt>Quantité</dt>
      <dd>{{ subJob.mp.quantity }} ex</dd>
    </dl>

    <dl>
      <dt>Description</dt>
      <dd>{{ subJob.mp.checklist.description }}</dd>
    </dl>

    @if (subJob.mp.checklist.pao) {
      <dl>
        <dt>PAO</dt>
        <dd>{{ subJob.mp.checklist.pao }}</dd>
      </dl>
    }

    @if (subJob.mp.checklist.print) {
      <dl>
        <dt>Impression</dt>
        <dd>{{ subJob.mp.checklist.print }}</dd>
      </dl>
    }

    @if (subJob.mp.checklist.material) {
      <dl>
        <dt>Matière</dt>
        <dd>{{ subJob.mp.checklist.material }}</dd>
      </dl>
    }

    @if (subJob.mp.checklist.finishing) {
      <dl>
        <dt>Finition</dt>
        <dd>{{ subJob.mp.checklist.finishing }}</dd>
      </dl>
    }

    @if (subJob.mp.checklist.packaging) {
      <dl>
        <dt>Emballage</dt>
        <dd>{{ subJob.mp.checklist.packaging }}</dd>
      </dl>
    }

    @if (subJob.mp.checklist.delivery) {
      <dl>
        <dt>Livraison</dt>
        <dd>{{ subJob.mp.checklist.delivery }}</dd>
      </dl>
    }

    @if (subJob.mp.checklist.application) {
      <dl>
        <dt>Pose</dt>
        <dd>{{ subJob.mp.checklist.application }}</dd>
      </dl>
    }

    @if (subJob.mp.checklist.remark) {
      <dl>
        <dt>Remarque</dt>
        <dd>{{ subJob.mp.checklist.remark }}</dd>
      </dl>
    }
  </div>
}
