.container {
  h2 {
    font-weight: 300;
    color: var(--color-info);
    font-size: 1.9rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    .material-symbols-outlined {
      font-size: 2rem;
      margin-left: 1.4rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  dl {
    font-size: 1.3rem;
    display: flex;
    padding: 0.2rem;
    transition: background-color ease-in-out 0.2s;
    line-height: 1.9rem;
    border-radius: 0.5rem;

    dt {
      width: 14rem;
      color: var(--color-gray-60);
      flex-shrink: 0;
    }

    dd {
      white-space: pre-line;
    }
  }
}
