@if (line) {
  <div class="modal-basic">
    @if (!processing) {
      <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
        <h2 class="heading">
          Modifier le statut du job n°{{ line.jobNumber }}
        </h2>

        <div class="main">
          <app-message type="error" [message]="error" />

          <label class="label required" for="statusNumber">Statut du job</label>
          <app-select
            [items]="statuses$"
            [searchbar]="true"
            class="select"
            id="statusNumber"
            formControlName="statusNumber"
          />
        </div>

        <div class="actions">
          <app-cancel-button modalClose />

          <app-save-button />
        </div>
      </form>
    } @else {
      <div class="d-flex align-items-center justify-content-center">
        <app-spinner size="lg" />
      </div>
    }
  </div>
}
