<div class="modal-basic">
  <h2 class="heading">Ajouter un role</h2>

  <form [formGroup]="form" (ngSubmit)="onAddRole()" class="form">
    <div class="main">
      <ng-container *ngIf="!hasNoSelectableRole">
        <label for="role" class="label required">Role</label>
        <app-select
          formControlName="role"
          id="role"
          class="select"
          [items]="roles$"
        ></app-select>
      </ng-container>

      <p class="message" *ngIf="hasNoSelectableRole">
        Aucun role supplémentaire disponible pour cet utilisateur
      </p>
    </div>

    <div class="actions">
      <button class="btn" type="button" (click)="onCancel()">Annuler</button>

      <button
        class="btn btn-primary"
        type="submit"
        *ngIf="!hasNoSelectableRole"
      >
        Valider
      </button>
    </div>
  </form>
</div>
