<div class="container">
  <jobs-list-header
    [searchValue]="search"
    (startSearch)="onStartSearch()"
    (search)="onSearch($event)"
    (clearSearch)="onClearSearch()"
  />

  @if (displayList) {
    <div class="data-heading d-none lg:d-block">
      <app-data-heading
        [columns]="columns"
        [sortColumn]="sortColumn$ | async"
        (sort)="onSortData($event)"
      />
    </div>

    <ng-container *appShow="'lg'">
      @for (line of data; track line.number) {
        <jobs-line
          [line]="line"
          [columns]="columns"
          (viewJob)="onViewJob(line.number)"
        />
      }
    </ng-container>

    <ng-container *appHide="'lg'">
      @for (line of data; track line.number) {
        <jobs-card
          [line]="line"
          [columns]="columns"
          (viewJob)="onViewJob(line.number)"
        />
      }
    </ng-container>
  }

  @if (displayMessage) {
    <jobs-list-message
      [error]="error"
      [isLoading]="isLoading"
      [search]="search"
      [jobsCount]="dataCount"
    />
  }
</div>
