@if (job) {
  <div class="container">
    <form [formGroup]="form" class="mt-1">
      <h3 class="color-info ml-1 mt-2">Remarque MultiPress</h3>
      <div class="message mt-1">
        @if (job.mp.info.prePress) {
          <p>{{ job.mp.info.prePress }}</p>
        } @else {
          <p class="color-gray-60 text-italic">
            Pas de remarque pré-presse pour ce job ...
          </p>
        }
      </div>

      <div class="saving-info mt-3">
        @if (noteIsLoading) {
          <app-spinner size="xs" />
        }

        @if (!noteError && !noteIsLoading) {
          <span class="material-symbols-outlined color-success">done</span>
        }

        @if (noteError) {
          <div class="error">
            <span class="material-symbols-outlined color-error">error</span>
            {{ noteError }}
          </div>
        }
      </div>

      <h3 class="ml-1 mb-1 color-info">Info PAO</h3>

      <app-text-editor formControlName="note" />
    </form>
  </div>
}
