<div class="container">
  @if (displayLoader) {
    <app-spinner size="xl" />
  } @else if (displayEmptyPlanningMessage) {
    <div class="empty-message">
      <span class="material-symbols-outlined">search</span>
    </div>
  } @else if (displayEmptySearchMessage) {
    <app-empty-message
      text="Aucun résultat..."
      *ngIf="displayEmptySearchMessage"
    />
  } @else if (displayErrorMessage) {
    <p class="message message-error">
      {{ error }}
    </p>
  }
</div>
