@use "../../../../../../styles/media";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--app-content-min-height) - 22rem);

  .empty-message {
    text-align: center;

    .material-symbols-outlined {
      font-size: 30rem;
      color: var(--color-gray-30);

      @include media.md {
        font-size: 50rem;
      }
    }
  }

  .no-search-result {
    text-align: center;

    .picto {
      font-size: 25rem;
      color: var(--color-gray-30);
    }

    .text {
      margin-top: 1rem;
      font-size: 1.6rem;
    }
  }
}
