@if (reservation && voter) {
  <div class="container">
    <ul class="flex-fill">
      @if (reservation.paperGenericName) {
        <li class="item">
          <span class="title fw-500">Matière générique</span>
          <span class="value color-primary fw-500">
            {{ reservation.paperGenericName.name }}
          </span>
        </li>
      }

      @if (reservation.paperName) {
        <li class="item">
          <span class="title fw-500">Matière</span>
          <span class="value color-primary fw-500">
            {{ reservation.paperName }}
          </span>
        </li>
      }

      @if (displayPaper) {
        <li class="item">
          <span class="title fw-500">Matière & format</span>
          <span class="value color-primary fw-500">
            {{ reservation.paper!.mp.completeName }}
          </span>
        </li>
      }

      <li class="item">
        <span class="title">Format</span>

        <div>
          <span class="value">
            {{ displaySize }}
          </span>

          @if (reservation.imperativeFormat) {
            <span class="chip chip-sm chip-warning ml-0-5">
              Format impératif
            </span>
          }
        </div>
      </li>

      <li class="item">
        <span class="title">Quantité</span>
        <span class="value">{{ reservation.quantity }}</span>
      </li>

      @if (reservation.subtractQuantity !== null) {
        <li class="item">
          <span class="title">Quantité déstockée</span>
          <span class="value">{{ reservation.subtractQuantity }}</span>
        </li>
      }

      <li class="item">
        <span class="title">Faces imprimées</span>
        <span class="value">{{ reservation.printSides }}</span>
      </li>

      <li class="item">
        <span class="title">Destination</span>
        <span class="value">{{ reservation.destination }}</span>
      </li>

      @if (reservation.comment) {
        <li class="item">
          <span class="title">Commentaire</span>
          <span class="value comment">{{ reservation.comment }}</span>
        </li>
      }

      <li class="item">
        <span class="title">Création</span>
        <span class="value comment">
          {{ reservation.createUsername }} le
          {{ reservation.createdAt | date: "dd/MM/yyyy à HH:mm" }}
        </span>
      </li>

      @if (reservation.createdAt !== reservation.updatedAt) {
        <li class="item">
          <span class="title">Dernière modification</span>
          <span class="value comment">
            {{ reservation.updateUsername }} le
            {{ reservation.updatedAt | date: "dd/MM/yyyy à HH:mm" }}
          </span>
        </li>
      }

      @if (reservation.mutationDate) {
        <li class="item">
          <span class="title">Traitement</span>
          <span class="value comment">
            {{ reservation.handleUsername }} le
            {{ reservation.mutationDate | date: "dd/MM/yyyy à HH:mm" }}
          </span>
        </li>
      }

      <li class="item">
        <span class="title d-none md:d-inline-block">Statut</span>
        <div class="value flex-fill">
          <span
            class="chip chip-sm"
            [ngClass]="['chip', 'chip-sm', statusChipColor]"
          >
            {{ reservation.status }}
          </span>
        </div>
      </li>
    </ul>

    <app-menu
      [items]="actionItems"
      (selected)="onSelectAction($event)"
      xDir="left"
      yDir="bottom"
    />
  </div>
}
