@use "../../../../../../../../../styles/media";

.container {
  margin: 2rem 0;
  padding: 1.5rem;

  border-radius: 0.5rem;
  background-color: var(--color-gray-10);
  transition: background-color 0.2s ease-in-out;
  display: flex;

  &:hover {
    background-color: var(--color-gray-12);
  }

  .item {
    display: flex;
    flex-direction: column;
    padding: 0.4rem 0;

    @include media.md {
      flex-direction: row;
      padding: 0.3rem 0;
    }

    .title {
      width: 15rem;
      color: var(--color-gray-50);
    }

    .comment {
      white-space: pre-line;
    }
  }
}
