<div class="container">
  <planning-header
    [setup]="setup"
    [filters]="filters"
    [date]="date$ | async"
    [stateSearch]="search$ | async"
    (setNextDate)="onSetNextDate()"
    (setCurrentDate)="onSetCurrentDate()"
    (setPrevDate)="onSetPrevDate()"
    (changeFilters)="onChangeFilters()"
    (startSearch)="onStartSearch()"
    (search)="onSearch($event)"
    (clearSearch)="onClearSearch()"
    (setFiltersMode)="onChangeFiltersMode($event)"
    (setEmployeesFilter)="onSetEmployeesFilter()"
  />

  @if (displayListData) {
    <div class="data-heading">
      <app-data-heading
        [columns]="columns"
        [sortColumn]="sortColumn$ | async"
        (sort)="onSortData($event)"
        *appShow="'xxl'"
      />
    </div>

    @for (machineData of data; track machineData.id) {
      @if (machineData.cards.length) {
        <planning-machine-heading [name]="machineData.name" />

        <ng-container *appShow="'xxl'">
          @for (card of machineData.cards; track card.computedId) {
            <planning-data-line
              [card]="card"
              [canUpdateStatus]="canUpdateStatus"
              [canChangeComment]="canChangeComment(card.jobInfo.statusNumber)"
              [filters]="filters"
              [columns]="columns"
              (viewJob)="onViewJob(card.jobInfo.number)"
              (changeStatus)="onChangeStatus(card.jobInfo)"
              (editComment)="onEditComment(card.jobInfo)"
            />
          }
        </ng-container>

        <ng-container *appHide="'xxl'">
          <div class="list-column">
            @for (card of machineData.cards; track card.computedId) {
              <planning-data-card
                *ngFor="let card of machineData.cards"
                [card]="card"
                [canUpdateStatus]="canUpdateStatus"
                [canChangeComment]="canChangeComment(card.jobInfo.statusNumber)"
                [filters]="filters"
                [columns]="columns"
                (viewJob)="onViewJob(card.jobInfo.number)"
                (changeStatus)="onChangeStatus(card.jobInfo)"
                (editComment)="onEditComment(card.jobInfo)"
              />
            }
          </div>
        </ng-container>
      }
    }
  }

  @if (displayKanbanData) {
    <div class="kanban-container">
      @for (machineData of data; track machineData.id) {
        <div class="kanban-column">
          <div class="kanban-column-heading">
            <span class="material-symbols-outlined">package_2</span>
            {{ machineData.name }}
          </div>

          @for (card of machineData.cards; track card.computedId) {
            <planning-data-card
              [card]="card"
              [canUpdateStatus]="canUpdateStatus"
              [canChangeComment]="canChangeComment(card.jobInfo.statusNumber)"
              [filters]="filters"
              [columns]="columns"
              (viewJob)="onViewJob(card.jobInfo.number)"
              (changeStatus)="onChangeStatus(card.jobInfo)"
              (editComment)="onEditComment(card.jobInfo)"
            />
          }
        </div>
      }
    </div>
  }
</div>

@if (displayMessage) {
  <planning2-message
    [isLoading]="isLoading"
    [fetchError]="error"
    [isEmpty]="isEmpty"
    [hasFilteredEmptyResult]="hasFilteredEmptyResult"
  />
}
