@use "../../../styles/media";

.container {
  width: 100%;
  max-width: 210rem;
  margin: 0 auto;
  padding: 0 1rem 20rem 1rem;

  .data-heading {
    position: sticky;
    top: calc(var(--app-navbar-height) + 8rem);
    z-index: 20;
  }

  .list-column {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin: 1.5rem 0;
  }

  .kanban-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    column-gap: 3rem;

    @include media.xl {
      flex-direction: row;
    }

    .kanban-column {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: stretch;
      row-gap: 1.5rem;

      .kanban-column-heading {
        font-size: 1.5rem;
        position: sticky;
        top: calc(var(--app-navbar-height) + 14rem);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        color: var(--color-primary);
        background-color: var(--color-bg);
        border: 1px solid var(--color-gray-30);
        border-radius: 1rem;
        z-index: 2;

        @include media.lg {
          top: calc(var(--app-navbar-height) + 8rem);
        }
      }
    }
  }
}
