@if (subJobData) {
  <div class="container" [class.expanded]="expanded">
    <div class="title" (click)="toggleExpanded()">
      <span class="chip chip-info">{{ subJobData.reference }}</span>

      <span class="reference">{{ subJobData.subJobMp.description }}</span>

      <span class="material-icons">
        {{ expanded ? "expand_less" : "expand_more" }}
      </span>
    </div>

    <div class="items">
      @for (item of subJobData.items; track item.description) {
        <div class="item">
          <dl class="definition">
            <dt>Opération</dt>
            <dd class="fw-500">{{ item.description }}</dd>
          </dl>

          @if (item.remark) {
            <dl class="definition">
              <dt>Remarque</dt>
              <dd>{{ item.remark }}</dd>
            </dl>
          }

          <dl class="definition">
            <dt>Quantité</dt>
            <dd>{{ item.quantity }}</dd>
          </dl>

          <dl class="definition">
            <dt>Commandé</dt>
            <dd>{{ item.ordered ? "OUI" : "NON" }}</dd>
          </dl>
        </div>
      }
    </div>
  </div>
}
