<div class="container modal modal-full" *ngIf="job">
  <form
    [formGroup]="form"
    class="form"
    (ngSubmit)="onSubmit()"
    *ngIf="displayForm"
  >
    <p>Opération {{ operation | mpListItem }}</p>
    <h2>Démarrer le travail</h2>

    <p class="message message-error mt-2" *ngIf="error">{{ error }}</p>

    <ng-container *ngIf="!dontChangeStatus">
      <label class="label required" for="statusNumber">Statut du job</label>
      <app-select
        [items]="statuses$"
        class="select"
        id="statusNumber"
        formControlName="statusNumber"
      ></app-select>
    </ng-container>

    <div class="d-flex align-items-center mt-3" *ngIf="canCancel">
      <app-switch formControlName="dontChangeStatus"></app-switch>
      <label class="label label-float ml-0-5">
        Ne pas modifier le statut du job
      </label>
    </div>

    <div class="mt-3 d-flex">
      <button class="btn flex-50" type="button" (click)="onCancel()">
        Annuler
      </button>

      <button class="btn btn-success ml-0-5 flex-50" type="submit">
        Démarrer le travail
      </button>
    </div>
  </form>

  <div class="container" *ngIf="error && !displayForm">
    <p class="message message-error text-center" *ngIf="error">{{ error }}</p>

    <div class="text-center mt-3">
      <button class="btn" type="button" (click)="onCancel()">Fermer</button>
    </div>
  </div>

  <app-spinner size="lg" *ngIf="processing"></app-spinner>
</div>
