<div class="container" [class.disabled]="!data.enabled">
  <form [formGroup]="form" class="form">
    <app-switch formControlName="enabled"></app-switch>

    <ul class="data lg:ml-1 mt-1 lg:mt-0">
      <li class="data-item">
        <div class="label">Matière</div>
        <div class="value material">
          @if (
            data.reservation.paperGenericName || data.reservation.paperName
          ) {
            <app-select
              class="select"
              formControlName="paper"
              [items]="items$"
              placeholder="veuillez sélectionner la matière"
            />
          }

          @if (displayPaper) {
            <span class="color-info">
              {{ data.reservation.paper!.mp.completeName }}
              ({{ data.reservation.paper!.mp.freeStock }} en stock)
            </span>
          }
        </div>
      </li>

      <li class="data-item">
        <div class="label">Format demandé</div>
        <div class="value">
          {{ displaySize }}

          @if (data.reservation.imperativeFormat) {
            <span class="chip chip-sm chip-warning ml-0-5">
              Format impératif
            </span>
          }
        </div>
      </li>

      <li class="data-item">
        <div class="label">Faces imprimées</div>
        <div class="value">{{ data.reservation.printSides }}</div>
      </li>

      <li class="data-item">
        <div class="label">Destination</div>
        <div class="value">{{ data.reservation.destination }}</div>
      </li>
    </ul>

    <div class="flex-fill"></div>

    @if (data.status === "none") {
      <div class="end mt-1 lg:mt-0">
        @if (freeStock !== null) {
          <input
            type="number"
            class="input quantity"
            formControlName="quantity"
          />

          <span class="ml-0-2"> / {{ data.reservation.quantity }} </span>

          <span
            [ngClass]="[
              'chip',
              'chip-sm',
              'chip-stock',
              'ml-1',
              freeStockChipColor,
            ]"
          >
            Stock: {{ freeStock }}
          </span>
        }
      </div>
    }

    @switch (data.status) {
      @case ("pending") {
        <app-spinner size="xs" />
      }
      @case ("success") {
        <span class="material-symbols-outlined color-success">Done</span>
      }
      @case ("error") {
        <span class="material-symbols-outlined color-error">error</span>
      }
    }
  </form>
</div>
