@use "../../../../../../../../../styles/media";

.container {
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid var(--color-gray-30);
  border-radius: 0.5rem;
  background-color: var(--color-bg);
  transition: background-color 0.2s ease-in-out;

  @include media.lg {
    margin-top: -1px;
    margin-bottom: 0;
    border: none;
    border-top: 1px solid var(--color-gray-30);
    border-bottom: 1px solid var(--color-gray-30);
  }

  &:hover:not(.disabled) {
    background-color: var(--color-gray-15);
  }

  &.disabled {
    opacity: 0.6;
  }

  .form {
    display: flex;
    flex-direction: column;

    .quantity {
      width: 5rem;
    }

    .data {
      .data-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.8rem;

        @include media.md {
          flex-direction: row;
          align-items: center;
          height: 3rem;
          column-gap: 0.5rem;
          margin-bottom: 0;
        }

        .label {
          color: var(--color-gray-50);
          margin: 0;
          width: 13rem;
        }

        .value {
          &.material {
            width: 45rem;
          }
        }
      }
    }

    .end {
      display: flex;
      align-items: center;
    }

    .chip-stock {
      width: 8rem;
      text-align: center;
    }

    @include media.lg {
      flex-direction: row;
      align-items: center;
      column-gap: 0.5rem;
    }
  }
}
