@if (statuses) {
  <h3
    class="mt-2 d-flex align-items-center justify-content-between color-primary"
  >
    Statuts des jobs

    @if (canManageMappingData) {
      <button class="btn btn-sm" (click)="onEditJobStatus()">Ajouter</button>
    }
  </h3>

  <p class="text-italic mt-0-5 color-gray-70">
    Permet de raccourcir l'affichage des noms de statuts et de les colorer.
  </p>

  <app-message type="error" [message]="error" />

  <form [formGroup]="form" class="mt-2">
    <div class="d-flex align-items-center">
      <label>Couleur par défaut</label>

      <app-color-picker
        class="color-picker ml-1"
        formControlName="defaultColor"
      />
    </div>

    <app-search
      class="search-input mt-2"
      formControlName="search"
      placeholder="Recherchez un statut..."
      size="large"
    />
  </form>

  @if (filteredList.length) {
    <ul class="list mt-2" *ngIf="filteredList.length">
      @for (status of filteredList; track status._id) {
        <li class="list-item list-item-sm selectable status-item">
          <span
            class="chip chip-sm"
            [style.background-color]="status.bgColor"
            [style.color]="status.textColor"
          >
            {{ status.label }}
          </span>

          <div class="actions">
            @if (canManageMappingData) {
              <span
                class="material-icons action-btn"
                (click)="onEditJobStatus(status)"
              >
                edit
              </span>

              <span
                class="material-icons action-btn toggle-button ml-0-5"
                (click)="onDeleteJobStatus(status)"
              >
                delete
              </span>
            }
          </div>
        </li>
      }
    </ul>
  } @else {
    <p class="message mt-2">
      Aucun statut de job n'est configuré pour l'instant.
    </p>
  }
}
