<div class="container">
  @if (!disabled) {
    <div class="editor-menu">
      <div class="section">
        <button
          class="icon-button icon-button-sm border-none"
          (click)="setParagraph()"
        >
          <span class="material-symbols-outlined">format_paragraph</span>
        </button>

        <span class="mx-0-5 color-primary">|</span>

        <button
          class="icon-button icon-button-sm border-none ml-0-5"
          (click)="toggleHeading(1)"
        >
          <span class="material-symbols-outlined">format_h1</span>
        </button>

        <button
          class="icon-button icon-button-sm border-none ml-0-5"
          (click)="toggleHeading(2)"
        >
          <span class="material-symbols-outlined">format_h2</span>
        </button>

        <button
          class="icon-button icon-button-sm border-none ml-0-5"
          (click)="toggleHeading(3)"
        >
          <span class="material-symbols-outlined">format_h3</span>
        </button>

        <span class="mx-0-5 color-primary">|</span>

        <button
          class="icon-button icon-button-sm border-none ml-0-5"
          (click)="toggleBold()"
        >
          <span class="material-symbols-outlined">format_bold</span>
        </button>

        <button
          class="icon-button icon-button-sm border-none"
          (click)="toggleItalic()"
        >
          <span class="material-symbols-outlined">format_italic</span>
        </button>

        <button
          class="icon-button icon-button-sm border-none"
          (click)="toggleUnderlined()"
        >
          <span class="material-symbols-outlined">format_underlined</span>
        </button>

        <button
          class="icon-button icon-button-sm border-none"
          (click)="toggleHighlight()"
        >
          <span class="material-symbols-outlined">format_ink_highlighter</span>
        </button>

        <span class="mx-0-5 color-primary">|</span>

        <button
          class="icon-button icon-button-sm border-none"
          (click)="toggleBulletList()"
        >
          <span class="material-symbols-outlined">format_list_bulleted</span>
        </button>

        <button
          class="icon-button icon-button-sm border-none"
          (click)="toggleOrderedList()"
        >
          <span class="material-symbols-outlined">format_list_numbered</span>
        </button>

        <button
          class="icon-button icon-button-sm border-none"
          (click)="toggleTaskList()"
        >
          <span class="material-symbols-outlined">checklist</span>
        </button>
      </div>

      <div class="section">
        <span class="mx-0-5 color-primary d-none md:d-inline-block">|</span>

        <button
          class="icon-button icon-button-sm border-none"
          (click)="setBlockQuote()"
        >
          <span class="material-symbols-outlined">format_indent_increase</span>
        </button>

        <button
          class="icon-button icon-button-sm border-none"
          (click)="unsetBlockQuote()"
        >
          <span class="material-symbols-outlined">format_indent_decrease</span>
        </button>

        <span class="mx-0-5 color-primary">|</span>

        <button
          class="icon-button icon-button-sm border-none"
          (click)="setTextAlign('left')"
        >
          <span class="material-symbols-outlined">format_align_left</span>
        </button>

        <button
          class="icon-button icon-button-sm border-none"
          (click)="setTextAlign('center')"
        >
          <span class="material-symbols-outlined">format_align_center</span>
        </button>

        <button
          class="icon-button icon-button-sm border-none"
          (click)="setTextAlign('right')"
        >
          <span class="material-symbols-outlined">format_align_right</span>
        </button>

        <button
          class="icon-button icon-button-sm border-none"
          (click)="setTextAlign('justify')"
        >
          <span class="material-symbols-outlined">format_align_justify</span>
        </button>

        <span class="mx-0-5 color-primary">|</span>

        <button
          class="icon-button icon-button-sm border-none"
          (click)="setHorizontalRule()"
        >
          <span class="material-symbols-outlined">horizontal_rule</span>
        </button>

        <span class="mx-0-5 color-primary">|</span>

        <button class="icon-button icon-button-sm border-none" (click)="undo()">
          <span class="material-symbols-outlined">undo</span>
        </button>

        <button class="icon-button icon-button-sm border-none" (click)="redo()">
          <span class="material-symbols-outlined">redo</span>
        </button>
      </div>
    </div>
  }

  <div class="editor" #editorElem></div>
</div>
