@use "../../../../styles/media";

.container {
  .editor-menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    row-gap: 0.5rem;

    @include media.md {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      border-radius: 0.5rem;
      background-color: var(--color-gray-12);
    }

    .section {
      display: flex;
      align-items: center;
      column-gap: 0.2rem;
      border-radius: 0.5rem;
      background-color: var(--color-gray-12);
      padding-left: 0.5rem;

      @include media.md {
        background: none;

        &:nth-child(2) {
          padding-left: 0;
        }
      }
    }

    .select {
      width: 15rem;
    }
  }
}
