@if (subJob) {
  <div class="container">
    <sub-job-heading [subJob]="subJob" />

    <div class="data">
      <div class="column">
        @if (subJob.mp.paoRemark) {
          <sub-job-comment type="pao" [comment]="subJob.mp.paoRemark" />
        }

        <sub-job-check-list [subJob]="subJob" />
      </div>

      <div class="column">
        @if (subJob.mp.paoCheckRemark) {
          <sub-job-comment type="prd" [comment]="subJob.mp.paoCheckRemark" />
        }

        <sub-job-prod [subJob]="subJob" />

        <sub-job-sub-contract [subcontractors]="subJob.subcontractors" />
      </div>
    </div>
  </div>
}
