@use "../../../../../../../../styles/media";

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 2rem;
  padding: 2rem 1rem;
  background-color: var(--color-gray-12);
  margin-bottom: 3rem;
  border-radius: 1rem;

  @include media.xl {
    padding: 2rem;
  }

  .data {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    row-gap: 2rem;

    @include media.xl {
      flex-direction: row;
      align-items: flex-start;
      column-gap: 2rem;

      .column {
        flex: 1;
      }
    }
  }
}
