.switch {
  display: inline-block;
  border: 1px solid var(--color-gray-50);
  border-radius: 1rem;
  height: 2rem;
  width: 4rem;
  padding: 0.2rem;
  transition: border-color 0.2s ease-in-out;

  &.large {
    height: 2.4rem;
    width: 5rem;

    .switch-pill {
      width: 1.8rem;
      height: 1.8rem;

      &.selected {
        transform: translateX(2.6rem);
      }
    }
  }

  &:hover {
    cursor: pointer;
    border-color: var(--color-gray-80);

    .switch-pill {
      border-color: var(--color-gray-80);
    }
  }

  .switch-pill {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    border: 1px solid var(--color-gray-50);
    border-radius: 1rem;
    transition:
      transform 0.2s ease-in-out,
      border-color 0.2s ease-in-out,
      background-color 0.2s ease-in-out;

    &.selected {
      transform: translateX(2rem);
      background-color: var(--color-gray-70);
    }
  }
}
