<nav [class.expanded]="expanded" (clickOutside)="onHide()">
  <ul class="nav">
    <li class="nav-item account" routerLink="account" routerLinkActive="active">
      <span class="user">{{ user?.completeName | uppercase }}</span>
    </li>

    <ng-container *ngFor="let navItem of navItems">
      <li
        class="nav-item"
        [routerLink]="navItem.route"
        routerLinkActive="active"
        (click)="onHide()"
        *ngIf="!navItem.disabled"
      >
        {{ navItem.label }}
      </li>

      <li class="nav-item disabled" *ngIf="navItem.disabled">
        {{ navItem.label }}
      </li>
    </ng-container>
  </ul>

  <div class="logout" (click)="onLogout()">
    <span class="text">DÉCONNEXION</span>
    <span class="icon material-icons mr-1">power_settings_new</span>
  </div>
</nav>
