nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: var(--app-nav-width);
  height: var(--app-content-min-height);

  color: white;
  background-color: #111;
  border-right: 1px solid #444;
  position: fixed;
  left: calc(0px - var(--app-nav-width));
  transition: transform 0.2s ease-in-out;

  z-index: 10;

  &.expanded {
    transform: translateX(var(--app-nav-width));
  }

  .nav-item {
    font-weight: 300;
    font-size: 1.4rem;
    padding: 1.2rem;

    &:hover {
      cursor: pointer;
      background-color: #222;
    }

    &.active {
      color: var(--color-primary);
    }

    &.disabled {
      color: var(--color-gray-50);
    }

    &.account {
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-color: #222;
    }
  }

  .logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 1.5rem;
    font-size: 1.4rem;

    &:hover {
      cursor: pointer;
      background-color: #222;
    }

    &.active {
      color: var(--color-primary);
    }
  }
}
