.btn {
  min-width: 6rem;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  border: none;
  color: var(--color-gray);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weigth-base);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &-sm {
    font-size: 1.3rem;
    padding: 0.4rem 0.7rem;
  }

  &-fit {
    min-width: unset;
  }
}

.dark .btn {
  background-color: var(--color-gray-30);

  &:hover {
    background-color: var(--color-gray-40);
  }

  &:active {
    transition: none;
    background-color: var(--color-gray-60);
  }
}

.light .btn {
  background-color: var(--color-gray-10);

  &:hover {
    background-color: var(--color-gray-20);
  }

  &:active {
    transition: none;
    background-color: var(--color-gray-40);
  }
}

.light,
.dark {
  .btn-primary {
    color: white;
    background-color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary-80);
    }

    &:active {
      background-color: var(--color-primary-60);
    }
  }

  .btn-success {
    color: black;
    background-color: var(--color-success);

    &:hover {
      background-color: var(--color-success-80);
    }

    &:active {
      background-color: var(--color-success-60);
    }
  }

  .btn-info {
    color: black;
    background-color: var(--color-info);

    &:hover {
      background-color: var(--color-info-80);
    }

    &:active {
      background-color: var(--color-info-60);
    }
  }

  .btn-warning {
    color: white;
    background-color: var(--color-warning);

    &:hover {
      background-color: var(--color-warning-80);
    }

    &:active {
      background-color: var(--color-warning-60);
    }
  }

  .btn-error {
    color: white;
    background-color: var(--color-error);

    &:hover {
      background-color: var(--color-error-80);
    }

    &:active {
      background-color: var(--color-error-60);
    }
  }
}
