.chip {
  padding: 0.3rem 0.8rem;
  border-radius: 1.2rem;
  font-size: 1.3rem;
  background-color: var(--color-gray-30);
  display: inline-block;
  white-space: nowrap;

  &-sm {
    padding: 0.2rem 0.8rem;
    font-size: 1.2rem;
  }

  &-primary {
    background-color: var(--color-primary);
  }

  &-info {
    background-color: var(--color-info);
    color: var(--color-bg);
  }

  &-success {
    background-color: var(--color-success);
    color: var(--color-bg);
  }

  &-warning {
    background-color: var(--color-warning);
    color: var(--color-bg);
  }

  &-error {
    background-color: var(--color-error);
    color: var(--color-bg);
  }

  &-outline {
    background: none;
    border: 1px solid var(--color-gray-50);

    &.chip-info {
      color: var(--color-info);
      border-color: var(--color-info);
    }

    &.chip-success {
      color: var(--color-success);
      border-color: var(--color-success);
    }

    &.chip-warning {
      color: var(--color-warning);
      border-color: var(--color-warning);
    }

    &.chip-error {
      color: var(--color-error);
      border-color: var(--color-error);
    }
  }
}

.light {
  .chip {
    background-color: var(--color-gray-10);
  }
}
