@use "../media";

.data-list {
  // --------------------- Common ---------------------

  .col-sync {
    display: none;

    @include media.xl {
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // --------------------- Heading ---------------------

  .heading {
    display: none;
    border-radius: 0.5rem;
    background-color: var(--color-gray-10);
    position: sticky;
    top: calc(var(--app-navbar-height) + 8rem);
    padding: 0.5rem;

    & > li {
      padding: 1.5rem 0.5rem;
      display: flex;
      align-items: center;
      color: var(--color-primary);

      &.sortable {
        justify-content: space-between;

        &:hover {
          cursor: pointer;
        }
      }

      .material-icons {
        font-size: 1.7rem;
        width: 1.7rem;
        height: 1.7rem;
      }
    }

    @include media.xl {
      display: flex;
    }
  }

  // --------------------- Data ---------------------

  .data {
    padding-bottom: 20rem;

    .data-line {
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      margin-bottom: 2rem;
      padding: 1rem;
      transition: background-color 0.1s ease-in-out;
      border: 1px solid var(--color-gray-40);

      &:hover {
        background-color: var(--color-gray-10);
      }

      @include media.xl {
        min-height: 5rem;
        flex-direction: row;
        align-items: center;
        padding: 0.2rem 0.5rem;
        margin: 0;
        border: none;
      }

      & > li {
        padding: 0.7rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 0.4rem;

        @include media.md {
          flex-direction: row;
          align-items: center;
          row-gap: 0;
        }

        @include media.xl {
          padding: 0.5rem 0.5rem;
          border-bottom: none;
        }

        & > span {
          &.data-heading {
            color: var(--color-gray-60);
            width: 20rem;
          }
        }

        &.col-job {
          font-size: 1.8rem;
          flex-direction: row;
          font-weight: 500;
          background-color: var(--color-gray-15);
          border-radius: 1rem;

          @include media.md {
            background: none;
          }

          @include media.xl {
            font-size: unset;
            padding: 1rem 0.5rem;
          }

          .data-heading {
            color: var(--color-text);
          }
        }

        &.col-statut {
          &:hover {
            cursor: default;

            &.authorized {
              cursor: pointer;
            }
          }
        }

        &.col-fab {
          .fab-list {
            display: flex;
            align-items: center;
            flex-flow: wrap;
            gap: 0.2rem;
          }
        }

        &.col-comment {
          white-space: pre-line;

          &:hover {
            cursor: default;

            &.authorized {
              cursor: pointer;
            }
          }
        }

        &.col-sync {
          display: none;

          @include media.xl {
            display: flex;
          }

          position: relative;

          .hover-error-info {
            display: none;
            position: absolute;
            bottom: 2rem;
            right: 0;
            padding: 0.8rem;
            color: white;
            border-radius: 0.5rem;
            background-color: var(--color-error);
            white-space: nowrap;
          }

          &:hover {
            cursor: pointer;

            .hover-error-info {
              display: flex;
            }
          }
        }
      }
    }
  }
}
