@use "../../styles/media";

.definition {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.8rem 0;
  border-top: 1px solid var(--color-gray-20);
  border-bottom: 1px solid var(--color-gray-20);
  transition: background-color 0.2s ease-in-out;

  @include media.sm {
    flex-direction: row;
    align-items: flex-start;
  }

  & + .definition {
    border-top: none;
  }

  &:hover {
    background-color: var(--color-gray-8);
  }

  dt {
    flex: 1;
    color: var(--color-gray-50);
  }

  dd {
    flex: 2;
  }

  &-1-1 {
    dd {
      flex: 1;
    }
  }
}
