.dot {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;

  &-md {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.4rem;
  }

  &-lg {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
  }

  &-primary {
    background-color: var(--color-primary);
  }

  &-info {
    background-color: var(--color-info);
  }

  &-success {
    background-color: var(--color-success);
  }

  &-warning {
    background-color: var(--color-warning);
  }

  &-error {
    background-color: var(--color-error);
  }

  &-gray-light {
    background-color: var(--color-gray-30);
  }

  &-gray-dark {
    background-color: var(--color-gray-70);
  }

  &-animated {
    display: inline-block;
    animation: dot-animate 1s ease-in-out infinite;
  }
}

@keyframes dot-animate {
  from {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    opacity: 0.2;
  }

  50% {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    opacity: 1;
  }

  to {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    opacity: 0.2;
  }
}
