.icon-button {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.3rem;
  border: 1px solid var(--color-gray-40);
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-gray-20);
    border-color: var(--color-gray-80);
  }

  &-sm {
    .material-symbols-outlined {
      font-size: 1.9rem;
    }
  }

  &.border-none {
    border: none;
  }

  &.rounded {
    border-radius: 1.5rem;
  }

  &:active {
    background-color: var(--color-gray-60);
    transition: none;
  }

  &.disabled {
    color: var(--color-gray-50);

    &:hover,
    &:active {
      cursor: unset;
      background-color: unset;
      border-color: unset;
    }
  }
}
