.list {
  .list-item {
    padding: 0.8rem 1rem;
    border-bottom: 1px solid var(--color-gray-30);
    transition: background-color ease-in-out 0.2s;

    &-sm {
      padding: 0.5rem 0.8rem;
    }

    &:first-child {
      border-top: 1px solid var(--color-gray-30);
    }

    &:hover {
      background-color: var(--color-gray-10);
    }

    .material-icons {
      font-size: 2rem;
    }

    &.selectable {
      &:hover {
        cursor: pointer;
      }
    }

    &.fixed {
      height: 3.8rem;
    }

    &.flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
