.message {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-gray-10);

  &-info {
    color: var(--color-bg);
    background-color: var(--color-info-90);
  }

  &-error {
    color: white;
    background-color: var(--color-error-90);
  }

  &-success {
    color: white;
    background-color: var(--color-success-90);
  }

  &-outline {
    background: none;
    border: 1px solid var(--color-gray-10);

    &.message-error {
      border-color: var(--color-error-90);
    }

    &.message-success {
      border-color: var(--color-success-90);
    }
  }
}
