@use "../../styles/media";

.modal {
  padding: 2rem;
  background-color: var(--color-bg);

  &-full {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal-basic {
  width: 35rem;
  padding: 3rem;
  background-color: var(--color-gray-10);
  border-radius: 1rem;

  &.modal-large {
    width: 100%;
    max-width: 60rem;

    @include media.sm {
      width: 60rem;
    }
  }

  .heading {
    font-size: 2rem;
  }

  .subHeading {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-gray-60);

    &-info {
      color: var(--color-info);
    }
  }

  .main {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.7rem;
    margin-top: 4rem;
  }
}
