@use "../media";

.module-nav {
  position: fixed;
  width: var(--app-nav-width);
  height: var(--app-content-min-height);
  left: calc(0px - var(--app-nav-width));
  padding: 1.5rem;
  transition: transform 0.2s ease-in-out;
  background-color: var(--color-bg);
  border-right: 1px solid var(--color-gray-30);

  z-index: 5;

  &.expanded {
    transform: translateX(var(--app-nav-width));
  }

  @include media.xl {
    position: relative;
    left: unset;
    overflow-y: auto;

    &.expanded {
      transform: unset;
    }
  }

  .nav-heading {
    padding: 1.5rem 1rem 0.5rem 1rem;
    font-size: 1.8rem;
    font-weight: 700;
  }

  .nav-item {
    margin: 0.1rem 0;
    padding: 0.3rem 1rem;
    font-size: 1.4rem;
    border: 1px solid var(--color-bg);
    border-radius: 0.5rem;
    transition:
      background-color 0.2s ease-in-out,
      border-color 0.2s ease-in-out,
      color 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      border-color: var(--color-gray-30);
      background-color: var(--color-gray-10);
    }

    &.active {
      border-color: var(--color-primary);
    }

    &.disabled {
      color: var(--color-gray-50);

      &:hover {
        cursor: unset;
        border-color: var(--color-bg);
        background: none;
      }
    }
  }
}
