<div class="container">
  <div class="modal-basic">
    @if (processing) {
      <app-spinner size="lg" />
    } @else {
      <h2 class="heading">
        {{ action === "stop" ? "Enregistrer" : "Modifier" }} une fiche de
        travail
      </h2>

      <h3 class="subHeading subHeading-info">
        {{ worksheet.operation | mpListItem }}
      </h3>

      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="main">
          <app-message type="error" [message]="error" class="mb-2" />

          <div class="time">
            <div class="label">Temps</div>
            <div class="d-flex align-items-center mt-0-5">
              <input
                id="hours"
                type="number"
                class="input"
                formControlName="hours"
                min="0"
                max="23"
              />
              <label class="mx-1" for="hours">heures</label>

              <input
                id="minutes"
                type="number"
                class="input"
                formControlName="minutes"
                min="0"
                max="59"
              />
              <label class="mx-1" for="minutes">min</label>
            </div>
          </div>

          @if (canSetOperationReady) {
            <div class="d-flex align-items-center mt-2">
              <app-switch formControlName="operationReady" id="op-ready" />
              <label class="label label-float ml-0-5" for="op-ready">
                Opération terminée
              </label>
            </div>
          }

          <label for="remark" class="label">Remarque</label>
          <textarea
            class="textarea"
            id="remark"
            formControlName="remark"
          ></textarea>

          @if (displayStatus) {
            <label class="label required" for="statusNumber">
              Passer le statut du job a
            </label>
            <app-select
              [items]="statuses$"
              class="select"
              id="statusNumber"
              formControlName="statusNumber"
            />
          }

          @if (displayDontChangeStatus) {
            <div class="d-flex align-items-center mt-2">
              <app-switch
                formControlName="dontChangeStatus"
                id="dt-change-status"
              />
              <label class="label label-float ml-0-5" for="dt-change-status">
                Ne pas modifier le statut du job
              </label>
            </div>
          }
        </div>

        <div class="actions">
          <app-cancel-button modalClose />
          <app-save-button />
        </div>
      </form>
    }
  </div>
</div>
