@if (article) {
  <div>
    <h3 class="mt-3">Informations supplémentaires</h3>

    <dl class="definition mt-1">
      <dt>Emballé par</dt>
      <dd>{{ article.packedPer }}</dd>
    </dl>

    <h3 class="mt-3 d-flex align-items-center justify-content-between">
      Unité de stockage personnalisée

      @if (canUpdateStockInfo) {
        <button class="btn btn-sm btn-info" (click)="onUpdateStockInfo()">
          Modifier
        </button>
      }
    </h3>

    <dl class="definition mt-1">
      <dt>Quantité par emballage</dt>
      <dd>{{ article.appStockUnitNumber ?? "Non défini" }}</dd>
    </dl>

    <dl class="definition">
      <dt>Unité de stockage</dt>
      <dd>{{ article.appStockUnitLabel ?? "Non défini" }}</dd>
    </dl>
  </div>
}
