@use "../../../../../../styles/media";

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  position: sticky;
  top: var(--app-navbar-height);

  height: 8rem;
  padding: 0 1rem;

  background-color: var(--color-bg);

  z-index: 1;

  .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include media.sm {
      flex: 1;
    }
  }

  .center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include media.lg {
      justify-content: center;
    }

    .date {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      font-size: 1.7rem;
      font-weight: 600;

      .material-symbols-outlined {
        font-size: 2.6rem;

        @include media.sm {
          font-size: 3rem;
        }
      }
    }
  }

  .right {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    display: none;

    @include media.lg {
      display: flex;
    }
  }

  .action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 1.6rem;
    transition: background-color ease-in-out 0.2s;

    .material-symbols-outlined {
      font-size: 3rem;
    }

    &.reset-date {
      .material-symbols-outlined {
        font-size: 2.4rem;
      }
    }

    &.print {
      .material-symbols-outlined {
        font-size: 2.4rem;
      }
    }

    &:hover {
      background-color: var(--color-gray-20);
    }

    &:active {
      background-color: var(--color-gray-40);
    }
  }
}

.sm-form {
  position: sticky;
  top: calc(var(--app-navbar-height) + 8rem);
  background-color: var(--color-bg);
  padding-bottom: 3rem;
}
