<div class="container">
  <div class="left">
    <button class="action-btn prev-date" (click)="onSetPrevDate()">
      <span class="material-symbols-outlined">chevron_left</span>
    </button>

    <button class="action-btn reset-date" (click)="onResetDate()">
      <span class="material-symbols-outlined">device_reset</span>
    </button>

    <button class="action-btn next-date" (click)="onSetNextDate()">
      <span class="material-symbols-outlined">chevron_right</span>
    </button>
  </div>

  <div class="center">
    <h2 class="date">
      <span class="material-symbols-outlined">package_2</span>
      @if (searchValue) {
        <span>Résultats de la recherche</span>
      } @else {
        <span>
          {{ date | date: "EEEE dd MMMM" | titlecase }}
        </span>
      }
    </h2>
  </div>

  <div class="right">
    <form [formGroup]="form" class="form d-none lg:d-block">
      <app-search formControlName="search" placeholder="Recherche" />
    </form>

    <button
      class="action-btn print ml-0-5 toggle-button"
      (click)="onPrintPlanning()"
    >
      <span class="material-symbols-outlined">print</span>
    </button>
  </div>
</div>

<form [formGroup]="form" class="form sm-form lg:d-none">
  <app-search formControlName="search" placeholder="Recherche" />
</form>
