<div class="module-nav" [class.expanded]="expanded" (clickOutside)="onHide()">
  <h2 class="nav-heading color-primary">Stock</h2>

  <h3 class="nav-heading">Matières</h3>

  <p
    class="nav-item"
    routerLink="papers/sheets"
    routerLinkActive="active"
    (click)="onHide()"
  >
    Plaques & feuilles
  </p>

  <p
    class="nav-item"
    routerLink="papers/rolls"
    routerLinkActive="active"
    (click)="onHide()"
  >
    Rouleaux
  </p>

  <h3 class="nav-heading">Articles</h3>

  <p
    class="nav-item"
    routerLink="articles/inks"
    routerLinkActive="active"
    (click)="onHide()"
  >
    Encres
  </p>

  <p
    class="nav-item"
    routerLink="articles/large-format"
    routerLinkActive="active"
    (click)="onHide()"
  >
    Grand format
  </p>

  <p
    class="nav-item"
    routerLink="articles/other"
    routerLinkActive="active"
    (click)="onHide()"
  >
    Divers
  </p>

  <h2 class="nav-heading color-primary">Résa matières</h2>

  <p
    class="nav-item"
    routerLink="reservations/pending"
    routerLinkActive="active"
    (click)="onHide()"
  >
    A traiter
  </p>

  <p
    class="nav-item"
    routerLink="reservations/done"
    routerLinkActive="active"
    (click)="onHide()"
  >
    Traitées
  </p>
</div>
