@if (user) {
  <div class="d-flex justify-content-center sm:justify-content-end">
    <button class="btn ml-0-5" (click)="onToggleUserStatus()">
      {{ activeButtonLabel }}
    </button>

    <button class="btn btn-error ml-0-5 toggle-button" (click)="onDeleteUser()">
      Supprimer
    </button>
  </div>

  <app-message type="error" [message]="error" />

  <h1 class="mt-2">{{ user.completeName | titlecase }}</h1>

  <h3 class="mt-3 d-flex align-items-center justify-content-between">
    <span>Infos générales</span>
    <button class="btn btn-sm" (click)="onEditInfo()">Modifier</button>
  </h3>

  <dl class="definition mt-1">
    <dt>Compte actif</dt>
    <dd>{{ user.isActive ? "OUI" : "NON" }}</dd>
  </dl>

  <dl class="definition">
    <dt>Compte administrateur</dt>
    <dd>{{ user.isAdmin ? "OUI" : "NON" }}</dd>
  </dl>

  <dl class="definition">
    <dt>Accès autorisé depuis l'extérieur</dt>
    <dd>{{ user.externalAccess ? "OUI" : "NON" }}</dd>
  </dl>

  <h3 class="mt-3">Settings</h3>

  <dl class="definition mt-1">
    <dt>Mode</dt>
    <dd>{{ user.settings.uiMode }}</dd>
  </dl>

  <h3 class="mt-3">Active Directory</h3>

  <dl class="definition mt-1">
    <dt>Prénom</dt>
    <dd>{{ user.ad.firstName }}</dd>
  </dl>

  <dl class="definition">
    <dt>Nom</dt>
    <dd>{{ user.ad.lastName }}</dd>
  </dl>

  <dl class="definition">
    <dt>Compte Active Directory</dt>
    <dd>{{ user.ad.userPrincipalName }}</dd>
  </dl>

  <h3 class="mt-3">MultiPress</h3>

  <dl class="definition mt-1">
    <dt>Numéro d'employé</dt>
    <dd>{{ user.mp.employeeNumber }}</dd>
  </dl>

  <dl class="definition">
    <dt>Département</dt>
    <dd>{{ user.mp.department }}</dd>
  </dl>

  @if (user.mp.operations.length) {
    <h3 class="mt-3 mb-1">Opérations</h3>

    @for (operation of user.mp.operations; track operation.number) {
      <dl class="definition">
        <dt>{{ User.getOperationTypeLabel(operation.type) }}</dt>
        <dd>{{ operation.label }}</dd>
      </dl>
    }
  }

  <h3 class="mt-3 d-flex align-items-center justify-content-between">
    <span>Roles</span>
    <button class="btn btn-sm" (click)="onAddRole()">Ajouter</button>
  </h3>

  @if (user.roles.length) {
    <ul class="mt-1 list">
      @for (role of user.roles; track role._id) {
        <li class="list-item flex fixed">
          <p [routerLink]="['/admin/roles/', role._id, 'view']" class="link">
            {{ role.label }}
          </p>

          <span
            class="material-icons delete toggle-button"
            (click)="onRemoveRole(role)"
          >
            delete
          </span>
        </li>
      }
    </ul>
  } @else {
    <p class="message mt-1">Cet utilisateur n'a pas encore de role</p>
  }
}
