.list {
  .list-item {
    .delete {
      display: none;
    }

    &:hover {
      .delete {
        display: inline-block;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .link {
      transition: color 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        color: var(--color-primary);
      }
    }
  }
}
