@if (article && columns) {
  <ul
    class="line-container"
    [class.warning]="article.isAtStockAlert"
    [class.danger]="article.isUnderStockAlert"
    [routerLink]="[article.id]"
  >
    <li
      [style.flex]="columns[0].flex"
      [style.text-align]="columns[0].textAlign"
    >
      {{ article.category }}
    </li>

    <li
      [style.flex]="columns[1].flex"
      [style.text-align]="columns[1].textAlign"
    >
      {{ article.name }}
    </li>

    <li
      [style.flex]="columns[2].flex"
      [style.text-align]="columns[2].textAlign"
    >
      {{ article.freeStock }}
    </li>

    <li
      [style.flex]="columns[3].flex"
      [style.text-align]="columns[3].textAlign"
      class="file"
    >
      @if (article.files && article.files.length) {
        <span class="material-symbols-outlined">picture_as_pdf</span>
      }
    </li>
  </ul>
}

@if (article) {
  <div
    class="card-container"
    [class.warning]="article.isAtStockAlert"
    [class.danger]="article.isUnderStockAlert"
    [routerLink]="[article.id]"
  >
    <div class="left">
      <h4>{{ article.category }}</h4>
      <h3 class="fw-300">{{ article.name }}</h3>
    </div>

    <div class="right">
      <div class="d-flex align-items-center">
        <span [ngClass]="['chip', 'chip-sm', chipStockClass]">
          {{ article.freeStock }}
        </span>

        @if (article.files && article.files.length) {
          <span class="material-symbols-outlined ml-0-5">picture_as_pdf</span>
        }
      </div>
    </div>
  </div>
}
