@use "../../../../../../styles/media";

.line-container {
  padding: 1rem 2rem;
  display: none;
  border-radius: 0.5rem;
  transition: background-color 0.05s ease-in-out;

  @include media.lg {
    display: flex;
    align-items: center;
    height: 3.4rem;
    column-gap: 1rem;
  }

  &:hover {
    background-color: var(--color-gray-15);
    cursor: pointer;
  }

  &.warning {
    color: var(--color-warning);

    &:hover {
      background-color: var(--color-warning-20);
      border-color: var(--color-warning-80);
    }
  }

  &.error {
    color: var(--color-error);

    &:hover {
      background-color: var(--color-error-20);
      border-color: var(--color-error);
    }
  }

  .material-symbols-outlined {
    font-size: 2rem;
  }
}

.card-container {
  padding: 2rem;
  border: 1px solid var(--color-gray-40);
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  column-gap: 2rem;

  @include media.lg {
    display: none;
  }

  .left {
    flex: 1;
  }

  .right {
    display: flex;
    align-items: center;
  }

  &.warning {
    border-color: var(--color-warning);
    color: var(--color-warning);
  }

  &.danger {
    border-color: var(--color-danger);
    color: var(--color-danger);
  }
}
