<div class="modal-basic">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="heading">Paramètre produit</h2>

    <div class="main">
      <app-message type="error" class="my-2" [message]="error" />

      <label class="label" for="name">Nom</label>
      <input
        class="input"
        type="text"
        formControlName="name"
        id="name"
        #nameInput
      />
    </div>

    <div class="actions">
      <app-cancel-button modalClose />

      <app-save-button />
    </div>
  </form>
</div>
