@if (job) {
  <div class="container">
    @for (subcontractor of job.subcontractors; track subcontractor) {
      @for (order of subcontractor.orders; track order; let index = $index) {
        <div class="order">
          <job-subcontractor-order
            [order]="order"
            [relation]="subcontractor.relation"
            [index]="subcontractor.orders.length > 1 ? index : null"
          />
        </div>
      }
    }
  </div>
}
