.container {
  padding: 2rem 2rem 10rem 2rem;
  margin: auto;
  width: 100%;
  max-width: var(--job-view-main-max-width);

  .order {
    padding: 4rem 0;
    border-bottom: 1px solid var(--color-gray-30);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
