<div class="modal-basic">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="heading">
      {{ status ? "Modifier le statut" : "Ajouter un statut" }}
    </h2>

    @if (status) {
      <h3 class="subHeading subHeading-info">
        {{ status.label }}
      </h3>
    }

    <div class="main">
      <app-message type="error" [message]="error" />

      @if (!status) {
        <label class="label required" for="statusNumber">Statut du job</label>
        <app-select
          [items]="statuses$"
          class="select"
          id="statusNumber"
          formControlName="statusNumber"
        />
      }

      <label class="label required" for="label">Nouveau libellé</label>
      <input class="input" id="label" type="text" formControlName="label" />

      <label class="label required" for="bg-color">Couleur de fond</label>
      <app-color-picker
        class="color-picker"
        id="bg-color"
        formControlName="bgColor"
      />

      <label class="label required">Couleur du texte</label>
      <app-select
        id="text-color"
        class="select"
        [items]="textColors"
        formControlName="textColor"
      />
    </div>

    <div class="actions">
      <app-cancel-button modalClose />

      <app-save-button />
    </div>
  </form>
</div>
