.job-line {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 0 2.1rem;
  border-radius: 0.5rem;
  background-color: var(--color-bg);

  &:hover {
    background-color: var(--color-gray-15);

    &:hover {
      cursor: pointer;
    }
  }

  & > li {
    flex-grow: 0;
    min-width: 4rem;
    min-height: 5rem;
    display: flex;
    align-items: center;

    &.centered {
      justify-content: center;
    }
  }

  .col-sync {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      .hover-error-info {
        display: block;
      }
    }

    .hover-error-info {
      display: none;
      position: absolute;
      padding: 0.8rem;
      white-space: nowrap;
      width: fit-content;
      right: 3rem;
      color: white;
      background-color: var(--color-error);
      border-radius: 0.5rem;
    }
  }
}
