<ul class="job-line" (click)="onViewJob()">
  <li
    class="col-job"
    [style.flex]="columns[0].flex"
    [ngClass]="jobNumberColorClass"
  >
    {{ line.number }}
  </li>

  <li
    [style.flex]="columns[1].flex"
    [class.centered]="columns[1].textAlign === 'center'"
  >
    {{ line.company }}
  </li>

  <li
    [style.flex]="columns[2].flex"
    [class.centered]="columns[2].textAlign === 'center'"
    class="job-status"
  >
    <job-status [statusNumber]="line.statusNumber" />
  </li>

  <li
    [style.flex]="columns[3].flex"
    [class.centered]="columns[3].textAlign === 'center'"
  >
    <job-devices [devices]="line.devices" />
  </li>

  <li
    [style.flex]="columns[4].flex"
    [class.centered]="columns[4].textAlign === 'center'"
  >
    {{ line.deliveryDate | date: "E dd/MM/YY" | titlecase }}
  </li>

  <li class="col-sync" [style.flex]="columns[5].flex">
    @if (line.sync.status === "error") {
      <span class="dot d-none xl:d-block dot-error dot-animated"></span>
    }

    @if (line.sync.errorMessage) {
      <div class="hover-error-info">{{ line.sync.errorMessage }}</div>
    }
  </li>
</ul>
