@if (job) {
  <div class="container">
    <form [formGroup]="form" class="mt-1">
      <h3 class="ml-1 mb-1 mt-3 color-info">Statut de la vérif.</h3>

      <div class="check-status">
        <app-toggle-btn
          [checked]="filesCheckStatusIndex === 1"
          [disabled]="!canUpdateFilesCheck"
          label="Non vérifié"
          (toggle)="toggleFilesCheckStatus(1)"
        />

        <app-toggle-btn
          [checked]="filesCheckStatusIndex === 2"
          [disabled]="!canUpdateFilesCheck"
          label="Fichiers OK"
          type="success"
          (toggle)="toggleFilesCheckStatus(2)"
        />

        <app-toggle-btn
          [checked]="filesCheckStatusIndex === 3"
          [disabled]="!canUpdateFilesCheck"
          (toggle)="toggleFilesCheckStatus(3)"
          label="Problèmes fichiers"
          type="error"
        />
      </div>

      <div class="saving-info">
        @if (filesCheckIsLoading) {
          <app-spinner size="xs" />
        }

        @if (!filesCheckError && !filesCheckIsLoading) {
          <span class="material-symbols-outlined color-success">done</span>
        }

        @if (filesCheckError) {
          <div class="error">
            <span class="material-symbols-outlined color-error">error</span>
            {{ filesCheckError }}
          </div>
        }
      </div>

      <h3 class="ml-1 mb-1 color-info">Commentaire</h3>

      <app-text-editor formControlName="filesCheck" />
    </form>
  </div>
}
