.navbar {
  position: sticky;
  top: 0;
  height: var(--app-navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: black;
  z-index: 100;

  .left {
    width: 15rem;
    position: relative;

    img {
      &:hover {
        cursor: pointer;
      }
    }

    .version {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 1.1rem;
      color: var(--color-gray-70);
    }
  }

  .nav {
    align-items: center;
    column-gap: 1rem;
    color: white;
    font-weight: 400;
    font-size: 1.4rem;

    .nav-item {
      padding: 0.4rem 0.9rem;
      border: 1px solid black;
      border-radius: 0.5rem;
      transition: border-color 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        border-color: var(--color-primary);
      }

      &.active {
        border-color: var(--color-primary);
      }

      &.disabled {
        color: #666;

        &:hover,
        &:active {
          cursor: default;
          color: #666;
          border-color: black;
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 15rem;

    .user {
      padding: 0.4rem 0.9rem;
      border: 1px solid black;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      transition: border-color 0.2s ease-in-out;
      color: white;

      &:hover {
        cursor: pointer;
        border-color: var(--color-primary);
      }

      &.active {
        border-color: var(--color-primary);
      }
    }

    .btn-menu,
    .logout {
      margin-left: 1rem;
      color: white;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--color-primary);
      }

      &:active {
        color: var(--color-primary-80);
        transition: none;
      }
    }

    .btn-menu {
      align-items: center;
      padding: 0.5rem;
      border-radius: 0.8rem;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #333;
      }
      .menu-icon {
        width: 2rem;
      }
    }
  }
}
