<div class="navbar">
  <div class="left">
    <img
      src="assets/images/atc-optima-dark.svg"
      alt="ATC Groupe"
      routerLink="dashboard"
    />

    <span class="version">{{ appVersion }}</span>
  </div>

  <ul class="nav d-none xl:d-flex">
    <ng-container *ngFor="let navItem of navItems">
      <li
        *ngIf="!navItem.disabled"
        class="nav-item"
        [routerLink]="navItem.route"
        routerLinkActive="active"
      >
        {{ navItem.label }}
      </li>

      <li *ngIf="navItem.disabled" class="nav-item disabled">
        {{ navItem.label }}
      </li>
    </ng-container>
  </ul>

  <div class="right">
    <button class="user" routerLink="account" routerLinkActive="active">
      {{ user?.initials }}
    </button>

    <button
      class="logout material-icons d-none xl:d-block"
      (click)="onLogout()"
    >
      power_settings_new
    </button>

    <button
      class="btn-menu toggle-button d-flex xl:d-none"
      (click)="onToggleNav()"
    >
      <img src="assets/icons/nav.svg" class="menu-icon" />
    </button>
  </div>
</div>
