.textarea {
  padding: 1rem;
  height: 7.5rem;

  background: none;
  border-radius: 0.5rem;
  border: 1px solid var(--color-gray-40);
  outline: 1px solid rgba(0, 0, 0, 0);

  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weigth-base);
  color: var(--color-text);

  transition:
    outline-color ease-in-out 0.2s,
    outline-width ease-in-out 0.2s,
    border-color ease-in-out 0.2s;

  &:focus {
    outline-width: 0.3rem;
  }
}

// ------ Dark theme ------

.light,
.dark {
  .textarea {
    &:hover {
      border-color: var(--color-gray-70);
    }

    &:focus {
      border-color: var(--color-gray-90);
      outline-color: var(--color-gray-30);
    }
  }

  .textarea.ng-touched.ng-invalid,
  form.ng-invalid.ng-submitted .textarea.ng-invalid {
    border-color: var(--color-error-50);
    color: var(--color-error);

    &::placeholder {
      color: var(--color-error-80);
    }

    &:hover {
      border-color: var(--color-error-70);
    }

    &:focus {
      border-color: var(--color-error);
      outline-color: var(--color-error-40);
    }
  }
}

// ------ Light theme ------

.light {
  .textarea {
    &:hover {
      border-color: var(--color-gray-80);
    }

    &:focus {
      border-color: var(--color-gray);
      outline-color: var(--color-gray-20);
    }
  }
}
