.tiptap {
  padding: 2rem 1rem;
  outline: none;
  white-space: pre-wrap;
  border: 1px solid var(--color-gray-10);
  border-radius: 0.5rem;
  transition: border-color 0.2s ease-in-out;
  background-color: var(--color-gray-12);

  &:focus {
    border: 1px solid var(--color-gray-30);
  }

  h1,
  h2,
  h3 {
    padding-top: 1rem;
  }

  p {
    padding-top: 1rem;
    line-height: 2.2rem;

    &:first-child {
      padding-top: 0;
    }
  }

  code {
    font-size: 1.4rem;
    padding: 0 0.5rem;
    background-color: var(--color-gray-40);
    border-radius: 0.2rem;
  }

  mark {
    background-color: var(--color-primary);
    color: var(--color-bg);
    padding: 0.2rem 0;
    border-top-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }

  ul {
    padding-left: 2rem;
    list-style: disc;
  }

  ol {
    padding-left: 2rem;

    li {
      padding-left: 0.5rem;
    }
  }

  .task-list {
    list-style: none;
    padding: 2rem 0 0 1rem;

    .task-item {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      padding-top: 0.8rem;

      &:first-child {
        padding-top: 0;
      }

      input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        padding: 0.1rem;
        display: grid;
        place-content: center;
        border: 1px solid var(--color-gray-50);
        border-radius: 0.4rem;
      }

      input[type="checkbox"]::before {
        content: "";
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 0.4rem;
        transition: background-color 0.2s ease-in-out;
      }

      input[type="checkbox"]:checked::before {
        background-color: var(--color-primary);
      }

      & > div {
        padding-left: 0.3rem;
      }
    }
  }

  blockquote {
    border-left: 3px solid var(--color-primary);
    margin-top: 1rem;
    padding-left: 1rem;
  }

  hr {
    margin: 2rem 0 1rem 0;
    border-color: var(--color-primary);
  }
}
