<div class="modal-basic">
  @if (processing) {
    <div class="d-flex align-items-center justify-content-center">
      <app-spinner size="lg" />
    </div>
  } @else {
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <h2 class="heading">Modifier le statut du job {{ jobInfo.number }}</h2>

      <div class="main">
        <app-message type="error" [message]="error" />

        <label class="label required" for="statusNumber">Statut du job</label>
        <app-select
          [items]="statuses$"
          [searchbar]="true"
          class="select"
          id="statusNumber"
          formControlName="statusNumber"
        />
      </div>

      <div class="actions">
        <app-cancel-button modalClose />
        <app-save-button label="Valider" />
      </div>
    </form>
  }
</div>
