@if (operation) {
  <div class="container">
    <div class="order-heading">
      <dl class="definition">
        <dt>Etape planning</dt>
        <dd>{{ operation.machine }}</dd>
      </dl>

      <dl class="definition">
        <dt>Planifié le</dt>
        <dd>
          {{ operation.startDate | date: "EEEE dd MMMM YYYY" | titlecase }}
        </dd>
      </dl>

      <dl class="definition">
        <dt>Temps calculé</dt>
        <dd>
          {{ operation.calculatedTime | mpTime }}
        </dd>
      </dl>

      <dl class="definition">
        <dt>Attribué à</dt>
        <dd>
          {{ operation.employee }}
        </dd>
      </dl>
    </div>
  </div>
}
