<div class="container" (clickOutside)="hide()" (click)="hide()">
  <h2>
    <img
      src="assets/images/atc-optima-dark.svg"
      alt="ATC Groupe"
      class="branding"
    />

    <div class="text">
      <span class="color-gray-50">Bon de sous-traitance</span>
      <span class="ml-0-5">{{ relation }}</span>
    </div>
  </h2>

  <div class="infos">
    <dl>
      <dt>Contact</dt>
      <dd>{{ order.contactName || "-" }}</dd>
    </dl>

    <dl>
      <dt>Date d'envoi</dt>
      <dd>
        {{
          order.sendingDate
            ? (order.sendingDate | date: "EEEE dd MMMM YYYY" | titlecase)
            : "-"
        }}
      </dd>
    </dl>

    <dl>
      <dt>Date de livraison</dt>
      <dd>
        {{
          order.deliveryDate
            ? (order.deliveryDate | date: "EEEE dd MMMM YYYY" | titlecase)
            : "-"
        }}
      </dd>
    </dl>
  </div>

  <h3>Détail</h3>

  <ul>
    @for (subJob of order.subJobs; track subJob.subJobMp.id) {
      <li class="sub-job">
        <h4 class="title">
          <span class="chip chip-sm">{{ subJob.reference }}</span>
          {{ subJob.subJobMp.description }}
        </h4>

        <ul>
          @for (item of subJob.items; track item.description) {
            <li class="sub-job-item">
              <p>{{ item.description }}</p>

              @if (item.remark) {
                <p>{{ item.remark }}</p>
              }
            </li>
          }
        </ul>
      </li>
    }
  </ul>
</div>
