.container {
  width: 210mm;
  height: 297mm;
  padding: 6mm;
  color: #333;
  background-color: white;

  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 14mm;
    background-color: black;
    padding: 0 4mm;
    font-weight: 300;
    color: white;
    border-radius: 0.5rem;
    font-size: 1.6rem;

    .branding {
      width: 30mm;
    }
  }

  .infos {
    padding: 0 1rem;
    color: black;

    dl {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #999;
      height: 5mm;
      padding: 0 0.5rem;

      dt {
        width: 50mm;
      }
    }
  }

  h3 {
    display: flex;
    align-items: center;
    margin: 5mm 0;
    height: 10mm;
    color: white;
    background-color: black;
    font-weight: 300;
    border-radius: 0.5rem;
    padding: 0 1rem;
  }

  .sub-job {
    padding: 0 1rem 1rem 1rem;
    .title {
      font-size: 1.2rem;

      .chip {
        width: 3rem;
        color: white;
      }
    }

    .sub-job-item {
      padding-left: 3rem;
    }
  }
}
