@if (mutation) {
  <ul class="line-container">
    <li class="date">{{ mutation.date | date: "dd/MM/yyyy" }}</li>

    <li class="mutation">
      <span [ngClass]="['chip', 'chip-sm', mutationChipStyle]">
        {{ mutationLabel }}
      </span>
    </li>

    <li class="job">{{ jobNumber }}</li>

    <li class="description">{{ mutation.description }}</li>
  </ul>

  <div class="card-container">
    <div class="flex-fill">
      <p class="color-info">{{ mutation.date | date: "dd/MM/yyyy" }}</p>

      <p>{{ mutation.description }}</p>

      @if (jobNumber) {
        <p>Job n°{{ jobNumber }}</p>
      }
    </div>

    <div>
      <span [ngClass]="['chip', 'chip-sm', mutationChipStyle]">
        {{ mutationLabel }}
      </span>
    </div>
  </div>
}
