@use "../../../../../../styles/media";

.line-container {
  display: none;
  column-gap: 1rem;
  padding: 0.7rem 0;
  border-bottom: 1px solid var(--color-gray-20);

  @include media.md {
    display: flex;
  }

  .date {
    width: 9rem;
  }

  .mutation {
    width: 12rem;
  }

  .job {
    width: 9rem;
  }

  &:hover {
    background-color: var(--color-gray-15);
  }
}

.card-container {
  display: flex;
  padding: 1rem;
  column-gap: 1rem;
  border-bottom: 1px solid var(--color-gray-20);

  @include media.md {
    display: none;
  }
}
