.container {
  max-width: var(--job-view-main-max-width);
  margin: auto;
  padding: 2rem 1rem 20rem 1rem;

  .saving-info {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem 0.5rem 0;
    height: 3rem;

    .error {
      display: flex;
      align-items: center;
      color: var(--color-error);
      font-size: 1.3rem;
      font-style: italic;
    }
  }

  .check-status {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
}
