.container {
  height: 3.4rem;
  overflow-y: hidden;
  margin: 1rem 0;

  h3 {
    padding: 0 0.5rem 0 0.8rem;
    height: 3.4rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    background-color: var(--color-gray-12);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: var(--color-gray-15);
    }

    .title {
      flex: 1;
      font-weight: 300;
      font-size: 1.3rem;
      margin-left: 0.5rem;
    }
  }

  &.expanded {
    height: unset;

    h3 {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .details {
    padding: 0 1rem;
    border: 1px solid var(--color-gray-20);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    .definition {
      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }

      &.comment {
        dd {
          white-space: pre-line;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      padding: 1rem 0;

      .space {
        width: 26rem;
      }
    }
  }
}
