@if (worksheet) {
  <div class="container" [class.expanded]="expanded">
    <h3 (click)="toggle()">
      <span
        class="chip chip-sm"
        [class.chip-success]="worksheet.operationReady"
      >
        {{ worksheet.date | date: "dd/MM" }}
      </span>

      <span class="title d-none sm:d-inline-block">
        {{ worksheet.employee }}
      </span>

      <span class="title sm:d-none">
        {{ worksheet.employee | mpEmployee: "initials" }}
      </span>

      @if (isRecording) {
        <span class="chip chip-sm chip-success fw-300">En cours</span>
      } @else {
        <span class="chip chip-sm fw-300">
          {{ worksheet.totalTime | mpTime }}
        </span>
      }

      <span class="material-symbols-outlined ml-1">
        {{ expanded ? "expand_less" : "expand_more" }}
      </span>
    </h3>

    <div class="details">
      <dl class="definition">
        <dt>Heure de début</dt>
        <dd>{{ startTime | date: "HH:mm" }}</dd>
      </dl>

      <dl class="definition">
        <dt>Opération terminée</dt>
        <dd>{{ worksheet.operationReady ? "OUI" : "NON" }}</dd>
      </dl>

      <dl class="definition">
        <dt>Temps total</dt>
        @if (worksheet.totalTime) {
          <dd>{{ worksheet.totalTime | mpTime }}</dd>
        } @else {
          <dd>-</dd>
        }
      </dl>

      @if (worksheet.remark) {
        <dl class="definition comment">
          <dt>Commentaire</dt>
          <dd>{{ worksheet.remark }}</dd>
        </dl>
      }
    </div>
  </div>
}
