@use "../../../../styles/media";

.no-search-result {
  text-align: center;

  .picto {
    font-size: 15rem;
    color: var(--color-gray-30);

    @include media.md {
      font-size: 25rem;
    }
  }

  .text {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
}
