.color-picker {
  .color-picker-container {
    transition:
      outline-color ease-in-out 0.2s,
      outline-width ease-in-out 0.2s,
      border-color ease-in-out 0.2s;

    &.text-editor {
      position: relative;
      width: 2.2rem;
      height: 2.4rem;
      border-radius: 0.5rem;

      .material-symbols-outlined {
        position: absolute;
        font-size: 1.8rem;
        top: 0.2rem;
        left: 0.2rem;
      }

      &:hover {
        background-color: var(--color-gray-30);
      }
    }

    &.classic {
      padding: 0.2rem;
      height: 3rem;
      width: 10rem;
      border: 1px solid var(--color-gray-40);
      outline: 1px solid rgba(0, 0, 0, 0);

      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;

      &:has(.ng-invalid) {
        border-color: var(--color-error);
      }

      &.selected {
        outline-width: 0.3rem;
      }

      .color-picker-color {
        border: 1px solid var(--color-gray-30);
      }
    }

    .color-picker-color {
      width: 100%;
      height: 100%;

      border-radius: 0.8rem;
    }

    .color-picker-input {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}

// ------ Dark theme ------

.light,
.dark {
  .color-picker .color-picker-container.classic {
    &:hover {
      border-color: var(--color-gray-70);
    }

    &.selected {
      border-color: var(--color-gray-90);
      outline-color: var(--color-gray-30);
    }
  }

  .color-picker.ng-touched.ng-invalid .color-picker-container.classic,
  form.ng-invalid.ng-submitted
    .color-picker.ng-invalid
    .color-picker-container {
    border-color: var(--color-error-50);
    color: var(--color-error);

    &::placeholder {
      color: var(--color-error-80);
    }

    &:hover {
      border-color: var(--color-error-70);
    }

    &.selected {
      border-color: var(--color-error);
      outline-color: var(--color-error-40);
    }
  }
}

// ------ Light theme ------

.light {
  .color-picker .color-picker-container.classic {
    &:hover {
      border-color: var(--color-gray-80);
    }

    &.selected {
      border-color: var(--color-gray);
      outline-color: var(--color-gray-20);
    }
  }
}
