<div
  class="color-picker-container toggle-button"
  [class.selected]="selected"
  [ngClass]="type"
>
  <div
    class="color-picker-color"
    [style.background-color]="type === 'classic' ? innerValue : ''"
    [class.selected]="selected"
    (clickOutside)="onClickOutside()"
  >
    @if (type === "text-editor") {
      <span class="material-symbols-outlined" [style.color]="innerValue">
        {{ icon }}
      </span>
    }

    <input
      type="color"
      class="color-picker-input"
      [id]="id"
      [(ngModel)]="innerValue"
      (change)="updateValue()"
      (click)="onSelect()"
    />
  </div>
</div>
