.container {
  max-width: 100rem;
  margin: 2rem auto 20rem auto;
  padding: 0 1rem;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--app-content-min-height);
}
