@if (isLoading) {
  <div class="loader">
    <app-spinner size="lg" />
  </div>
} @else {
  <div class="container">
    <app-message type="error" [message]="error" />

    @if (data?.length) {
      <div class="mt-2">
        <app-data-heading
          [columns]="columns"
          [sortColumn]="sortColumn$ | async"
          (sort)="onSortData($event)"
          class="d-none md:d-block"
        />

        @for (line of data; track line) {
          <job-stock-reservation
            [columns]="columns"
            [line]="line"
            (navigateToJob)="onNavigateToJob(line.jobNumber)"
          />
        }
      </div>
    } @else {
      <p class="message my-2">
        Il n'y a aucune réservation matière dans cette liste pour le moment...
      </p>
    }
  </div>
}
