<div class="d-flex justify-content-end">
  <button class="btn" (click)="onEditRole()">Modifier</button>

  <button class="btn btn-error ml-0-5 toggle-button" (click)="onDeleteRole()">
    Supprimer
  </button>
</div>

<app-message type="error" [message]="error" />

<h1 class="mt-2">{{ role?.label }}</h1>

@if (role?.description) {
  <p class="color-gray-50">{{ role?.description }}</p>
}

<h2 class="mt-3">Liste des autorisations</h2>

<form [formGroup]="form">
  <app-search
    class="mt-2"
    formControlName="search"
    placeholder="Rechercher une autorisation..."
    size="large"
  />
</form>

<ul class="mt-2">
  @for (subjectAuths of appAuthorizations; track subjectAuths) {
    <li class="mt-2">
      <h3 class="module-heading">
        {{ subjectAuths.title }}
      </h3>

      <ul class="list mt-2">
        @for (action of subjectAuths.actions; track action.action) {
          <li
            class="list-item flex fixed selectable"
            (click)="onToggleAuthorization(subjectAuths.subject, action.action)"
          >
            <p>{{ action.description }}</p>

            @if (isAuthorized(subjectAuths.subject, action.action)) {
              <span class="material-icons"> done </span>
            }
          </li>
        }
      </ul>

      <ul class="mt-2">
        @for (group of subjectAuths.actionGroups; track group) {
          <li class="mt-2">
            <h4 class="ml-1 mt-3 fw-300 color-info-80">{{ group.title }}</h4>

            <ul class="list mt-1">
              @for (action of group.actions; track action.action) {
                <li
                  class="list-item flex fixed selectable"
                  (click)="
                    onToggleAuthorization(subjectAuths.subject, action.action)
                  "
                >
                  <p>{{ action.description }}</p>

                  @if (isAuthorized(subjectAuths.subject, action.action)) {
                    <span class="material-icons"> done </span>
                  }
                </li>
              }
            </ul>
          </li>
        }
      </ul>
    </li>
  }
</ul>

<h2 class="mt-6">Liste des utilisateurs</h2>

<ul class="list mt-1 mb-5">
  @for (user of users; track user._id) {
    <li
      class="list-item selectable"
      [routerLink]="['/admin/users', user._id, 'view']"
    >
      {{ user.completeName }}
    </li>
  }
</ul>
