.module-heading {
  color: var(--color-primary);
  margin-top: 3rem;
  padding: 1.3rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-gray-12);

  .material-icons {
    font-size: 2.2rem;
  }
}
