<div class="container">
  @if (displayLoader) {
    <app-spinner size="xl" />
  } @else if (displayFetchErrorMessage) {
    <p class="message message-error">
      {{ fetchError }}
    </p>
  } @else if (displayEmptyMessage) {
    <app-empty-message text="Aucune donnée pour cette période..." />
  } @else if (displayFilteredEmptyResultsMessage) {
    <app-empty-message>
      <div class="no-filtered-result">
        <span class="fw-700">
          Aucun résultat avec les filtres sélectionnés....
        </span>

        <br />
        Pensez à vérifier vos filtres !
      </div>
    </app-empty-message>
  } @else if (displayEmptySearchMessage) {
    <div class="search">
      <p class="message">Aucun résultat trouvé pour cette recherche.</p>

      <p class="message message-info mt-2">
        La recherche est effectuée uniquement sur les jobs planifiés pour le
        groupe sélectionné. Si vous souhaitez chercher un job dans tout le
        système, rendez-vous dans l'onglet job et retapez votre recherche
      </p>
    </div>
  }
</div>
