.container {
  height: calc(var(--app-content-min-height) - 60rem);
  display: flex;
  align-items: center;
  justify-content: center;

  .search {
    max-width: 40rem;
  }

  .no-filtered-result {
    font-size: 1.6rem;
  }
}
