@use "../media";

$pseudo-classes: hover;
$colors: primary, primary-10, primary-20, primary-30, primary-40, primary-50,
  primary-60, primary-70, primary-80, primary-90, info, info-10, info-20,
  info-30, info-40, info-50, info-60, info-70, info-80, info-90, success,
  success-10, success-20, success-30, success-40, success-50, success-60,
  success-70, success-80, success-90, warning, warning-10, warning-20,
  warning-30, warning-40, warning-50, warning-60, warning-70, warning-80,
  warning-90, error, error-10, error-20, error-30, error-40, error-50, error-60,
  error-70, error-80, error-90, gray-0, gray-3, gray-5, gray-7, gray-8, gray-10,
  gray-12, gray-15, gray-20, gray-30, gray-40, gray-50, gray-60, gray-70,
  gray-80, gray-90;

// ---------- Color gray ----------

.color-gray {
  color: var(--color-gray);
}
.bg-gray {
  background-color: var(--color-gray);
}

.color-gray-0 {
  color: var(--color-gray-0);
}
.bg-gray-0 {
  background-color: var(--color-gray-0);
}

.color-gray-3 {
  color: var(--color-gray-3);
}
.bg-gray-3 {
  background-color: var(--color-gray-3);
}

.color-gray-5 {
  color: var(--color-gray-5);
}
.bg-gray-5 {
  background-color: var(--color-gray-5);
}

.color-gray-7 {
  color: var(--color-gray-7);
}
.bg-gray-7 {
  background-color: var(--color-gray-7);
}

.color-gray-8 {
  color: var(--color-gray-8);
}
.bg-gray-8 {
  background-color: var(--color-gray-8);
}

.color-gray-10 {
  color: var(--color-gray-10);
}
.bg-gray-10 {
  background-color: var(--color-gray-10);
}

.color-gray-12 {
  color: var(--color-gray-12);
}
.bg-gray-12 {
  background-color: var(--color-gray-12);
}

.color-gray-15 {
  color: var(--color-gray-15);
}
.bg-gray-15 {
  background-color: var(--color-gray-15);
}

.color-gray-20 {
  color: var(--color-gray-20);
}
.bg-gray-20 {
  background-color: var(--color-gray-20);
}

.color-gray-30 {
  color: var(--color-gray-30);
}
.bg-gray-30 {
  background-color: var(--color-gray-30);
}

.color-gray-40 {
  color: var(--color-gray-40);
}
.bg-gray-40 {
  background-color: var(--color-gray-40);
}

.color-gray-50 {
  color: var(--color-gray-50);
}
.bg-gray-50 {
  background-color: var(--color-gray-50);
}

.color-gray-60 {
  color: var(--color-gray-60);
}
.bg-gray-60 {
  background-color: var(--color-gray-60);
}

.color-gray-70 {
  color: var(--color-gray-70);
}
.bg-gray-70 {
  background-color: var(--color-gray-70);
}

.color-gray-80 {
  color: var(--color-gray-80);
}
.bg-gray-80 {
  background-color: var(--color-gray-80);
}

.color-gray-90 {
  color: var(--color-gray-90);
}
.bg-gray-90 {
  background-color: var(--color-gray-90);
}

.color-gray-95 {
  color: var(--color-gray-95);
}
.bg-gray-95 {
  background-color: var(--color-gray-95);
}

// ---------- Color primary ----------

.color-primary {
  color: var(--color-primary);
}
.bg-primary {
  background-color: var(--color-primary);
}

.color-primary-10 {
  color: var(--color-primary-10);
}
.bg-primary-10 {
  background-color: var(--color-primary-10);
}

.color-primary-20 {
  color: var(--color-primary-20);
}
.bg-primary-20 {
  background-color: var(--color-primary-20);
}

.color-primary-30 {
  color: var(--color-primary-30);
}
.bg-primary-30 {
  background-color: var(--color-primary-30);
}

.color-primary-40 {
  color: var(--color-primary-40);
}
.bg-primary-40 {
  background-color: var(--color-primary-40);
}

.color-primary-50 {
  color: var(--color-primary-50);
}
.bg-primary-50 {
  background-color: var(--color-primary-50);
}

.color-primary-60 {
  color: var(--color-primary-60);
}
.bg-primary-60 {
  background-color: var(--color-primary-60);
}

.color-primary-70 {
  color: var(--color-primary-70);
}
.bg-primary-70 {
  background-color: var(--color-primary-70);
}

.color-primary-80 {
  color: var(--color-primary-80);
}
.bg-primary-80 {
  background-color: var(--color-primary-80);
}

.color-primary-90 {
  color: var(--color-primary-90);
}
.bg-primary-90 {
  background-color: var(--color-primary-90);
}

// ---------- Color info ----------

.color-info {
  color: var(--color-info);
}
.bg-info {
  background-color: var(--color-info);
}

.color-info-10 {
  color: var(--color-info-10);
}
.bg-info-10 {
  background-color: var(--color-info-10);
}

.color-info-20 {
  color: var(--color-info-20);
}
.bg-info-20 {
  background-color: var(--color-info-20);
}

.color-info-30 {
  color: var(--color-info-30);
}
.bg-info-30 {
  background-color: var(--color-info-30);
}

.color-info-40 {
  color: var(--color-info-40);
}
.bg-info-40 {
  background-color: var(--color-info-40);
}

.color-info-50 {
  color: var(--color-info-50);
}
.bg-info-50 {
  background-color: var(--color-info-50);
}

.color-info-60 {
  color: var(--color-info-60);
}
.bg-info-60 {
  background-color: var(--color-info-60);
}

.color-info-70 {
  color: var(--color-info-70);
}
.bg-info-70 {
  background-color: var(--color-info-70);
}

.color-info-80 {
  color: var(--color-info-80);
}
.bg-info-80 {
  background-color: var(--color-info-80);
}

.color-info-90 {
  color: var(--color-info-90);
}
.bg-info-90 {
  background-color: var(--color-info-90);
}

// ---------- Color success ----------

.color-success {
  color: var(--color-success);
}
.bg-success {
  background-color: var(--color-success);
}

.color-success-10 {
  color: var(--color-success-10);
}
.bg-success-10 {
  background-color: var(--color-success-10);
}

.color-success-20 {
  color: var(--color-success-20);
}
.bg-success-20 {
  background-color: var(--color-success-20);
}

.color-success-30 {
  color: var(--color-success-30);
}
.bg-success-30 {
  background-color: var(--color-success-30);
}

.color-success-40 {
  color: var(--color-success-40);
}
.bg-success-40 {
  background-color: var(--color-success-40);
}

.color-success-50 {
  color: var(--color-success-50);
}
.bg-success-50 {
  background-color: var(--color-success-50);
}

.color-success-60 {
  color: var(--color-success-60);
}
.bg-success-60 {
  background-color: var(--color-success-60);
}

.color-success-70 {
  color: var(--color-success-70);
}
.bg-success-70 {
  background-color: var(--color-success-70);
}

.color-success-80 {
  color: var(--color-success-80);
}
.bg-success-80 {
  background-color: var(--color-success-80);
}

.color-success-90 {
  color: var(--color-success-90);
}
.bg-success-90 {
  background-color: var(--color-success-90);
}

// ---------- Color warning ----------

.color-warning {
  color: var(--color-warning);
}
.bg-warning {
  background-color: var(--color-warning);
}

.color-warning-10 {
  color: var(--color-warning-10);
}
.bg-warning-10 {
  background-color: var(--color-warning-10);
}

.color-warning-20 {
  color: var(--color-warning-20);
}
.bg-warning-20 {
  background-color: var(--color-warning-20);
}

.color-warning-30 {
  color: var(--color-warning-30);
}
.bg-warning-30 {
  background-color: var(--color-warning-30);
}

.color-warning-40 {
  color: var(--color-warning-40);
}
.bg-warning-40 {
  background-color: var(--color-warning-40);
}

.color-warning-50 {
  color: var(--color-warning-50);
}
.bg-warning-50 {
  background-color: var(--color-warning-50);
}

.color-warning-60 {
  color: var(--color-warning-60);
}
.bg-warning-60 {
  background-color: var(--color-warning-60);
}

.color-warning-70 {
  color: var(--color-warning-70);
}
.bg-warning-70 {
  background-color: var(--color-warning-70);
}

.color-warning-80 {
  color: var(--color-warning-80);
}
.bg-warning-80 {
  background-color: var(--color-warning-80);
}

.color-warning-90 {
  color: var(--color-warning-90);
}
.bg-warning-90 {
  background-color: var(--color-warning-90);
}

// ---------- Color error ----------

.color-error {
  color: var(--color-error);
}
.bg-error {
  background-color: var(--color-error);
}

.color-error-10 {
  color: var(--color-error-10);
}
.bg-error-10 {
  background-color: var(--color-error-10);
}

.color-error-20 {
  color: var(--color-error-20);
}
.bg-error-20 {
  background-color: var(--color-error-20);
}

.color-error-30 {
  color: var(--color-error-30);
}
.bg-error-30 {
  background-color: var(--color-error-30);
}

.color-error-40 {
  color: var(--color-error-40);
}
.bg-error-40 {
  background-color: var(--color-error-40);
}

.color-error-50 {
  color: var(--color-error-50);
}
.bg-error-50 {
  background-color: var(--color-error-50);
}

.color-error-60 {
  color: var(--color-error-60);
}
.bg-error-60 {
  background-color: var(--color-error-60);
}

.color-error-70 {
  color: var(--color-error-70);
}
.bg-error-70 {
  background-color: var(--color-error-70);
}

.color-error-80 {
  color: var(--color-error-80);
}
.bg-error-80 {
  background-color: var(--color-error-80);
}

.color-error-90 {
  color: var(--color-error-90);
}
.bg-error-90 {
  background-color: var(--color-error-90);
}

@each $color in $colors {
  @each $pseudo-class in $pseudo-classes {
    .#{$pseudo-class}\:color-#{$color}:#{$pseudo-class} {
      color: var(--color-#{$color});
    }

    .#{$pseudo-class}\:bg-color-#{$color}:#{$pseudo-class} {
      background-color: var(--color-#{$color});
    }
  }
}
