@use "../media";
@use "../theme";

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-table {
  display: table;
}

.d-table-cell {
  display: table-cell;
}

.d-inline-block {
  display: inline-block;
}

// ------ Medias ------

@each $media in media.$names {
  @include media.set($media) {
    .#{$media}d-none {
      display: none;
    }

    .#{$media}d-block {
      display: block;
    }

    .#{$media}d-flex {
      display: flex;
    }

    .#{$media}d-table {
      display: table;
    }

    .#{$media}d-table-cell {
      display: table-cell;
    }

    .#{$media}d-inline-block {
      display: inline-block;
    }
  }
}

// ------ Themes ------

@each $theme in theme.$themes {
  .#{$theme} {
    .#{$theme}d-none {
      display: none;
    }

    .#{$theme}d-block {
      display: block;
    }

    .#{$theme}d-flex {
      display: flex;
    }

    .#{$theme}d-table {
      display: table;
    }

    .#{$theme}d-table-cell {
      display: table-cell;
    }

    .#{$theme}d-inline-block {
      display: inline-block;
    }
  }
}
