@use "../media";

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-fill {
  flex: 1 1 auto;
}

.flex-50 {
  flex: 1 1 50%;
}

@each $media in media.$names {
  @include media.set($media) {
    .#{$media}flex-row {
      flex-direction: row;
    }

    .#{$media}flex-row-reverse {
      flex-direction: row-reverse;
    }

    .#{$media}flex-column {
      flex-direction: column;
    }

    .#{$media}flex-column-reverse {
      flex-direction: column-reverse;
    }

    .#{$media}align-items-start {
      align-items: flex-start;
    }

    .#{$media}align-items-end {
      align-items: flex-end;
    }

    .#{$media}align-items-center {
      align-items: center;
    }

    .#{$media}justify-content-start {
      justify-content: flex-start;
    }

    .#{$media}justify-content-end {
      justify-content: flex-end;
    }

    .#{$media}justify-content-center {
      justify-content: center;
    }

    .#{$media}justify-content-between {
      justify-content: space-between;
    }

    .#{$media}flex-fill {
      flex: 1 1 auto;
    }

    .#{$media}flex-50 {
      flex: 1 1 50%;
    }
  }
}
