@use '../media';

$margins: (
  0: 0,
  '0-2': 0.2,
  '0-3': 0.3,
  '0-5': 0.5,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
);

@each $media in media.$names {
  @each $name, $value in $margins {
    @include media.set(#{$media}) {
      .#{$media}m-#{$name} {
        margin: #{$value}rem;
      }

      .#{$media}mx-#{$name} {
        margin-left: #{$value}rem;
        margin-right: #{$value}rem;
      }

      .#{$media}my-#{$name} {
        margin-top: #{$value}rem;
        margin-bottom: #{$value}rem;
      }

      .#{$media}mt-#{$name} {
        margin-top: #{$value}rem;
      }

      .#{$media}mb-#{$name} {
        margin-bottom: #{$value}rem;
      }

      .#{$media}ml-#{$name} {
        margin-left: #{$value}rem;
      }

      .#{$media}mr-#{$name} {
        margin-right: #{$value}rem;
      }
    }
  }
}
