@use "../media";

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-italic {
  font-style: italic;
}

.text-no-wrap {
  white-space: nowrap;
}

@each $media in media.$names {
  @include media.set($media) {
    .#{$media}text-left {
      text-align: left;
    }

    .#{$media}text-right {
      text-align: right;
    }

    .#{$media}text-center {
      text-align: center;
    }

    .#{$media}text-justify {
      text-align: justify;
    }
  }
}
