<div class="modal modal-full">
  @if (processing) {
    <app-spinner size="lg"></app-spinner>
  } @else {
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <h2>Modifier le statut du job {{ job.mp.number }}</h2>

      <app-message type="error" class="mt-2" [message]="error" />

      <label class="label required mt-2" for="statusNumber">
        Statut du job
      </label>
      <app-select
        [items]="statuses$"
        [searchbar]="true"
        class="select"
        id="statusNumber"
        formControlName="statusNumber"
      />

      <div class="d-flex mt-2">
        <app-cancel-button modalClose />
        <app-save-button class="ml-1" />
      </div>
    </form>
  }
</div>
