@if (order) {
  <div class="container">
    <h2>{{ title }}</h2>

    <subcontractor-order-info [order]="order" />

    <h3 class="sub-jobs-title" (click)="toggleSubJobs()">
      Sous-jobs
      <span class="material-icons">
        {{ expanded ? "expand_less" : "expand_more" }}
      </span>
    </h3>

    @for (subJob of order.subJobs; track subJob.subJobMp.id) {
      <subcontractor-order-sub-job
        [subJobData]="subJob"
        [expanded]="expanded"
      />
    }
  </div>
}
