.container {
  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
  }

  .sub-jobs-title {
    font-weight: 300;
    color: var(--color-info);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding-right: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}
