<div class="container" *ngIf="worksheet" [class.expanded]="expanded">
  <h3 (click)="onToggle()" class="fw-500">
    <span class="chip chip-sm" [class.chip-success]="worksheet.operationReady">
      {{ worksheet.date | date: "dd/MM" }}
    </span>

    <span class="title d-none sm:d-inline-block">{{ worksheet.employee }}</span>
    <span class="title sm:d-none">
      {{ worksheet.employee | mpEmployee: "initials" }}
    </span>

    <span class="chip chip-sm fw-300" *ngIf="!isRecording">
      {{ worksheet.totalTime | mpTime }}
    </span>

    <span class="chip chip-sm chip-success fw-300" *ngIf="isRecording">
      En cours
    </span>

    <span class="material-symbols-outlined ml-1">
      {{ expanded ? "expand_less" : "expand_more" }}
    </span>
  </h3>

  <div class="details">
    <dl class="definition">
      <dt>Heure de début</dt>
      <dd>{{ startTime | date: "HH:mm" }}</dd>
    </dl>

    <dl class="definition">
      <dt>Opération terminée</dt>
      <dd>{{ worksheet.operationReady ? "OUI" : "NON" }}</dd>
    </dl>

    <dl class="definition">
      <dt>Temps total</dt>
      <dd *ngIf="worksheet.totalTime">{{ worksheet.totalTime | mpTime }}</dd>
      <dd *ngIf="!worksheet.totalTime">-</dd>
    </dl>

    <dl class="definition comment" *ngIf="worksheet.remark">
      <dt>Commentaire</dt>
      <dd>{{ worksheet.remark }}</dd>
    </dl>

    <div class="actions" *ngIf="canUpdate || canRemove">
      <div class="space d-none md:d-inline-block"></div>

      <button
        class="btn btn-sm btn-info mr-1 toggle-button"
        *ngIf="canUpdate"
        (click)="onUpdate()"
      >
        Modifier
      </button>

      <button
        class="btn btn-sm btn-error toggle-button"
        *ngIf="canRemove"
        (click)="onDelete()"
      >
        Supprimer
      </button>
    </div>
  </div>
</div>
