@use "../../../../../../styles/media";

.box {
  width: 100%;
  position: absolute;
  z-index: 10;
  bottom: 1rem;
  padding-top: 1rem;

  @include media.xl {
    left: 1.5rem;
  }

  .container {
    width: 100%;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 33rem;
    margin: 0 auto;
    background-color: var(--color-bg);
    border-radius: 1rem;
    border: 1px solid var(--color-gray-40);
    box-shadow:
      0 0 1rem var(--color-gray-20),
      0 0 2rem var(--color-bg),
      0 0 6rem var(--color-bg);

    @include media.xl {
      margin: 0;
    }

    .left {
      width: 7rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 1rem;
    }

    .middle {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.5rem;
      width: 100%;
      min-width: 19rem;
      max-width: 40rem;
    }

    .right {
      width: 7rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 1rem;
    }
  }
}
