<div class="box">
  <div class="container" *ngIf="selectedOperation">
    <div class="left">
      @if (hasMultipleOperations) {
        <button
          class="icon-button border-none"
          [class.disabled]="isFirstOperation"
          (click)="setPrevIndex()"
        >
          <span class="material-symbols-outlined">chevron_left</span>
        </button>

        <button
          class="icon-button border-none"
          [class.disabled]="isLastOperation"
          (click)="setNextIndex()"
        >
          <span class="material-symbols-outlined">chevron_right</span>
        </button>
      }
    </div>

    <div class="middle">
      @if (startWorksheetProcessing) {
        <h3 class="fw-300">Démarrage ...</h3>
      } @else {
        <p>
          {{ selectedOperation.operation | mpListItem }}
        </p>
      }
    </div>

    <div class="right">
      @if (
        activeWorksheet && !isMyActiveWorksheet && !startWorksheetProcessing
      ) {
        <span class="chip chip-sm chip-success mr-0-5">
          <span>
            {{ activeWorksheet.employee | mpEmployee: "initials" }}
          </span>
        </span>
      }

      @if (isMyActiveWorksheet && !startWorksheetProcessing) {
        <button
          class="icon-button icon-button-sm btn-error border-none toggle-button"
          (click)="onStopWorksheet()"
        >
          <span class="material-symbols-outlined">stop</span>
        </button>
      }

      @if (canAddWorksheet && !startWorksheetProcessing) {
        <button
          class="icon-button icon-button-sm btn-success border-none toggle-button"
          (click)="onAddWorksheet()"
        >
          <span class="material-symbols-outlined">play_arrow</span>
        </button>
      }

      @if (startWorksheetProcessing) {
        <app-spinner size="xs" />
      }
    </div>
  </div>
</div>
