<div class="module-nav" [class.expanded]="expanded" (clickOutside)="onHide()">
  <h3 class="nav-heading">Sécurité</h3>

  @if (canManageUsers) {
    <p
      class="nav-item"
      routerLink="users"
      routerLinkActive="active"
      (click)="onHide()"
    >
      Utilisateurs
    </p>
  } @else {
    <p class="color-gray-50 nav-item">Utilisateurs</p>
  }

  @if (canManageRoles) {
    <p
      class="nav-item"
      routerLink="roles"
      routerLinkActive="active"
      (click)="onHide()"
    >
      Rôles utilisateurs
    </p>
  } @else {
    <p class="color-gray-50 nav-item">Rôles utilisateurs</p>
  }

  <h3 class="nav-heading">MultiPress</h3>

  @if (canManageMappingParameters) {
    <p
      class="nav-item"
      routerLink="multipress/mapping"
      routerLinkActive="active"
      (click)="onHide()"
    >
      Paramètres de mapping
    </p>
  } @else {
    <p class="color-gray-50 nav-item">Paramètres de mapping</p>
  }

  <p
    class="nav-item"
    routerLink="multipress/sync"
    routerLinkActive="active"
    (click)="onHide()"
  >
    Synchronisation
  </p>

  @if (canManageJobsAutomationRules) {
    <p
      class="nav-item"
      routerLink="multipress/automation"
      routerLinkActive="active"
      (click)="onHide()"
    >
      Actions automatiques
    </p>
  } @else {
    <p class="color-gray-50 nav-item">Actions automatiques</p>
  }

  <h3 class="nav-heading">Stock</h3>

  @if (canManageProductGenericNames) {
    <p
      class="nav-item"
      routerLink="stock/products-settings"
      routerLinkActive="active"
      (click)="onHide()"
    >
      Paramètres produits
    </p>
  } @else {
    <p class="color-gray-50 nav-item">Paramètres produits</p>
  }

  <h3 class="nav-heading">Planning</h3>

  @if (canManagePlanningViews) {
    <p
      class="nav-item"
      routerLink="planning/views"
      routerLinkActive="active"
      (click)="onHide()"
    >
      Vues
    </p>
  } @else {
    <p class="color-gray-50 nav-item">Vues</p>
  }
</div>
