@if (product) {
  <div class="modal modal-full">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Déstocker</h2>
      <h3 class="fw-300">{{ product.completeName }}</h3>
      <app-message type="error" [message]="error" class="mb-1 mt-2" />

      <p class="mt-1 d-flex align-items-center">
        Stock actuel
        <span class="chip chip-info ml-0-5">
          {{ product.freeStock }} {{ product.displayStockUnit }}
        </span>
      </p>

      <label class="label required" for="quantity">Quantité</label>
      <input
        class="input"
        type="number"
        id="quantity"
        formControlName="quantity"
        #quantityInput
      />

      <label class="label" for="jobNumber">N° de job</label>
      <input
        class="input"
        type="number"
        id="jobNumber"
        formControlName="jobNumber"
      />

      <label class="label" for="reason">Raison</label>
      <textarea
        class="textarea"
        id="reason"
        formControlName="reason"
      ></textarea>

      <div class="d-flex mt-2">
        <app-cancel-button modalClose />

        @if (isLoading) {
          <div class="flex-50 d-flex justify-content-center">
            <app-spinner size="sm"></app-spinner>
          </div>
        } @else {
          <button class="btn btn-error ml-0-5 flex-fill" type="submit">
            Déstocker {{ form.controls.quantity.value }}
            {{ product.displayStockUnit }}
          </button>
        }
      </div>
    </form>
  </div>
}
