.container {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: var(--color-gray-12);
  border-radius: 1rem;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .job-status.enabled {
      &:hover {
        cursor: pointer;
      }
    }
  }

  h3 {
    font-size: 1.8rem;
    margin-top: 1rem;

    &:hover {
      cursor: pointer;
    }
  }

  .comment {
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: var(--color-info);
    background-color: var(--color-gray-20);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-top: 2rem;

    .material-symbols-outlined {
      font-size: 2rem;
    }

    &.enabled {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .add-comment {
    .btn {
      border-radius: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
