<div class="container">
  <div class="heading">
    <div>
      @if (line.sync.status === "error") {
        <span class="dot dot-error dot-animated mr-0-5"></span>
      }
    </div>

    <div>
      <job-status
        [statusNumber]="line.jobStatusNumber"
        (click)="onChangeStatus()"
        [class.enabled]="canUpdateStatus"
        class="job-status"
      />
    </div>
  </div>

  <h3 [ngClass]="jobNumberColorClass" (click)="onViewJob()">
    {{ line.jobNumber }}
  </h3>

  <h4 class="fw-400">{{ line.company }}</h4>
  <h5 class="fw-300">{{ line.description }}</h5>

  <div class="mt-2">
    <job-devices [devices]="line.devices"></job-devices>

    @if (line.hasSubcontractingProduction) {
      <span class="chip chip-sm chip-info ml-0-2">ST</span>
    }
  </div>

  <div>
    <dl class="definition mt-2">
      <dt>Surface d'impression</dt>
      <dd>{{ line.printingSurface | number: "1.0-1" }} M2</dd>
    </dl>

    <dl class="definition">
      <dt>Quantité totale</dt>
      <dd>{{ line.manufacturedPiecesCount }} EX</dd>
    </dl>

    <dl class="definition">
      <dt>Impression de plaques</dt>
      <dd>{{ line.hasSheetProduction ? "OUI" : "NON" }}</dd>
    </dl>

    <dl class="definition">
      <dt>Finitions service éxpé</dt>
      <dd>
        {{
          line.deliveryServiceFinishs.length > 0
            ? (line.deliveryServiceFinishs | appDisplayList)
            : "NON"
        }}
      </dd>
    </dl>

    <dl class="definition">
      <dt>Dates d'éxpé. multiples</dt>
      <dd [class.color-error]="line.deliverySendingDates.length > 1">
        {{ line.deliverySendingDates.length > 1 ? "OUI" : "NON" }}
      </dd>
    </dl>
  </div>

  <div class="mt-3">
    <dl class="definition mt-3">
      <dt>Codes postaux</dt>
      <dd>
        {{ line.addressZipCodes | appDisplayList }}
      </dd>
    </dl>

    <dl class="definition">
      <dt>Méthodes d'éxpé</dt>
      <dd>
        {{ line.deliveryMethods | appDisplayList }}
      </dd>
    </dl>
  </div>

  @if (line.comment) {
    <div class="comment" [class.enabled]="canUpdateComment">
      <button (click)="onEditComment()" class="d-flex align-items-center">
        <span class="material-symbols-outlined mr-0-5">comment</span>
        {{ line.comment }}
      </button>
    </div>
  }

  @if (displayAddCommentButton) {
    <div class="add-comment mt-2">
      <button class="btn btn-sm" (click)="onEditComment()">
        Ajouter un commentaire
      </button>
    </div>
  }
</div>
