@use "../../../../styles/media";

.heading {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 1rem;
  border-bottom: 1px solid var(--color-gray-30);
  background-color: var(--color-bg);
  position: sticky;
  top: 0;

  @include media.xl {
    display: none;
  }

  .heading-nav-item {
    display: flex;
    align-items: center;
    cursor: default;
    color: var(--color-text);
    font-size: 1.5rem;

    .enabled {
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--color-primary);
      }
    }

    .disabled {
      cursor: default;
      color: var(--color-gray-50);
    }
  }
}

.dark {
  .heading-nav-item {
    .enabled {
    }
  }
}

.light {
  .heading-nav-item {
    .enabled {
      color: red;
    }
  }
}
