<div class="heading">
  <button
    class="toggle-button icon-button d-flex xl:d-none"
    (click)="onToggle()"
  >
    <span class="material-icons">menu</span>
  </button>

  <div class="heading-nav-item ml-1">
    <p>{{ module | titlecase }}</p>
  </div>

  @for (navItem of navItems; let last = $last; track navItem) {
    <div class="heading-nav-item">
      <span class="material-symbols-outlined">chevron_right</span>

      @if (!navItem.disabled && !last && !!navItem.route) {
        <a class="enabled" [routerLink]="navItem.route">
          {{ navItem.label }}
        </a>
      }

      @if (last || !navItem.route) {
        <p class="last">{{ navItem.label }}</p>
      }

      @if (navItem.disabled) {
        <p class="disabled">{{ navItem.label }}</p>
      }
    </div>
  }
</div>
