.list {
  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .action-btn {
      opacity: 0;
      transition:
        opacity 0.2s ease-in-out,
        color 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        color: var(--color-primary);
      }
    }

    &:hover {
      .action-btn {
        opacity: 1;
      }
    }
  }
}
