@if (devices) {
  <h3
    class="mt-2 d-flex align-items-center justify-content-between color-primary"
  >
    Affichage des noms de machines

    <button
      class="btn btn-sm"
      (click)="addMappingName()"
      *ngIf="canManageMappingData"
    >
      Ajouter
    </button>
  </h3>

  <p class="text-italic mt-0-5 color-gray-70 fw-200">
    Permet de simplifier le nom d'affichage des machines. <br />
    Ce nom est utilisé principalement dans le planning d'expédition et les
    plannings de production.
  </p>

  <app-message type="error" [message]="error" />

  <ul class="list mt-2">
    @for (name of devices.mapping.names; track name.mpName) {
      <li class="list-item">
        <span>{{ name.mpName }} -> {{ name.displayName }}</span>

        <span
          class="material-icons action-btn toggle-button ml-0-5"
          (click)="removeMappingName(name)"
          *ngIf="canManageMappingData"
        >
          delete
        </span>
      </li>
    }
  </ul>
}
