@if (subJob) {
  <div class="container">
    <h2>Production</h2>

    @if (hasProductionData()) {
      <dl class="product">
        <dt>Type de produit</dt>
        <dd>
          <span class="chip chip-sm chip-warning">
            {{ subJob.mp.productType }}
          </span>
        </dd>
      </dl>

      @for (prodLayer of subJob.prodLayers; track prodLayer.numeric.uniqueId) {
        <div class="prod-layer">
          <dl>
            <dt>
              <span class="chip chip-sm chip-info">
                {{ prodLayer.numeric.device }}
              </span>
            </dt>

            <dd class="color-info">{{ prodLayer.numeric.printMode }}</dd>
          </dl>

          @if (prodLayer.numeric.layerName) {
            <dl>
              <dt>Référence</dt>
              <dd class="fw-500">{{ prodLayer.numeric.layerName }}</dd>
            </dl>
          }

          <dl>
            <dt>Format</dt>
            <dd>
              {{ prodLayer.numeric.width }} x {{ prodLayer.numeric.height }} mm
            </dd>
          </dl>

          <dl>
            <dt>Matière</dt>
            <dd
              (click)="onViewPaper(prodLayer.numeric.paperId)"
              class="material toggle-button"
            >
              {{ prodLayer.numeric.paperName }}
              {{ prodLayer.numeric.paperThickness }}mm
            </dd>
          </dl>

          <dl>
            <dt>Quantité</dt>
            <dd>{{ prodLayer.numeric.quantity }} ex</dd>
          </dl>

          @if (prodLayer.finishes) {
            <dl>
              <dt>Finitions</dt>
              <dd>
                <ul>
                  <li *ngFor="let finishLayer of prodLayer.finishes">
                    {{ finishLayer.displayValue }}
                  </li>
                </ul>
              </dd>
            </dl>
          }
        </div>
      }

      @if (subJob.unlinkedFinishingLayers) {
        <div class="prod-layer">
          <dl>
            <dt>
              <span class="chip chip-sm chip-info"> Finition globale </span>
            </dt>
          </dl>

          <dl>
            <dt>Finitions</dt>
            <dd>
              <ul>
                @for (
                  finishLayer of subJob.unlinkedFinishingLayers;
                  track finishLayer.displayValue
                ) {
                  <li>{{ finishLayer.displayValue }}</li>
                }
              </ul>
            </dd>
          </dl>
        </div>
      }
    } @else {
      <p class="mt-1 mb-2">Aucune donnée de production ...</p>
    }
  </div>
}
