.container {
  padding-top: 2rem;

  dl {
    font-size: 1.3rem;
    display: flex;
    padding: 0.2rem;
    line-height: 1.9rem;
    border-radius: 0.5rem;

    &.product {
      margin-top: 1rem;
      padding: 1rem 0;
    }

    .chip-sm {
      line-height: normal;
    }

    dt {
      width: 14rem;
      color: var(--color-gray-60);
      flex-shrink: 0;
    }

    dd {
      white-space: pre-line;
    }
  }
}
