@if (subcontractors?.length) {
  <div class="container">
    @for (subContractor of subcontractors; track subContractor) {
      <div>
        <dl>
          <dt>
            <span class="chip chip-sm chip-info"> Sous-traitance </span>
          </dt>
          <dd class="color-info">{{ subContractor.relation }}</dd>
        </dl>

        <dl>
          <dt>Finitions</dt>
          <dd>
            <ul>
              @for (
                item of subContractor.items;
                let index = $index;
                track item
              ) {
                <li>{{ item.mp.description }}</li>
              }
            </ul>
          </dd>
        </dl>
      </div>
    }
  </div>
}
