<div class="container dark">
  <form [formGroup]="form" (ngSubmit)="onSignIn()" class="form">
    <img class="brand" src="../../../assets/images/atc-optima-dark.svg" />

    <p
      class="message message-error mt-2"
      *ngIf="authError$ | async; let authError"
    >
      {{ authError }}
    </p>

    <input
      type="text"
      id="identifier"
      class="input input-lg mt-2"
      formControlName="identifier"
      placeholder="Identifiant"
    />

    <input
      type="password"
      id="password"
      class="input input-lg mt-2"
      formControlName="password"
      placeholder="Mot de passe"
    />

    <button class="btn btn-primary mt-2">Connexion</button>
  </form>
</div>
