<ul class="data-item" (click)="onNavigateToJob()">
  <li [style.flex]="columns[0].flex">{{ line.jobNumber }}</li>

  <li [style.flex]="columns[1].flex">
    <job-status [statusNumber]="line.jobStatusNumber" />
  </li>

  <li [style.flex]="columns[2].flex">{{ line.company }}</li>

  <li [style.flex]="columns[3].flex">
    {{ line.sendingDate | date: "MM/dd" }}
  </li>

  <li [style.flex]="columns[4].flex" class="text-center">
    {{ line.itemsCount }}
  </li>

  <li [style.flex]="columns[5].flex" class="text-center">
    {{ line.globalStatus }}
  </li>
</ul>

<div class="data-card">
  <h3 class="fw-300">JOB N°{{ line.jobNumber }}</h3>

  <ul class="mt-1">
    <li>
      <div class="label">Statut du job</div>
      <div class="data">
        <job-status [statusNumber]="line.jobStatusNumber" />
      </div>
    </li>

    <li>
      <div class="label">Client</div>
      <div class="data">
        {{ line.company }}
      </div>
    </li>

    <li>
      <div class="label">Livraison</div>
      <div class="data">
        {{ line.sendingDate | date: "MM/dd" }}
      </div>
    </li>

    <li>
      <div class="label">Nb de résa</div>
      <div class="data">
        {{ line.itemsCount }}
      </div>
    </li>

    <li>
      <div class="label">Statut résa</div>
      <div class="data">
        {{ line.globalStatus }}
      </div>
    </li>
  </ul>
</div>
