@use "../../../../../../styles/media";

.data-item {
  display: none;
  column-gap: 1rem;
  padding: 1.5rem 2.1rem;
  border-radius: 1rem;
  background-color: var(--color-bg);
  transition: background-color 0.2s ease-in-out;

  @include media.md {
    display: flex;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-gray-15);
  }

  & > li {
    flex-grow: 0;
  }
}

.data-card {
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--color-gray-12);
  margin-bottom: 2rem;
  transition: background-color 0.2s ease-in-out;

  @include media.md {
    display: none;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-gray-15);
  }

  ul > li {
    display: flex;
    align-items: center;
    height: 3rem;

    .label {
      width: 11rem;
      color: var(--color-gray-50);
    }
  }
}
