<div class="container">
  <form class="form" [formGroup]="form">
    <app-search
      placeholder="Rechercher un job par numéro, client, theme, ..."
      size="large"
      formControlName="search"
      [autofocus]="true"
    />
  </form>
</div>
