.container {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: var(--app-navbar-height);
  background-color: var(--color-bg);
  z-index: 2;

  .form {
    flex: 1;
    max-width: 60rem;
  }
}
