.container {
  position: relative;

  .core {
    display: flex;

    .main {
      flex: 1;
      height: calc(var(--app-content-min-height) - 5rem);
      overflow-y: auto;
    }
  }

  .heading {
    border-top: 1px solid var(--color-gray-30);
  }
}
