@if (displayJobView) {
  <div class="container">
    <job-view-header
      [job]="job"
      [from]="from$ | async"
      [user]="user"
      [canUpdateStatus]="canUpdateStatus"
      (toggleNav)="onToggleNav()"
      (reSyncJob)="onReSyncJob()"
      (updateStatus)="onUpdateStatus()"
    />

    <div class="heading xl:d-none">
      <app-feature-nav-heading [module]="module"></app-feature-nav-heading>
    </div>

    @if (displayWorksheets) {
      <job-worksheets
        [worksheets]="worksheets"
        [operations]="userOperations"
        [user]="user"
        [startWorksheetProcessing]="startWorksheetProcessing"
        (addWorksheet)="onAddWorksheet($event)"
        (stopWorksheet)="onStopWorksheet($event)"
      />
    }

    <div class="core">
      <job-view-nav
        [expanded]="expanded$ | async"
        [job]="job"
        [displayWorksheets]="displayWorksheets"
        (hide)="onHideNav()"
      />

      <div class="main no-scrollbar" [class.with-worksheet]="displayWorksheets">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
}

@if (displayMessage) {
  <job-view-message [error]="error" [isLoading]="isLoading" />
}
