<div class="modal-basic">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="heading">
      Ajouter une opération à la règle de statut {{ rule.fromStatusText }}
    </h2>

    <div class="main">
      <app-message type="error" [message]="error" />

      <label class="label required" for="operation">Opération</label>
      <app-select
        [items]="operationsItems$"
        class="select"
        id="operation"
        [searchbar]="true"
        formControlName="operation"
      />
    </div>

    <div class="actions">
      <app-cancel-button modalClose />

      <app-save-button label="Ajouter" />
    </div>
  </form>
</div>
