<button
  class="container"
  [class.checked]="checked"
  [class.disabled]="disabled"
  (click)="toggleChecked()"
  [ngClass]="[type, size]"
>
  <div class="round-container">
    <div class="round"></div>
  </div>
  <p class="label">{{ label }}</p>
</button>
