.container {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  border: 1px solid var(--color-gray-30);
  border-radius: 1rem;
  padding: 0.6rem 0.8rem;
  transition: background-color 0.2s ease-in-out;
  font-family: var(--font-family);
  font-size: 1.4rem;
  font-weight: var(--font-weigth-base);
  color: var(--color-gray-60);

  &:hover {
    cursor: pointer;
    background-color: var(--color-gray-15);
  }

  &:active {
    background-color: var(--color-gray-30);
    transition: none;
  }

  &.sm {
    padding: 0.4rem 0.6rem;
    font-size: 1.3rem;

    .round-container {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 0.6rem;

      .round {
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 0.4rem;
      }
    }
  }

  .round-container {
    flex-shrink: 0;
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-gray-30);
    border-radius: 0.7rem;

    .round {
      width: 1rem;
      height: 1rem;
      border-radius: 0.5rem;
    }
  }

  &.checked {
    color: var(--color-text);
    border-color: var(--color-gray-60);

    .round-container {
      border-color: var(--color-gray-60);

      .round {
        background-color: var(--color-gray-90);
      }
    }
  }

  &.checked.primary {
    color: var(--color-primary);
    border-color: var(--color-primary-60);

    .round-container {
      border-color: var(--color-primary-60);

      .round {
        background-color: var(--color-primary);
      }
    }
  }

  &.checked.info {
    color: var(--color-info);
    border-color: var(--color-info-60);

    .round-container {
      border-color: var(--color-info-60);

      .round {
        background-color: var(--color-info);
      }
    }
  }

  &.checked.success {
    color: var(--color-success);
    border-color: var(--color-success-60);

    .round-container {
      border-color: var(--color-success-60);

      .round {
        background-color: var(--color-success);
      }
    }
  }

  &.checked.warning {
    color: var(--color-warning);
    border-color: var(--color-warning-60);

    .round-container {
      border-color: var(--color-warning-60);

      .round {
        background-color: var(--color-warning);
      }
    }
  }

  &.checked.error {
    color: var(--color-error);
    border-color: var(--color-error-60);

    .round-container {
      border-color: var(--color-error-60);

      .round {
        background-color: var(--color-error);
      }
    }
  }

  &.disabled {
    &:hover {
      cursor: unset;
      background: none;
    }
  }
}
