<div class="container">
  <h2>Vues de planning</h2>

  <div class="d-flex align-items-center justify-content-end">
    @if (canManagePlanningViews) {
      <button class="btn btn-primary" (click)="onCreateView()">
        Ajouter une vue
      </button>
    }
  </div>

  <div class="mt-2" *ngIf="views?.length">
    @for (view of views; track view._id) {
      <settings-planning-view
        [view]="view"
        [setup]="setup"
        [expanded]="expandedViewsIds[view._id]"
        [canManagePlanningViews]="canManagePlanningViews"
        (edit)="onUpdateView(view)"
        (remove)="onRemoveView(view)"
        (addMachineId)="onAddMachineId(view)"
        (removeMachineId)="onRemoveMachineId(view, $event)"
        (toggle)="onToggleView(view._id)"
      />
    }
  </div>

  @if (!views || !views.length) {
    <p class="message mt-2">Aucune vue de planning paramétrée pour le moment</p>
  }
</div>
