@if (product) {
  <div>
    <h3 class="mt-3">Gestion de stock</h3>

    <dl class="definition mt-1">
      <dt>Stock minimum</dt>
      <dd>{{ product.minimumStock }}</dd>
    </dl>

    <dl class="definition">
      <dt>Stock réservé</dt>
      <dd>{{ product.reservedStock }}</dd>
    </dl>

    <dl class="definition">
      <dt>Stock disponible</dt>
      <dd>{{ product.freeStock }}</dd>
    </dl>
  </div>
}
