<h3 class="color-primary mt-2">Noms génériques des produits</h3>

<p>Ces noms sont utilisés lors des reservations matières</p>
<div class="d-flex justify-content-end">
  @if (canManageProductsSettings) {
    <button class="btn btn-primary" (click)="onAddName()">Ajouter</button>
  }
</div>

@if (!names || !names.length) {
  <p class="message mt-2">Aucun nom générique n'est paramétré</p>
}

<app-message type="error" [message]="error" />

@if (names?.length) {
  <ul class="list mt-2">
    @for (name of names; track name._id) {
      <li class="list-item d-flex">
        <span>
          {{ name.name }}
        </span>

        @if (canManageProductsSettings) {
          <div class="actions">
            <button (click)="onEditName(name)">
              <span class="material-icons action-btn"> edit </span>
            </button>

            <button (click)="onRemoveName(name)">
              <span class="material-icons action-btn toggle-button ml-0-5">
                delete
              </span>
            </button>
          </div>
        }
      </li>
    }
  </ul>
}
