<div class="container">
  <h2>Traitement de la résa matière</h2>

  <app-message type="error" [message]="error" class="my-3" />

  @if (listData) {
    <div class="mt-2">
      @for (data of listData; track data) {
        <job-stock-reservation-handle-one
          [data]="data"
          [papers$]="papers$"
          (toggle)="onToggle(data.reservation._id)"
          (changeQuantity)="onChangeQuantity(data.reservation._id, $event)"
          (selectPaper)="onSelectPaper(data.reservation._id, $event)"
        />
      }
    </div>
  }

  @if (data) {
    <div class="mt-2">
      <job-stock-reservation-handle-one
        [data]="data"
        [papers$]="papers$"
        (toggle)="onToggleUnique()"
        (changeQuantity)="onChangeUniqueQuantity($event)"
        (selectPaper)="onSelectUniquePaper($event)"
      />
    </div>
  }

  <div class="actions mt-2">
    <button class="btn" [routerLink]="returnRoute">Annuler</button>

    <button class="btn btn-info ml-0-5" (click)="onHandle()">Traiter</button>
  </div>
</div>
