.container {
  padding-bottom: 10rem;

  h2 {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 0.3rem;

    .material-icons {
      font-size: 2rem;
      margin-right: 0.5rem;
    }
  }

  h3 {
    margin-top: 2rem;
  }

  .info {
    margin-top: 2rem;

    .order-heading {
      background-color: var(--color-gray-10);
    }
  }
}
