@if (operation) {
  <div class="container">
    <h2>
      @if (operationReady) {
        <span class="material-icons color-success">done</span>
      }

      @if (isProcessing) {
        <span class="material-icons color-success">play_arrow</span>
      }

      @if (isPaused) {
        <span class="material-icons color-warning">pause</span>
      }

      {{ operation.operation | mpListItem }}
    </h2>

    <div class="info">
      <dl class="definition">
        <dt>Etape planning</dt>
        <dd>{{ operation.machine }}</dd>
      </dl>

      <dl class="definition">
        <dt>Temps calculé</dt>
        <dd>
          {{ operation.calculatedTime | mpTime }}
        </dd>
      </dl>

      <dl class="definition">
        <dt>Attribué à</dt>
        <dd>
          {{ operation.employee }}
        </dd>
      </dl>
    </div>

    @if (worksheets?.length) {
      <h3 class="fw-300 color-info mt-2 mb-1">Fiches de travail</h3>
    }

    @for (worksheet of worksheets; track worksheet.id) {
      <job-operation-worksheet
        [worksheet]="worksheet"
        [worksheets]="worksheets"
      />
    }
  </div>
}
