@use "../../../../../../styles/media";

.container {
  height: 8rem;
  position: sticky;
  top: 5rem;
  background-color: var(--color-bg);
  z-index: 2;

  @include media.xl {
    top: 0;
  }
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    flex: 1;
    width: 100%;
    max-width: 50rem;
  }
}
