@if (notification) {
  <div
    class="notification"
    [class.icon]="!!notification.icon"
    [class.expanded]="expanded"
    [ngClass]="[notification.type]"
  >
    @if (notification.icon) {
      <div class="icon">
        <span class="material-icons">{{ notification.icon }}</span>
      </div>
    }

    <div class="content">
      @if (notification.title) {
        <h3 class="notification-title">
          {{ notification.title }}
        </h3>
      }

      <p class="notification-message">{{ notification.message }}</p>

      @if (notification.mustValidate) {
        <button class="btn btn-sm mt-1" (click)="validate()">Vu</button>
      }
    </div>
  </div>
}
