.notification {
  position: fixed;
  width: var(--notification-width);
  top: 2rem;
  right: calc(0rem - var(--notification-width) - 2rem);

  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--color-gray-0);
  border: 2px solid var(--color-gray);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1.5rem;

  z-index: 200;

  transition: transform ease-in-out 0.2s;

  &.expanded {
    transform: translateX(calc(0rem - var(--notification-width) - 4rem));
  }

  &:not(&.icon) {
    padding: 2rem;
  }

  .icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    .notification-title {
      margin: 0;
      padding: 0;
    }

    .notification-message {
      padding: 0;
    }
  }

  &.info {
    .icon {
      color: var(--color-info);
    }

    border-color: var(--color-info);
  }

  &.success {
    .icon {
      color: var(--color-success);
    }

    border-color: var(--color-success);
  }

  &.warning {
    .icon {
      color: var(--color-warning);
    }

    border-color: var(--color-warning);
  }

  &.error {
    .icon {
      color: var(--color-error);
    }

    border-color: var(--color-error);
  }
}
