@use "../../../../styles/media";

.container {
  padding: 0 1rem 20rem 1rem;
  width: 100%;
  max-width: 120rem;
  margin: auto;

  .data-heading {
    display: none;
    position: sticky;
    top: 13rem;

    @include media.lg {
      display: block;
    }

    @include media.xl {
      top: 8rem;
    }
  }

  .empty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--app-content-min-height) - 20rem);
  }
}

.message-container {
  display: flex;
  height: var(--app-content-min-height);
  align-items: center;
  justify-content: center;
}
