@if (!error && !isLoading) {
  <div class="container" (scroll)="onScroll($event)">
    <stock-list-search-heading
      [searchValue]="searchValue$ | async"
      [clearSearchField$]="clearSearchField$"
      (search)="onSearch($event)"
    />

    @if (isEmpty) {
      <div class="empty-container">
        <app-empty-message text="Aucun résultat..." />
      </div>
    } @else {
      <div class="data-heading">
        <app-data-heading [columns]="columns" />
      </div>

      @if (papers) {
        <div>
          @for (paper of papers; track paper.id) {
            <stock-paper-data-item [columns]="columns" [paper]="paper" />
          }
        </div>
      } @else if (articles) {
        <div>
          @for (article of articles; track article.id) {
            <stock-article-data-item [article]="article" [columns]="columns" />
          }
        </div>
      }
    }
  </div>
}

@if (error) {
  <div class="message-container">
    <app-message type="error" [message]="error" />
  </div>
}

@if (isLoading) {
  <div class="message-container">
    <app-spinner size="lg" />
  </div>
}
