@if (order) {
  <div class="container">
    <h3 class="fw-300 color-info mt-2 mb-1">Infos générales</h3>

    <ul class="order-heading">
      <dl class="definition">
        <dt>Contact</dt>
        <dd>{{ order.contactName || "-" }}</dd>
      </dl>

      <dl class="definition">
        <dt>Date d'envoi</dt>
        <dd>
          {{
            order.sendingDate
              ? (order.sendingDate | date: "EEEE dd MMMM YYYY" | titlecase)
              : "-"
          }}
        </dd>
      </dl>

      <dl class="definition">
        <dt>Date de livraison</dt>
        <dd>
          {{
            order.deliveryDate
              ? (order.deliveryDate | date: "EEEE dd MMMM YYYY" | titlecase)
              : "-"
          }}
        </dd>
      </dl>
    </ul>
  </div>
}
