<div class="modal-basic">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="heading">Ajouter un mapping de device</h2>

    <div class="main">
      <app-message type="error" [message]="error" />

      <label class="label required" for="mp-name">Nom MultiPress</label>
      <input id="mp-name" class="input" type="text" formControlName="mpName" />

      <label class="label required" for="display-name">Nom d'affichage</label>
      <input
        id="display-name"
        class="input"
        type="text"
        formControlName="displayName"
      />
    </div>

    <div class="actions">
      <app-cancel-button modalClose />
      <app-save-button label="Valider" />
    </div>
  </form>
</div>
