@use "../../../../../../../../styles/media";

.container {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--color-gray-10);

  .copy {
    font-size: 2.2rem;
    margin-left: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--color-info);
  }

  .main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    @include media.md {
      flex-direction: row;
    }

    .main-item {
      flex: 1;
    }
  }
}
