<div class="container">
  <div class="d-flex align-items-center">
    <span class="chip chip-sm chip-info">{{ address.mp.deliveryMethod }}</span>

    <button (click)="copyAddress()">
      <span class="material-symbols-outlined copy">
        {{ copyCheck ? "check" : "content_copy" }}
      </span>
    </button>
  </div>

  <div class="main">
    @if (displayAddress) {
      <div class="main-item">
        <h3>Adresse</h3>
        <p>{{ address.mp.company }}</p>
        <p>{{ address.mp.address }}</p>

        @if (city) {
          <p>{{ city }}</p>
        }

        @if (country) {
          <p>{{ country }}</p>
        }
      </div>
    }

    @if (displayContact) {
      <div class="main-item">
        <h3>Contact</h3>
        <p>{{ address.mp.contactName }}</p>
        <p>{{ address.mp.email }}</p>
        <p>{{ address.mp.phone }}</p>
      </div>
    }
  </div>

  <div class="items mt-2">
    <h3>Eléments</h3>

    @for (item of address.items; track item.description) {
      <job-delivery-address-item [item]="item" />
    }
  </div>
</div>
