.container {
  width: 100%;
  max-width: 100rem;
  margin: auto;
  padding: 0 1rem;
}

.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--app-content-min-height);
}
