@if (!error && !isLoading && product) {
  <div class="container">
    <stock-product-info
      (updateStock)="onUpdateStock()"
      (decreaseStock)="onDecreaseStock()"
      (cancelLastMutation)="onCancelLastMutation()"
      (updateGenericName)="onUpdateGenericName()"
      [canDecreaseStock]="canDecreaseStock"
      [canUpdateStock]="canUpdateStock"
      [canUpdateSettings]="canUpdateProductSettings"
      [product]="product"
      [lastMutation]="lastMutation"
    />

    <stock-article-info
      *ngIf="article"
      [article]="article"
      [canUpdateStockInfo]="canUpdateProductSettings"
      (updateStockInfo)="onUpdateStockInfo()"
    />

    @if (paper) {
      <stock-paper-info [paper]="paper" />
    }

    <product-stock-info [product]="product" />

    <product-files
      [files]="product.files"
      [canManageDocuments]="canManageDocuments"
      (addDocument)="onAddDocument()"
      (updateDocument)="onUpdateDocument($event)"
      (updateDocumentInfo)="onUpdateDocumentInfo($event)"
      (downloadDocument)="onDownloadDocument($event)"
      (deleteDocument)="onDeleteDocument($event)"
    />

    <stock-product-mutations-history
      [productStockUnit]="product.displayStockUnit"
      [packStockUnits]="product.packStockUnits"
      [mutations]="mutations"
      [isLoading]="mutationsLoading"
      [error]="mutationsError"
    />
  </div>
}

@if (error) {
  <div class="message-container">
    <p class="message message-error">{{ error }}</p>
  </div>
}

@if (isLoading) {
  <div class="message-container">
    <app-spinner size="lg"></app-spinner>
  </div>
}
