<div class="core no-scrollbar" [ngClass]="[uiMode, 'app']" appMedia>
  <app-notification></app-notification>
  <app-modal></app-modal>

  <app-navbar
    [user]="user"
    [navItems]="navItems$ | async"
    (toggleNav)="onToggleNav()"
    (logout)="onLogout()"
  ></app-navbar>

  <app-nav
    [user]="user"
    [expanded]="navExpanded"
    [navItems]="navItems$ | async"
    (hide)="onHideNav()"
    (logout)="onLogout()"
  ></app-nav>

  <router-outlet></router-outlet>
</div>
