<div class="modal-basic" (clickOutside)="onCancel()">
  <h2 class="heading">Filtre utilisateurs</h2>

  @if (view) {
    <h3 class="subHeading subHeading-info">
      {{ view.planningGroup | mpListItem }}
    </h3>
  }

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formArrayName="employees" class="main">
      <app-message type="error" [message]="error" class="mb-2" />

      @for (employee of employees; let index = $index; track employee) {
        <div class="d-flex align-items-center mt-1">
          <app-switch size="small" [formControlName]="index" [id]="employee" />

          <label class="label label-float ml-1" [for]="employee">
            {{ employee }}
          </label>
        </div>
      }
    </div>

    <div class="actions">
      <button type="button" class="btn" (click)="onRemoveFilters()">
        Tous
      </button>

      <button type="button" class="btn" (click)="onFilterMyJobs()">
        Mes jobs
      </button>

      <app-save-button label="Filtrer" />
    </div>
  </form>
</div>
