.container {
  max-width: var(--job-view-main-max-width);
  margin: auto;
  padding: 2rem 1rem 20rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 2rem;

  .message {
    white-space: pre-line;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--color-gray-15);
    }
  }
}

.emptyMessage {
  height: calc(var(--app-content-min-height) - 10rem);
  display: flex;
  align-items: center;
  justify-content: center;

  .message {
    padding: 2rem;
  }
}
