@if (job) {
  @if (displayInfos) {
    <div class="container">
      @if (job.mp.info.general) {
        <div class="message">
          <h3 class="color-info">Générale</h3>
          <p class="mt-1">{{ job.mp.info.general }}</p>
        </div>
      }

      @if (job.mp.info.prePress) {
        <div class="message">
          <h3 class="color-info">Pré-presse</h3>
          <p class="mt-1">{{ job.mp.info.prePress }}</p>
        </div>
      }

      @if (job.mp.info.digital) {
        <div class="message">
          <h3 class="color-info">Impression</h3>
          <p class="mt-1">{{ job.mp.info.digital }}</p>
        </div>
      }

      @if (job.mp.info.finishing) {
        <div class="message">
          <h3 class="color-info">Finitions</h3>
          <p class="mt-1">{{ job.mp.info.finishing }}</p>
        </div>
      }

      @if (job.mp.info.subcontract) {
        <div class="message">
          <h3 class="color-info">Sous-traitance</h3>
          <p class="mt-1">{{ job.mp.info.subcontract }}</p>
        </div>
      }

      @if (job.mp.info.expeditions) {
        <div class="message">
          <h3 class="color-info">Expéditions</h3>
          <p class="mt-1">{{ job.mp.info.expeditions }}</p>
        </div>
      }

      @if (job.mp.info.application) {
        <div class="message">
          <h3 class="color-info">Pose</h3>
          <p class="mt-1">{{ job.mp.info.application }}</p>
        </div>
      }
    </div>
  } @else {
    <div class="emptyMessage">
      <p class="message message-info">
        Aucune remarque n'a été ajoutée dans ce job
      </p>
    </div>
  }
}
