.container {
  display: flex;
  margin-bottom: 2rem;

  .info {
    display: flex;
    align-items: center;
    padding: 0.6rem 1rem 0.6rem 0.6rem;
    border-radius: 1rem;
    color: var(--color-info);
    background-color: var(--color-gray-15);

    .chip {
      display: flex;
      align-items: center;
    }

    &.pao {
      color: var(--color-info);
    }

    &.prd {
      color: var(--color-warning);
    }

    .material-symbols-outlined {
      font-size: 1.8rem;
      margin-left: 0.2rem;
    }

    .content {
      display: block;
      white-space: pre-wrap;
      margin-left: 0.5rem;
      font-size: 1.3rem;
    }
  }
}
