@if (comment) {
  <div class="container">
    <div [ngClass]="['info', type]">
      <div
        [ngClass]="[
          'chip',
          'chip-sm',
          type === 'pao' ? 'chip-info' : 'chip-warning',
        ]"
      >
        <span class="material-symbols-outlined">comment</span>
        {{ type | uppercase }}
      </div>

      <span class="content">{{ comment }}</span>
    </div>
  </div>
}
