@if (job) {
  <div class="container">
    <form class="left" [formGroup]="form">
      <app-search
        placeholder="Recherche par ref ATC, matière ou description ..."
        size="large"
        formControlName="search"
      ></app-search>
    </form>

    <ul class="right">
      @for (device of job.meta.productionTypes; track device) {
        <li
          class="device-button"
          [class.active]="
            subJobsState ? subJobsState.devicesFilters[device] : false
          "
          (click)="onToggleDeviceSubJobs(device)"
        >
          {{ device }}
        </li>
      }

      @if (hasInvoiceSubJob) {
        <li
          class="extra-button"
          [class.active]="!subJobsState?.hideInvoiceSubJobs"
          (click)="onToggleInvoiceSubJobs()"
        >
          Devis
        </li>
      }

      @if (hasSubJobsWithoutProduction) {
        <li
          [class.active]="!subJobsState?.hideNoProdSubJobs"
          (click)="onToggleNoProdSubJobs()"
          class="extra-button"
        >
          Sans Prod
        </li>
      }
    </ul>
  </div>
}
