@use "../../../../../../../../styles/media";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  position: sticky;
  top: 0;
  height: 14rem;
  background-color: var(--color-bg);

  @include media.xl {
    flex-direction: row;
    align-items: center;
    height: 10rem;
  }

  .left {
    @include media.xl {
      flex: 1;
    }
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 0.5rem;
    row-gap: 1rem;

    @include media.xl {
      flex: 1;
    }

    .device-button,
    .extra-button {
      padding: 0.3rem 0.8rem;
      border-radius: 1rem;
      background-color: var(--color-gray-20);
      font-size: 1.3rem;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
      }
    }

    .device-button.active {
      color: var(--color-bg);
      background-color: var(--color-info);
    }

    .extra-button.active {
      color: var(--color-bg);
      background-color: var(--color-warning);
    }
  }
}
