<h1>Mapping des données MultiPress</h1>

<p class="message message-error mt-2" *ngIf="error">{{ error }}</p>

<ng-container *ngIf="appSettings">
  <h2 class="mt-3">Jobs</h2>

  <admin-mp-mapping-job-status-list
    [statuses]="appSettings.job.statuses"
    [canManageMappingData]="canManageMappingData"
    (settingsChange)="onSettingsChange($event)"
  ></admin-mp-mapping-job-status-list>

  <admin-mp-mapping-job-mapping-meta-filter-list
    [metaFilters]="appSettings.job.mapping.metaFilters"
    [canManageMappingData]="canManageMappingData"
    (settingsChange)="onSettingsChange($event)"
  ></admin-mp-mapping-job-mapping-meta-filter-list>

  <h2 class="mt-3">Devices</h2>

  <admin-mp-mapping-devices-mapping-list
    [devices]="appSettings.devices"
    [canManageMappingData]="canManageMappingData"
    (settingsChange)="onSettingsChange($event)"
  ></admin-mp-mapping-devices-mapping-list>
</ng-container>
