<div class="modal-basic">
  <h2 class="heading">{{ title }}</h2>

  @if (subtitle) {
    <h3 class="subHeading subHeading-info">{{ subtitle }}</h3>
  }

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="main">
      <app-message class="mb-2" type="error" [message]="error" />

      <label class="label required" for="name">Nom</label>
      <input class="input" type="text" id="name" formControlName="name" />

      <label class="label required" for="planningGroup"
        >Groupe de planning</label
      >
      <app-select
        id="planningGroup"
        [items]="groups$"
        formControlName="group"
      />
    </div>

    <div class="actions">
      <app-cancel-button modalClose />

      <app-save-button />
    </div>
  </form>
</div>
