@if (job) {
  <div class="container">
    <div class="d-flex xl:d-none align-items-center justify-content-end mb-2">
      <job-status [statusNumber]="job.mp.statusNumber"></job-status>

      <button
        class="icon-button icon-button-sm border-none ml-0-5"
        (click)="onReSyncJob()"
      >
        <span class="material-symbols-outlined">sync</span>
      </button>
    </div>

    <h1>{{ job.mp.company }}</h1>
    <h2 class="fw-500 color-gray-60">{{ job.mp.description }}</h2>
    <h3 class="d-flex align-items-center mt-3">
      <span class="material-symbols-outlined fs-3 delivery"
        >local_shipping</span
      >
      <span class="ml-1 color-primary">
        {{ job.mp.dates.delivery | date: "EEEE dd MMMM YYYY" | titlecase }}
      </span>
    </h3>

    <h3 class="mt-3 d-flex align-items-center justify-content-between">Job</h3>

    <dl class="definition mt-1">
      <dt>Thème</dt>
      <dd>{{ job.mp.description }}</dd>
    </dl>

    <dl class="definition">
      <dt>Planifié</dt>
      <dd>{{ job.mp.planned ? "Oui" : "Non" }}</dd>
    </dl>

    <h3 class="mt-3 d-flex align-items-center justify-content-between">
      Contacts
    </h3>

    <dl class="definition mt-1">
      <dt>Créateur</dt>
      <dd>{{ job.mp.creator }}</dd>
    </dl>

    <dl class="definition">
      <dt>Chargé de projet</dt>
      <dd>{{ job.mp.jobManager }}</dd>
    </dl>

    <dl class="definition">
      <dt>Commercial</dt>
      <dd>{{ job.mp.salesMan }}</dd>
    </dl>

    <h3 class="mt-3 d-flex align-items-center justify-content-between">
      Contacts client
    </h3>

    <dl class="definition mt-1">
      <dt>Client</dt>
      <dd>{{ job.mp.company }}</dd>
    </dl>

    <dl class="definition">
      <dt>Contact</dt>
      <dd>{{ job.mp.contactName }}</dd>
    </dl>

    <dl class="definition">
      <dt>Téléphone</dt>
      <dd>{{ job.mp.phone }}</dd>
    </dl>

    <dl class="definition">
      <dt>Mail</dt>
      <dd>{{ job.mp.email }}</dd>
    </dl>

    <h3 class="mt-3 d-flex align-items-center justify-content-between">
      Dates
    </h3>

    <dl class="definition mt-1">
      <dt>Date de création</dt>
      <dd>{{ job.mp.dates.date | date: "EEEE dd MMMM YYYY" }}</dd>
    </dl>

    <dl class="definition">
      <dt>Date de départ</dt>
      <dd>{{ job.mp.dates.sending | date: "EEEE dd MMMM YYYY" }}</dd>
    </dl>

    <dl class="definition">
      <dt>Date de livraison</dt>
      <dd>{{ job.mp.dates.delivery | date: "EEEE dd MMMM YYYY" }}</dd>
    </dl>

    @if (job.mp.dates.atWork) {
      <dl class="definition">
        <dt>Date de BAT</dt>
        <dd>{{ job.mp.dates.atWork | date: "EEEE dd MMMM YYYY" }}</dd>
      </dl>
    }

    @if (job.mp.dates.return) {
      <dl class="definition">
        <dt>Date de retour</dt>
        <dd>{{ job.mp.dates.return | date: "EEEE dd MMMM YYYY" }}</dd>
      </dl>
    }

    <h3 class="mt-3 d-flex align-items-center justify-content-between">
      Données de production
    </h3>

    <dl class="definition mt-1">
      <dt>Surface d'impression</dt>
      <dd>{{ job.meta.printingSurface | number: "1.0-1" }} m2</dd>
    </dl>

    <dl class="definition">
      <dt>Nombre de modèles</dt>
      <dd>{{ job.meta.modelCount }} Modèles</dd>
    </dl>
  </div>
}
