<h3 class="mt-3 d-flex align-items-center justify-content-between">
  Documents

  @if (canManageDocuments) {
    <button class="btn btn-sm btn-info" (click)="onAddDocument()">
      Ajouter
    </button>
  }
</h3>

@if (files && files.length) {
  <div class="mt-1">
    @for (file of files; track file._id) {
      <div class="file">
        <div class="d-flex align-items-center">
          <a
            class="d-flex align-items-center flex-fill"
            [href]="getFilePath(file)"
            target="_blank"
          >
            <span class="material-symbols-outlined mr-0-2">
              {{
                file.mimeType === "application/pdf" ? "picture_as_pdf" : "image"
              }}
            </span>

            <span class="">{{ file.name }}{{ file.extension }}</span>
          </a>

          @if (canManageDocuments) {
            <app-menu
              xDir="left"
              yDir="bottom"
              [items]="fileActions"
              (selected)="onAction($event, file)"
            />
          }
        </div>
      </div>
    }
  </div>
} @else {
  <p class="message text-center mt-1">Aucun document...</p>
}
