<div class="container">
  <div class="left">
    <div class="dates-buttons">
      @if (displayDateActions) {
        <button class="action-btn prev-date" (click)="onSetPrevDate()">
          <span class="material-symbols-outlined">chevron_left</span>
        </button>

        <button
          class="action-btn action-btn-sm reset-date"
          (click)="onSetCurrentDate()"
        >
          <span class="material-symbols-outlined">device_reset</span>
        </button>

        <button class="action-btn next-date" (click)="onSetNextDate()">
          <span class="material-symbols-outlined">chevron_right</span>
        </button>
      }
    </div>

    <div class="title">
      <h2 class="date">
        @if (displayDayTitle) {
          {{ date | date: "EEEE dd MMMM" | titlecase }}
        } @else if (displayWeekTitle) {
          Du <span class="fw-300">Lundi</span>
          {{ firstWeekDay | date: "dd/MM" | titlecase }} au
          <span class="fw-300">vendredi</span>
          {{ lastWeekDay | date: "dd/MM" | titlecase }}
        } @else if (displayAllTitle) {
          Tous les jobs planifiés
        }
      </h2>

      @if (displaySearchTitle) {
        <h2 class="date">Résultats de la recherche</h2>
      }

      <h3 class="filters">
        {{ filters?.view?.name }}
      </h3>
    </div>
  </div>

  <div class="right">
    <form [formGroup]="form" class="form">
      <app-search formControlName="search" placeholder="Recherche" />
    </form>

    <button
      class="icon-button border-none ml-0-5 toggle-button"
      (click)="onSetEmployeesFilter()"
    >
      <span class="material-symbols-outlined">person</span>
    </button>

    <button
      class="icon-button border-none"
      [class.color-primary]="isKanbanMode"
      (click)="onSetKanbanMode()"
    >
      <span class="material-symbols-outlined">view_kanban</span>
    </button>

    <button
      class="icon-button border-none ml-0-2"
      [class.color-primary]="isListMode"
      (click)="onSetListMode()"
    >
      <span class="material-symbols-outlined">view_list</span>
    </button>

    <button
      class="icon-button border-none toggle-button ml-0-2"
      (click)="onChangeFilters()"
    >
      <span class="material-symbols-outlined">tune</span>
    </button>
  </div>
</div>
