@use "../../../../../styles/media";

.container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem 1rem;
  position: sticky;
  top: var(--app-navbar-height);

  height: 14rem;
  padding: 0 1rem;

  background-color: var(--color-bg);
  z-index: 5;

  @include media.lg {
    height: 8rem;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .left {
    display: flex;
    align-items: center;
    flex: 2;

    .dates-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @include media.lg {
        flex: 1;
      }
    }

    .title {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      margin-right: 1rem;
      text-align: right;

      @include media.lg {
        align-items: center;
        justify-content: center;
        margin-right: 0;
      }

      .date {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        font-size: 1.6rem;

        .material-symbols-outlined {
          font-size: 2.6rem;

          @include media.sm {
            font-size: 3rem;
          }
        }
      }

      .filters {
        font-weight: 300;
        color: var(--color-gray-50);
        font-size: 1.5rem;
      }
    }
  }

  .right {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    display: flex;

    .form {
      flex: 1;
    }

    @include media.lg {
      align-items: center;

      .form {
        flex: unset;
      }
    }
  }

  .action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 1.6rem;
    transition: background-color ease-in-out 0.2s;

    .material-symbols-outlined {
      font-size: 3rem;
    }

    &.action-btn-sm {
      .material-symbols-outlined {
        font-size: 2.4rem;
      }
    }

    &:hover {
      background-color: var(--color-gray-20);
    }

    &:active {
      background-color: var(--color-gray-40);
    }
  }
}

.sm-form {
  position: sticky;
  top: calc(var(--app-navbar-height) + 8rem);
  background-color: var(--color-bg);
  padding-bottom: 3rem;
}
