<div class="container">
  <admin-nav
    [expanded]="expanded$ | async"
    [canManageUsers]="canManageUsers"
    [canManageRoles]="canManageRoles"
    [canManageMappingParameters]="canManageMappingParameters"
    [canManageJobsAutomationRules]="canManageJobsAutomationRules"
    [canManageProductGenericNames]="canManageProductGenericNames"
    [canManagePlanningViews]="canManagePlanningViews"
  />

  <main class="module-main no-scrollbar">
    <app-feature-nav-heading [module]="module"></app-feature-nav-heading>

    <router-outlet></router-outlet>
  </main>
</div>
