<div class="modal-basic">
  <h2 class="heading">{{ title }}</h2>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="main">
      <p class="message message-error" *ngIf="error">{{ error }}</p>

      <label class="label required" for="employee">Employé</label>
      <app-select
        id="employee"
        class="select"
        [items]="employeesItems$"
        [searchbar]="true"
        placeholder="Employé"
        formControlName="employeeNumber"
      ></app-select>
      <p class="help">Base provenant de MultiPress</p>

      <label class="label required">Compte ActiveDirectory</label>
      <input class="input" type="text" formControlName="userPrincipalName" />
      <p class="help">userPrincipalName (user&#64;atc.local)</p>

      <div class="d-flex align-items-center mt-2">
        <app-switch formControlName="isAdmin"></app-switch>
        <label class="ml-1">Administrateur</label>
      </div>

      <div class="d-flex align-items-center mt-2">
        <app-switch formControlName="externalAccess"></app-switch>
        <label class="ml-1">Autorisé à se connecter depuis l'extérieur</label>
      </div>

      <div class="actions">
        <button class="btn" type="button" (click)="onCancel()">Annuler</button>

        <button class="btn btn-primary" type="submit">Valider</button>
      </div>
    </div>
  </form>
</div>
