<div class="modal modal-full">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>{{ article.category }}</h2>
    <h3 class="fw-300">{{ article.name }}</h3>

    <p class="message message-error" *ngIf="error"></p>

    <label class="label" for="quantity">Quantité par emballage</label>
    <input
      id="quantity"
      class="input"
      type="number"
      formControlName="quantity"
      #quantityInput
    />

    <label class="label" for="label">Libellé emballage</label>
    <input id="label" class="input" type="text" formControlName="label" />

    <div class="d-flex mt-2">
      <app-cancel-button modalClose />
      <app-save-button label="Valider" class="ml-0-5" />
    </div>
  </form>
</div>
