@if (product) {
  <div class="modal modal-full">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Modifier le stock</h2>
      <p>{{ product.completeName }}</p>
      <app-message type="error" [message]="error" class="mb-1 mt-1" />

      <h3 class="my-3 d-flex align-items-center fw-300">
        Stock actuel
        <span class="chip chip-info ml-0-5">
          {{ product.freeStock }} {{ product.displayStockUnit }}
        </span>
      </h3>

      <label class="label required" for="quantity">Nouvelle quantité</label>
      <input
        class="input"
        type="number"
        id="quantity"
        formControlName="quantity"
        #quantityInput
      />

      <div class="d-flex mt-2">
        <app-cancel-button modalClose />

        @if (isLoading) {
          <div class="flex-fill d-flex justify-content-center">
            <app-spinner size="sm"></app-spinner>
          </div>
        } @else {
          <button class="btn btn-info ml-0-5 flex-fill" type="submit">
            Mettre à jour le stock
          </button>
        }
      </div>
    </form>
  </div>
}
