@if (metaFilters) {
  <h3 class="mt-4 color-primary">Filtres de méta-données</h3>

  <p class="text-italic mt-0-5 color-gray-70">
    Ces données permetent d'extraire les métadonnées calculées lors de la
    synchronisation d'un job depuis MultiPress. Elles sont exploitées
    principalement dans le planning d'expéditions afin d'avoir des informations
    synthétiques sr le contenu d'un dossier.
  </p>

  @for (metaFilter of META_FILTERS; track metaFilter) {
    <h4 class="mt-3 d-flex align-items-center justify-content-between">
      {{ metaFilters[metaFilter].title }}

      @if (canManageMappingData) {
        <button
          class="btn btn-sm"
          (click)="onAddMetaFilter(metaFilters[metaFilter].title, metaFilter)"
        >
          Ajouter
        </button>
      }
    </h4>

    @if (metaFilters[metaFilter].description) {
      <p class="color-gray-60 mt-1">
        {{ metaFilters[metaFilter].description }}
      </p>
    }

    <ul class="list mt-1">
      @for (filter of getMetaFilter(metaFilter).items; track filter) {
        <li
          class="list-item list-item-sm d-flex align-items-center justify-content-between"
        >
          <span>{{ filter }}</span>

          <div class="actions">
            @if (canManageMappingData) {
              <span
                class="material-icons action-btn toggle-button ml-0-5"
                (click)="onDeleteJobMappingMetaFilter(metaFilter, filter)"
              >
                delete
              </span>
            }
          </div>
        </li>
      }
    </ul>
  }
}
