@if (job) {
  <div class="container">
    @if (job.stockReservations?.length) {
      <div class="pl-2">
        <h2>Réservations matière</h2>

        @if (globalStatus) {
          <span [ngClass]="['chip', 'mt-0-5', statusChipColor]">
            {{ globalStatus }}
          </span>
        }
      </div>

      <div class="actions">
        @if (voter?.canAddReservation()) {
          <button class="btn toggle-button" (click)="onAddReservation()">
            Ajouter
          </button>
        }

        @if (voter?.canSendReservations()) {
          <button class="btn btn-info" (click)="onSendAll()">Envoyer</button>
        }

        @if (voter?.canHandleReservations()) {
          <button class="btn btn-info" [routerLink]="['..', 'handle']">
            Traiter
          </button>
        }

        <app-menu
          [items]="otherActions"
          (selected)="onGlobalAction($event)"
          xDir="left"
          yDir="bottom"
        />
      </div>

      <div class="mt-2">
        @for (reservation of job.stockReservations; track reservation._id) {
          <job-stock-reservation
            [reservation]="reservation"
            [voter]="getVoter(reservation)"
            [isAdmin]="user ? user.isAdmin : false"
            (action)="onReservationAction($event)"
            (changeStatus)="onChangeStatus($event)"
          />
        }
      </div>
    } @else {
      <div class="empty-message">
        <app-empty-message text="Ce job n'a aucune résa matière" />

        <div class="d-flex justify-content-center mt-2">
          @if (voter?.canAddReservation()) {
            <button class="btn toggle-button" (click)="onAddReservation()">
              Ajouter
            </button>
          }
        </div>
      </div>
    }
  </div>
}
