.container {
  width: 100%;
  max-width: 100rem;
  margin: auto;
  padding: 2rem 1rem 20rem 1rem;

  .actions {
    display: flex;
    column-gap: 0.5rem;
    margin-top: 2rem;
    margin-right: 1.5rem;
    justify-content: flex-end;
  }

  .empty-message {
    height: calc(var(--app-content-min-height) - 30rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
