body {
  .app {
    font-family: var(--font-family);
    font-weight: var(--font-weigth-base);
    font-size: var(--font-size-base);

    color: var(--color-text);
    background-color: var(--color-bg);
  }
}
