@use "form/input";
@use "form/text-editor";
@use "form/textarea";

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .label {
    margin-top: 1.5rem;
    margin-bottom: 0.4rem;

    &.required::after {
      content: " *";
      color: var(--color-error);
    }

    &-float {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .help {
    margin-top: 0.2rem;
    font-size: 1.3rem;
    font-weight: 200;
    color: var(--color-gray-50);
  }
}
