$names:
  "",
  sm\:,
  md\:,
  lg\:,
  xl\:,
  xxl\:,
  xxxl\:,
  xxxxl\:;

@mixin sm {
  @media only screen and (min-width: 640px) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin \2xl {
  @media only screen and (min-width: 1536px) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (min-width: 1536px) {
    @content;
  }
}

@mixin \3xl {
  @media only screen and (min-width: 1880px) {
    @content;
  }
}

@mixin xxxl {
  @media only screen and (min-width: 1880px) {
    @content;
  }
}

@mixin \4xl {
  @media only screen and (min-width: 2450px) {
    @content;
  }
}

@mixin xxxxl {
  @media only screen and (min-width: 2450px) {
    @content;
  }
}

@mixin set($media) {
  @if #{$media} == sm\: {
    @include sm {
      @content;
    }
  } @else if #{$media} == md\: {
    @include md {
      @content;
    }
  } @else if #{$media} == lg\: {
    @include lg {
      @content;
    }
  } @else if #{$media} == xl\: {
    @include xl {
      @content;
    }
  } @else if #{$media} == \2xl\: {
    @include \2xl {
      @content;
    }
  } @else if #{$media} == xxl\: {
    @include xxl {
      @content;
    }
  } @else if #{$media} == \3xl\: {
    @include \3xl {
      @content;
    }
  } @else if #{$media} == xxxl\: {
    @include xxxl {
      @content;
    }
  } @else if #{$media} == \4xl\: {
    @include \4xl {
      @content;
    }
  } @else if #{$media} == xxxxl\: {
    @include xxxxl {
      @content;
    }
  } @else if #{$media} == "" {
    @content;
  }
}
