* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--color-bg);

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

body {
  height: 100%;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  color: var(--color-text);
  font-weight: var(--font-weigth-base);

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: var(--color-text);
}

hr {
  border: none;
  border-bottom: 1px solid var(--color-gray-40);
}
