@use "utilities/colors";
@use "utilities/display";
@use "utilities/flex";
@use "utilities/font";
@use "utilities/icons";
@use "utilities/margin";
@use "utilities/padding";
@use "utilities/text";
@use "utilities/width";

.no-scrollbar {
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
  scrollbar-width: none !important; /* Firefox */

  &::-webkit-scrollbar {
    display: none !important; /* Safari and Chrome */
  }
}
