:root {
  // App structure
  --app-min-width: 37.5rem;
  --app-content-min-height: calc(100vh - var(--app-navbar-height) - 1px);
  --app-content-max-width: 100rem;
  --app-navbar-height: 7rem;
  --app-nav-width: 36rem;

  // Fonts
  --font-family: "Inter", sans-serif;
  --font-family-handwriting: "Neucha", cursive;
  --font-size-base: 1.3rem;

  // Colors
  --color-primary: #0994dc; //#ff6100
  --color-info: #26bfff;
  --color-error: #ff5841;
  --color-success: #cae746;
  --color-warning: #ff7012;

  .light {
    // Fonts
    --font-weigth-base: 400;

    // Box-shadow
    --shadow-sm: 0px 1px 3px var(--color-gray-50);

    // Colors
    --color-bg: white;
    --color-text: var(--color-gray-70);

    --color-gray: black;
    --color-gray-0: white;
    --color-gray-3: color-mix(in srgb, black 3%, white);
    --color-gray-5: color-mix(in srgb, black 5%, white);
    --color-gray-7: color-mix(in srgb, black 7%, white);
    --color-gray-8: color-mix(in srgb, black 8%, white);
    --color-gray-10: color-mix(in srgb, black 10%, white);
    --color-gray-12: color-mix(in srgb, black 12%, white);
    --color-gray-15: color-mix(in srgb, black 15%, white);
    --color-gray-20: color-mix(in srgb, black 20%, white);
    --color-gray-30: color-mix(in srgb, black 30%, white);
    --color-gray-40: color-mix(in srgb, black 40%, white);
    --color-gray-50: color-mix(in srgb, black 50%, white);
    --color-gray-60: color-mix(in srgb, black 60%, white);
    --color-gray-70: color-mix(in srgb, black 70%, white);
    --color-gray-80: color-mix(in srgb, black 80%, white);
    --color-gray-90: color-mix(in srgb, black 90%, white);
    --color-gray-95: color-mix(in srgb, black 95%, white);

    --color-primary-10: color-mix(in srgb, var(--color-primary) 10%, white);
    --color-primary-20: color-mix(in srgb, var(--color-primary) 20%, white);
    --color-primary-30: color-mix(in srgb, var(--color-primary) 30%, white);
    --color-primary-40: color-mix(in srgb, var(--color-primary) 40%, white);
    --color-primary-50: color-mix(in srgb, var(--color-primary) 50%, white);
    --color-primary-60: color-mix(in srgb, var(--color-primary) 60%, white);
    --color-primary-70: color-mix(in srgb, var(--color-primary) 70%, white);
    --color-primary-80: color-mix(in srgb, var(--color-primary) 80%, white);
    --color-primary-90: color-mix(in srgb, var(--color-primary) 90%, white);

    --color-info-10: color-mix(in srgb, var(--color-info) 10%, white);
    --color-info-20: color-mix(in srgb, var(--color-info) 20%, white);
    --color-info-30: color-mix(in srgb, var(--color-info) 30%, white);
    --color-info-40: color-mix(in srgb, var(--color-info) 40%, white);
    --color-info-50: color-mix(in srgb, var(--color-info) 50%, white);
    --color-info-60: color-mix(in srgb, var(--color-info) 60%, white);
    --color-info-70: color-mix(in srgb, var(--color-info) 70%, white);
    --color-info-80: color-mix(in srgb, var(--color-info) 80%, white);
    --color-info-90: color-mix(in srgb, var(--color-info) 90%, white);

    --color-error-10: color-mix(in srgb, var(--color-error) 10%, white);
    --color-error-20: color-mix(in srgb, var(--color-error) 20%, white);
    --color-error-30: color-mix(in srgb, var(--color-error) 30%, white);
    --color-error-40: color-mix(in srgb, var(--color-error) 40%, white);
    --color-error-50: color-mix(in srgb, var(--color-error) 50%, white);
    --color-error-60: color-mix(in srgb, var(--color-error) 60%, white);
    --color-error-70: color-mix(in srgb, var(--color-error) 70%, white);
    --color-error-80: color-mix(in srgb, var(--color-error) 80%, white);
    --color-error-90: color-mix(in srgb, var(--color-error) 90%, white);

    --color-success-10: color-mix(in srgb, var(--color-success) 10%, white);
    --color-success-20: color-mix(in srgb, var(--color-success) 20%, white);
    --color-success-30: color-mix(in srgb, var(--color-success) 30%, white);
    --color-success-40: color-mix(in srgb, var(--color-success) 40%, white);
    --color-success-50: color-mix(in srgb, var(--color-success) 50%, white);
    --color-success-60: color-mix(in srgb, var(--color-success) 60%, white);
    --color-success-70: color-mix(in srgb, var(--color-success) 70%, white);
    --color-success-80: color-mix(in srgb, var(--color-success) 80%, white);
    --color-success-90: color-mix(in srgb, var(--color-success) 90%, white);

    --color-warning-10: color-mix(in srgb, var(--color-warning) 10%, white);
    --color-warning-20: color-mix(in srgb, var(--color-warning) 20%, white);
    --color-warning-30: color-mix(in srgb, var(--color-warning) 30%, white);
    --color-warning-40: color-mix(in srgb, var(--color-warning) 40%, white);
    --color-warning-50: color-mix(in srgb, var(--color-warning) 50%, white);
    --color-warning-60: color-mix(in srgb, var(--color-warning) 60%, white);
    --color-warning-70: color-mix(in srgb, var(--color-warning) 70%, white);
    --color-warning-80: color-mix(in srgb, var(--color-warning) 80%, white);
    --color-warning-90: color-mix(in srgb, var(--color-warning) 90%, white);
  }

  .dark {
    // Fonts
    --font-weigth-base: 300;

    // Colors
    --color-bg: black;
    --color-text: var(--color-gray-80);

    --color-gray: white;
    --color-gray-0: black;
    --color-gray-5: color-mix(in srgb, white 5%, black);
    --color-gray-7: color-mix(in srgb, white 7%, black);
    --color-gray-8: color-mix(in srgb, white 8%, black);
    --color-gray-10: color-mix(in srgb, white 10%, black);
    --color-gray-12: color-mix(in srgb, white 12%, black);
    --color-gray-15: color-mix(in srgb, white 15%, black);
    --color-gray-20: color-mix(in srgb, white 20%, black);
    --color-gray-30: color-mix(in srgb, white 30%, black);
    --color-gray-40: color-mix(in srgb, white 40%, black);
    --color-gray-50: color-mix(in srgb, white 50%, black);
    --color-gray-60: color-mix(in srgb, white 60%, black);
    --color-gray-70: color-mix(in srgb, white 70%, black);
    --color-gray-80: color-mix(in srgb, white 80%, black);
    --color-gray-90: color-mix(in srgb, white 90%, black);
    --color-gray-95: color-mix(in srgb, white 95%, black);

    --color-primary-10: color-mix(in srgb, var(--color-primary) 10%, black);
    --color-primary-20: color-mix(in srgb, var(--color-primary) 20%, black);
    --color-primary-30: color-mix(in srgb, var(--color-primary) 30%, black);
    --color-primary-40: color-mix(in srgb, var(--color-primary) 40%, black);
    --color-primary-50: color-mix(in srgb, var(--color-primary) 50%, black);
    --color-primary-60: color-mix(in srgb, var(--color-primary) 60%, black);
    --color-primary-70: color-mix(in srgb, var(--color-primary) 70%, black);
    --color-primary-80: color-mix(in srgb, var(--color-primary) 80%, black);
    --color-primary-90: color-mix(in srgb, var(--color-primary) 90%, black);

    --color-info-10: color-mix(in srgb, var(--color-info) 10%, black);
    --color-info-20: color-mix(in srgb, var(--color-info) 20%, black);
    --color-info-30: color-mix(in srgb, var(--color-info) 30%, black);
    --color-info-40: color-mix(in srgb, var(--color-info) 40%, black);
    --color-info-50: color-mix(in srgb, var(--color-info) 50%, black);
    --color-info-60: color-mix(in srgb, var(--color-info) 60%, black);
    --color-info-70: color-mix(in srgb, var(--color-info) 70%, black);
    --color-info-80: color-mix(in srgb, var(--color-info) 80%, black);
    --color-info-90: color-mix(in srgb, var(--color-info) 90%, black);

    --color-error-10: color-mix(in srgb, var(--color-error) 10%, black);
    --color-error-20: color-mix(in srgb, var(--color-error) 20%, black);
    --color-error-30: color-mix(in srgb, var(--color-error) 30%, black);
    --color-error-40: color-mix(in srgb, var(--color-error) 40%, black);
    --color-error-50: color-mix(in srgb, var(--color-error) 50%, black);
    --color-error-60: color-mix(in srgb, var(--color-error) 60%, black);
    --color-error-70: color-mix(in srgb, var(--color-error) 70%, black);
    --color-error-80: color-mix(in srgb, var(--color-error) 80%, black);
    --color-error-90: color-mix(in srgb, var(--color-error) 90%, black);

    --color-success-10: color-mix(in srgb, var(--color-success) 10%, black);
    --color-success-20: color-mix(in srgb, var(--color-success) 20%, black);
    --color-success-30: color-mix(in srgb, var(--color-success) 30%, black);
    --color-success-40: color-mix(in srgb, var(--color-success) 40%, black);
    --color-success-50: color-mix(in srgb, var(--color-success) 50%, black);
    --color-success-60: color-mix(in srgb, var(--color-success) 60%, black);
    --color-success-70: color-mix(in srgb, var(--color-success) 70%, black);
    --color-success-80: color-mix(in srgb, var(--color-success) 80%, black);
    --color-success-90: color-mix(in srgb, var(--color-success) 90%, black);

    --color-warning-10: color-mix(in srgb, var(--color-warning) 10%, black);
    --color-warning-20: color-mix(in srgb, var(--color-warning) 20%, black);
    --color-warning-30: color-mix(in srgb, var(--color-warning) 30%, black);
    --color-warning-40: color-mix(in srgb, var(--color-warning) 40%, black);
    --color-warning-50: color-mix(in srgb, var(--color-warning) 50%, black);
    --color-warning-60: color-mix(in srgb, var(--color-warning) 60%, black);
    --color-warning-70: color-mix(in srgb, var(--color-warning) 70%, black);
    --color-warning-80: color-mix(in srgb, var(--color-warning) 80%, black);
    --color-warning-90: color-mix(in srgb, var(--color-warning) 90%, black);
  }

  // Notifications
  --notification-width: 33.5rem;

  // Job
  --job-view-main-max-width: 90rem;
}
