<div class="modal-basic">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="heading">Ajouter une métadonnée</h2>
    <h3 class="subHeading subHeading-info">{{ title }}</h3>

    <div class="main">
      <label class="label required">Valeur</label>
      <input class="input" formControlName="value" type="text" />
    </div>

    <div class="actions">
      <app-cancel-button modalClose />

      <app-save-button />
    </div>
  </form>
</div>
