@if (columns) {
  <ul class="container">
    @for (column of columns; let index = $index; track column) {
      <li
        [style.flex]="column.flex"
        (click)="onSortData(index)"
        [class.sortable]="!column.notSortable"
        [class.text-center]="column.textAlign === 'center'"
        [class.text-right]="column.textAlign === 'right'"
      >
        @if (column.label) {
          <span
            class="label"
            [class.text-center]="column.textAlign === 'center'"
            [class.text-right]="column.textAlign === 'right'"
          >
            {{ column.label | uppercase }}
          </span>
        }

        @if (column.icon) {
          <span class="material-symbols-outlined icon">
            {{ column.icon }}
          </span>
        }

        @if (displaySortSymbol(index)) {
          <span
            class="material-icons"
            [class.ml-0-2]="column.textAlign === 'right'"
          >
            {{ headingColumnSortIcon }}
          </span>
        }
      </li>
    }
  </ul>
}
