.container {
  display: flex;
  border-radius: 1rem;
  background-color: var(--color-gray-15);
  align-items: center;
  column-gap: 1rem;
  padding: 2rem;
  height: 6rem;

  &.right {
    .label {
      text-align: right;
    }

    .icon {
      display: flex;
      justify-content: flex-end;
    }
  }

  &.center {
    .label {
      text-align: center;
    }

    .icon {
      display: flex;
      justify-content: center;
    }
  }

  & > li {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    flex-grow: 0;
    min-width: 4rem;

    &.sortable {
      &:hover {
        cursor: pointer;
      }
    }

    .label {
      flex: 1;
    }

    .icon {
      flex: 1;
    }

    .material-icons {
      font-size: 1.7rem;
      width: 1.7rem;
      height: 1.7rem;
    }
  }
}
