<div class="modal modal-full">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-message type="error" [message]="error" />

    <app-select
      class="select"
      formControlName="name"
      [searchbar]="true"
      [canClearValue]="true"
      [items]="list$"
    />

    <div class="d-flex mt-2">
      <app-cancel-button modalClose />
      <app-save-button class="ml-0-5" />
    </div>
  </form>
</div>
