.alert {
  width: 100%;
  min-width: 33.5rem;
  max-width: 50rem;
  padding: 3rem;
  border-radius: 0.6rem;
  border: 1px solid var(--color-gray-40);
}

.light .alert {
  background-color: white;

  &.primary {
    border-color: var(--color-primary);
  }

  &.info {
    border-color: var(--color-info);
  }

  &.success {
    border-color: var(--color-success);
  }

  &.warning {
    border-color: var(--color-warning);
  }

  &.error {
    border-color: var(--color-error);
  }
}

.dark .alert {
  background-color: var(--color-gray-10);

  &.primary {
    border-color: var(--color-primary-50);
  }

  &.info {
    border-color: var(--color-info-50);
  }

  &.success {
    border-color: var(--color-success-50);
  }

  &.warning {
    border-color: var(--color-warning-50);
  }

  &.error {
    border-color: var(--color-error-50);
  }
}
