<div [ngClass]="['alert', style]" (clickOutside)="onClickOutside()">
  <h2 class="text-center">{{ title }}</h2>
  <p class="mt-1 mb-3 text-center">{{ message }}</p>

  <div class="d-flex justify-content-center">
    @if (canCancel) {
      <button class="btn btn-sm mr-0-5" (click)="onDecline()">
        {{ declineLabel }}
      </button>
    }

    <button [ngClass]="['btn', confirmButtonStyle]" (click)="onConfirm()">
      {{ confirmLabel }}
    </button>
  </div>
</div>
