<div class="container" [class.expanded]="expanded">
  <div class="title" (click)="toggleExpanded()">
    <span class="material-symbols-outlined icon">package_2</span>

    <span class="reference">{{ item.description }}</span>

    <span class="material-icons">
      {{ expanded ? "expand_less" : "expand_more" }}
    </span>
  </div>

  <div class="items">
    <div class="item">
      <dl class="definition">
        <dt>Quantité</dt>
        <dd>{{ item.quantity }}</dd>
      </dl>

      @if (item.packedPer && item.packedPer > 0) {
        <dl class="definition">
          <dt>Emballé par</dt>
          <dd>{{ item.packedPer }}</dd>
        </dl>
      }

      @if (item.packages && item.packages > 0) {
        <dl class="definition">
          <dt>Nombre de colis</dt>
          <dd>{{ item.packages }}</dd>
        </dl>
      }

      @if (item.remark) {
        <dl class="definition">
          <dt>Remarque</dt>
          <dd>{{ item.remark }}</dd>
        </dl>
      }

      @if (item.extraInfo) {
        <dl class="definition">
          <dt>Info supplémentaire</dt>
          <dd>{{ item.extraInfo }}</dd>
        </dl>
      }

      <dl class="definition">
        <dt>Poids</dt>
        <dd>{{ item.weight }} kg</dd>
      </dl>
    </div>
  </div>
</div>
