.container {
  padding-top: 0.6rem;

  .title {
    padding: 0.3rem;
    background-color: var(--color-gray-15);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;

    &:hover {
      cursor: pointer;
    }

    .reference {
      flex: 1;
    }
  }

  .items {
    height: 0;
    overflow-y: hidden;

    .item {
      border-left: 1px solid var(--color-gray-30);
      border-right: 1px solid var(--color-gray-30);
      border-top: 1px solid var(--color-gray-30);
      padding: 0 1rem;

      &:last-child {
        border-bottom: 1px solid var(--color-gray-30);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }

      .definition {
        dd {
          white-space: pre-line;
        }
      }
    }
  }

  &.expanded {
    .title {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .items {
      height: unset;
    }
  }
}
